<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 

<body> 
    <div th:fragment="navbar">
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content scrollbar">
                <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav"> 
                    <li class="nav-item">
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">경덕산업 MES System
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div> 
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd01" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">기준정보</span>  
                            </div>
                        </a>                        
                        <!-- th:if="${CommDto.MenuCode} == 'appcom01'" class="nav-link active"  -->
                        <ul class="nav collapse false" id="menucd01">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app01/index07}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">거래처등록</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index05}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">품목등록</span>  
                                    </div>
                                </a> 
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index05}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">원자재관리</span>  
                                    </div>
                                </a> 
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index05}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">부자재관리</span>  
                                    </div>
                                </a> 
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index01}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">공통코드등록</span>  
                                    </div>
                                </a> 
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index06}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">소모량관리</span>  
                                    </div>
                                </a> 
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index02}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">공정별설비등록</span>  
                                    </div>
                                </a> 
                            </li>  
                        </ul>  
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">생산계획
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div> 
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd02" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">생산계획</span>  
                            </div>
                        </a>    
                        <ul class="nav collapse false" id="menucd02">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index11}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">실시간생산현황</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">실시간불량현황</span>  
                                    </div>
                                </a>  
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">제품별완료수량</span>  
                                    </div>
                                </a>  
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">주간생산계획관리</span>  
                                    </div>
                                </a>  
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">일별생산계획관리</span>  
                                    </div>
                                </a>  
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">월별생산계획관리</span>  
                                    </div>
                                </a>  
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">생산계획대비현황</span>  
                                    </div>
                                </a>  
                            </li>  
                        </ul>  
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd03" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">작업지시관리</span>  
                            </div>
                        </a>     
                        <ul class="nav collapse false" id="menucd03">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index21}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">작업지시등록</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index22}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">업체별작업지시현황</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index23}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">제품별작업지시현황</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index24}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">사원별작업지시현황</span>  
                                    </div>
                                </a>  
                            </li>   
                        </ul>    
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">공정관리
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div> 
                        <!-- parent pages-->
                        <a class="nav-link" th:href="@{/appm/list03}"  role="button"
                            aria-expanded="false">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-comments"></span></span><span
                                    class="nav-link-text ps-1">원자재입출고관리</span>
                            </div>
                        </a>       
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd04" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">사출관리</span>  
                            </div>
                        </a>     
                        <ul class="nav collapse false" id="menucd04"> 
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index22}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">사출등록</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index15}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">사출일지조회</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index24}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">불량현황조회</span>  
                                    </div>
                                </a>  
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index24}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">사출기수집알림</span>  
                                    </div>
                                </a>  
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index24}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">생산현황조회</span>  
                                    </div>
                                </a>  
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index24}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">불량추이도조회</span>  
                                    </div>
                                </a>  
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app03/index24}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">생산현황조회</span>  
                                    </div>
                                </a>  
                            </li>     
                        </ul>             
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd05" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">검사관리</span>  
                            </div>
                        </a>     
                        <ul class="nav collapse false" id="menucd05">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/appm/index41}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">검사등록</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index13}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">일별검사일보</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index14}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">월별검사불량</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index14}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">일별검사불량</span>  
                                    </div>
                                </a>  
                            </li>         
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index14}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">유형별검사불량</span>  
                                    </div>
                                </a>  
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index13}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">일별사원검사일보</span>  
                                    </div>
                                </a>  
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index13}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">월별사원검사일보</span>  
                                    </div>
                                </a>  
                            </li>  
                        </ul>   
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">출하/재고
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div> 
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd06" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">출하관리</span>  
                            </div>
                        </a>   
                        <ul class="nav collapse false" id="menucd06">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index16}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">출하등록</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index16}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">출하현황</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index16}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">지역별출하내역</span>  
                                    </div>
                                </a>  
                            </li>    
                        </ul>    
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd07" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">재고관리</span>  
                            </div>
                        </a>   
                        <ul class="nav collapse false" id="menucd07">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index16}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">기초재고</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index16}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">제품별재고현황</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index16}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">재고조정</span>  
                                    </div>
                                </a>  
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index16}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">재고설정</span>  
                                    </div>
                                </a>  
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index16}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">제품수불원장</span>  
                                    </div>
                                </a>  
                            </li>  
                        </ul>   
                    </li>  
                </ul>
                <div class="settings mb-3">
                    <div class="card alert p-0 shadow-none" role="alert"> 
                        <div class="card-body text-center"><img th:src="@{assets/img/icons/spot-illustrations/navbar-vertical.png}" alt="" width="80" />
                            <p class="fs--2 mt-2">문의하고 싶으신가요? <br /><a href="#!">원격지원</a>을 통해 상담받으세요 </p>
                            <div class="d-grid"><a class="btn btn-sm btn-purchase" href="https://939.co.kr/daesan" target="_blank">원격지원</a></div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</body>
</html>