<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 

<body> 
    <div th:fragment="navbar">
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content scrollbar">
                <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav"> 
                    <li class="nav-item">
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">경덕산업 MES System
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div>  
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd01" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">기준정보</span>  
                            </div>
                        </a>                        
                        <!-- th:if="${CommDto.MenuCode} == 'appcom01'" class="nav-link active"  -->
                        <ul class="nav collapse false" id="menucd01">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app01/index07}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">거래처등록</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index05}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">품목등록</span>  
                                    </div>
                                </a> 
                            </li>  
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index01}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">공통코드등록</span>  
                                    </div>
                                </a> 
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index06}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">소요량관리</span>  
                                    </div>
                                </a> 
                            </li> 
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index08}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">금형등록</span>  
                                    </div>
                                </a> 
                            </li>  
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index22}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">설비카드등록</span>  
                                    </div>
                                </a> 
                            </li>  
                            <li class="nav-item"> 
                                <a class="nav-link" th:href="@{/app01/index02}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">공정별설비</span>  
                                    </div>
                                </a> 
                            </li>  
                        </ul>  
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">모니터링
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div> 
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd02" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">모니터링</span>  
                            </div>
                        </a>    
                        <ul class="nav collapse false" id="menucd02">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/auth/emmsdashboard}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">실시간현황</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app01/indexds04}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">생산가동현황</span>  
                                    </div>
                                </a>  
                            </li>  
                            <!-- <li class="nav-item">
                                <a class="nav-link" th:href="@{/app01/indexds03}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">제품별완료수량</span>  
                                    </div>
                                </a>  
                            </li>  -->
                        </ul>  
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">등록
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div> 
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd03" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">공정등록</span>  
                            </div>
                        </a>    
                        <ul class="nav collapse false" id="menucd03"> 
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index10}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">주간생산계획등록</span>  
                                    </div>
                                </a>  
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index15}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">원자재입출고등록</span>  
                                    </div>
                                </a>  
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app01/index09}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">사출공정</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index41}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">검사등록</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index45}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">조립등록</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index21}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">출하등록</span>  
                                    </div>
                                </a>  
                            </li>   
                        </ul>   
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">조회
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div>  
                         
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd04" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">공정조회</span>  
                            </div>
                        </a>     
                        <ul class="nav collapse false" id="menucd04">  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index11}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">주간생산계획조회</span>  
                                    </div>
                                </a>  
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index53}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">생산현황조회</span>  
                                    </div>
                                </a>  
                            </li>     
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index51}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">사출일지조회</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index52}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">불량현황조회</span>  
                                    </div>
                                </a>  
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index55}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">검사일보</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index56}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">검사불량조회</span>  
                                    </div>
                                </a>  
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index57}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">사원별검사일보</span>  
                                    </div>
                                </a>  
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index64}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">일별조립현황</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index58}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">제품별잔량현황</span>  
                                    </div>
                                </a>  
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index17}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">생산계획대비현황(KPI)</span>  
                                    </div>
                                </a>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index54}" aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">불량추이도조회</span>  
                                    </div>
                                </a>  
                            </li>      
                        </ul>     
                        <!-- label-->
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">재고
                            </div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" /> 
                            </div>
                        </div>  
                        <!-- parent pages-->
                        <a class="nav-link dropdown-indicator" href="#menucd07" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">재고관리</span>  
                            </div>
                        </a>   
                        <ul class="nav collapse false" id="menucd07">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index59}"  aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">기초재고</span>  
                                    </div>
                                </a> 
                                <!-- more inner pages-->
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index60}"  aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">제품별재고현황</span>  
                                    </div>
                                </a>  
                            </li>   
                            <!-- <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index61}"  aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">재고조정</span>  
                                    </div>
                                </a>  
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index62}"  aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">재고설정</span>  
                                    </div>
                                </a>  
                            </li>     -->
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/app02/index63}"  aria-expanded="false" >
                                    <div class="d-flex align-items-center"><span
                                        class="nav-link-text ps-1">제품수불원장</span>  
                                    </div>
                                </a>  
                            </li>  
                        </ul>  
                        <a class="nav-item" href="#" role="button"  
                                onclick="
                                    if (!confirm('로그아웃하시겠습니까?')) {
                                        return;
                                    }
                                    localStorage.removeItem('perid');
                                    localStorage.removeItem('pernm');
                                    localStorage.removeItem('userid');
                                    localStorage.removeItem('flag');
                                    localStorage.removeItem('custnm');
                                    location.href = '/';
                                "
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="withdraw">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        class="fas fa-envelope-open"></span></span><span
                                    class="nav-link-text ps-1">로그아웃</span>  
                            </div>
                        </a>   
                    </li> 
                </ul>   
            </div>
        </div>
    </div>
</body>
 
</html>