
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 

<body>
    <footer class="footer" th:fragment="XDashBoard_footer"> 
        <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">Thank you for creating with ActasMES <span class="d-none d-sm-inline-block">|
                    </span><br class="d-sm-none" /> 2022 &copy; <a th:href="@{/members/user}">ACTAS MES</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v1.0.0</p>
            </div>
        </div>
    </footer>
</body>

</html>