<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>경덕산업</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>  
</head> 
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
</style>

<body style="background: #f5f9fa;">
    <form class="row gy-2 gx-4 align-items-center" role="form" th:object="${userFormDto}" ></form>
    <div class="content flex">
        
            <div class="header on">
                <div class="left">
                    <div class="ham">
                        <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                    </div>
                    <div class="nav_bg"></div> 
                    <!-- ## Left navigator include -->
                    <th:block th:include="layouts/APPHeader/appcareleftadmin" />
                </div>
                <div class="right">
                </div> 
            </div>
            <div class="con">
                <!-- ## header top include -->
                <th:block th:include="layouts/APPHeader/appheadTop" />

                <!-- <div class="infor_bar type2">
                    <div class="left">
                        사용자관리
                    </div>
                    <ul class="right">
                        <li>
                            <button type="button" class="color2" id="retrieveBtn"> 
                                <i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                            </button>
                        </li> 
                    </ul>
    
                </div>  -->
                <div class="section ">                
                    <div class="sec_con" style="width: 100%;">
                        <div class="box_wrap">
                            <!-- <ul class="search_box"> 
                                <li>
                                    <div class="input-group mb-3"><span class="input-group-text" id="basic-addon1">사용자명</span>
                                        <input class="form-control" type="text" placeholder="사원아이디 또는 사용자명을 입력하세요" id="actusernamez" name="actusernamez" aria-label="actnmz" aria-describedby="basic-addon1" onkeyup="if(window.event.keyCode==13){listUp()}" />                                                                            
                                      </div>
                                </li>  
                            </ul> -->
                            <div class="row gx-3" style="  margin: 10px 10px 10px;">   
                                <div class="col-2 col-sm-2">
                                    <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">사용자</span>
                                        <input class="form-control" type="text" placeholder="사원아이디/사용자명" id="actusernamez" name="actusernamez" aria-label="actnmz" aria-describedby="basic-addon1" onkeyup="if(window.event.keyCode==13){listUp()}" /> 
                                    </div>                                  
                                </div> 
                                <div class="col-auto">  
                                    <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">아이디</span>
                                        <input class="form-control" type="text"   id="userid" name="userid" aria-describedby="basic-addon1" />
                                        <input class="form-control" type="hidden"   id="actseq" name="actseq" aria-describedby="basic-addon1" />
                                        <input class="form-control" type="hidden"   id="actuseyn" name="actuseyn" aria-describedby="basic-addon1" />
                                    </div>  
                                </div>  
                                <div class="col-auto"> 
                                    <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">비밀번호</span>
                                        <input class="form-control" type="text"   id="actuserpwz" name="actuserpwz" aria-describedby="basic-addon1" />
                                    </div>  
                                </div>  
                                <div class="col-auto">  
                                    <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="retrieveBtn" >조회
                                    </button> 
                                </div>   
                                <div class="col-auto">   
                                    <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="save_btn()">수정
                                    </button>
                                </div>    
                                <div class="col-auto">  
                                    <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="addBtn" >등록
                                    </button> 
                                </div> 
                                <!-- <div class="col-auto">   
                                    <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="delete_btn()">삭제
                                    </button>
                                </div>   -->
                            </div> 
                            <form action="">
                                 
                                <div class="container-fluid"> 
                                    <div id="mGrid_div" style="overflow:scroll;   height:600px;   margin:0 auto; "></div>
                                    <!-- <div id="thePager01"></div> -->
                                </div>   

                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <input class="form-control form-control-sm"  type="hidden" id="actnmbtn" data-bs-toggle="modal" data-bs-target="#actnmmodal"  />  

    </div>



    <!--------------------------------------------------------------------------------------->   
    <!--  사용자 메뉴관리 MODAL FROM  -->  
    <!-- <div class="modal fade" id="actnmmodal" data-bs-keyboard="false"
    data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
        <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"  style="max-width: 570px">
            <div class="modal-content border-0"> 
                <div class="modal_content modal_sm scrollbar" style="width:600px; height:800px">
                    <div class="layoutCont">
                        <div class="modalContWrap"> 
                            <div class="modal_head">
                                사용자 메뉴관리
                            </div>
                            <div class="modal_con scrollbar auto_height" style="overflow-y: scroll;">
                                <div class="modal-body p-0" > 
                                    <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light"> 
                                        <div class="search">
                                            <div class="input_wrap">
                                                <input class="form-control form-control-sm" id="searchtext" type="text"   onkeyup="if(window.event.keyCode==13){listUp02()}"
                                                placeholder="사용자명 "     />                                      
                                            </div>
                                            <button id="wactlistBtn" onclick="listUp02()">
                                                <img th:src="@{/assets/images/i_search.png}" alt=""> 
                                            </button>
                                        </div>  
                                    </div>    
                                    <div class="container-fluid"> 
                                        <div id="wapp01Grid_div" ></div>
                                        <div id="thePager02"></div>
                                    </div>   
                                </div>  
            
                                <div class="modal-footer">
                                    <div class="row g-1">
                                        <div class="col-auto">
                                            <button class="badge-soft-primary dropdown-item rounded-1"
                                            type="button"  id="wactnmmodal_btn" data-bs-dismiss="modal">Close</button>
                                        </div> 
                                    </div>
                                </div>   
                            </div>

                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>   -->
<!--------------------------------------------------------------------------------------->  

<!--------------------------------------------------------------------------------------->   
    <!--  사용자 추가 MODAL FROM  -->  
    <div class="modal fade" id="actnmmodal" data-bs-keyboard="false"
        data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01" style="max-width: 800px">
            <div class="modal-content border-0">
                <div class="modal-body p-0" > 
                    <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">                            
                        <div class="box_con_wrap">
                            <div class="box_con">
                                <div class="logo">
                                    <a th:href="@{/}">
                                    <img src="/images/logo.png" alt="">
                                    </a>
                                </div>
                                <!--------------------------------------------------------------------------------------->   
                                <div class="form"> 
                                    <div class="form_wrap">  
                                            <div class="input_wrap flex">
                                                <p>아이디</p>
                                                <input type="text" id="useridadd" name="useridadd"   /> 
                                            </div> 
                                            <div class="input_wrap flex">
                                                <p>비밀번호</p>
                                                <input type="password" id="passwd1" name="passwd1" onchange="check_pw()"  />
                                                
                                            </div>  
                                            <div class="input_wrap flex">
                                                <p>비밀번호 확인</p>
                                                <input type="password" id="passwd2" name="passwd2" onchange="check_pw()"  /> 
                                            </div>
                                            <span id="check" style="margin-left: 140px"></span> 
                                            <div class="input_wrap flex">
                                                <p>품목구분</p> 
                                                <div class="input_wrap" style="max-width: 235px;">
                                                    <select class="form-select" th:field="*{index01ListDto}" name="custnm" id="custnm"> 
                                                        <option th:each="val : ${index01ListDto}" th:value="${val.com_code}" th:text="${val.com_rem1}">
                                                    </select>    
                                                </div>
                                            </div>   
                                            <div class="input_wrap flex">
                                                <p>사용자명</p>
                                                <input type="text" id="username" name="username"   /> 
                                            </div>   
                                            <div class="btn_wrap">
                                                <button type="button" name="add_btn" id="add_btn" onclick="add_btn()">본사사용자등록</button>
                                            </div> 
                                    </div>
                                </div>
                                <!--------------------------------------------------------------------------------------->   
                            </div>
                        </div>  
                    </div> 
                </div>  

                <div class="modal-footer">
                    <div class="row g-1"> 
                        <div class="col-auto">
                            <button class="badge-soft-primary dropdown-item rounded-1"
                                type="button"  id="actnmmodal_btn" data-bs-dismiss="modal">Close</button>
                        </div> 
                    </div>
                </div>   
            </div>
        </div> 
    </div>   
<!--------------------------------------------------------------------------------------->  


    <script type="text/javascript" th:inline="javascript"> 

    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //현장 검색   
    var wapp04Grid ;
    var view_Mmanualpage;
    var wapp01Grid ;
    var view_menuviewpage;
    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
        listUp();

    })        
    document.getElementById("addBtn").addEventListener("click",function(){  
        document.getElementById("actnmbtn").click(); 
    })  
    function menumodal_click(arg1, arg2, arg3, arg4, arg5){  
        document.getElementById('actseq').value = arg1;  
        document.getElementById('userid').value = arg2;  
        document.getElementById('actuseyn').value = arg3;  
        document.getElementById('actusernamez').value = arg4;  
        document.getElementById('actuserpwz').value = arg5;  
        // document.getElementById("actnmbtn").click();
        // document.getElementById('searchtext').value = arg1;  
        // listUp02(); 
    }
    function tabA_grid(data){
        // console.log(data)
            var wtab01Dto  = data;    
            var wtab01_data = [];
            var cnt = 1;
            for (var i = 0; i < wtab01Dto.length; i++) {
                wtab01_data.push({
                    id: i, 
                    index: cnt, 
                    seq:     wtab01Dto[i]["seq"],
                    userid:     wtab01Dto[i]["userid"],
                    username: wtab01Dto[i]["username"], 
                    useyn:   wtab01Dto[i]["useyn"],
                    flag : wtab01Dto[i]["flag"] ,
                    phone : wtab01Dto[i]["phone"] ,
                    perid : wtab01Dto[i]["perid"] ,
                    passwd1 : wtab01Dto[i]["passwd1"]                                 
                });
                cnt++;
            }    
            wapp04Grid.columns.clear();  
            wapp04Grid.autoGenerateColumns = false; 
            view_Mmanualpage.sourceCollection  = wtab01_data;
            var cols = new wijmo.grid.Column();  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'flag';
            cols.header = '사용여부';
            cols.align = "center";
            cols.width = '*'; 
            cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                text: '<b>${item.flag}</b>',
                click: (e, ctx) => {
                    wactnmChk_2(ctx.item.seq, ctx.item.userid, ctx.item.useyn, ctx.item.username, ctx.item.passwd1 );
                }
            });
            wapp04Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'userid';
            cols.header = '아이디';
            cols.align = "center";
            cols.width = '*'; 
            cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                text: '<b>${item.userid}</b>',
                click: (e, ctx) => {
                    menumodal_click(ctx.item.seq, ctx.item.userid, ctx.item.useyn, ctx.item.username, ctx.item.passwd1);
                }
            }); 
            wapp04Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'passwd1';
            cols.header = '비밀번호';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'username';
            cols.header = '사용자';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'perid';
            cols.header = '사원번호';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols);   
            cols = new wijmo.grid.Column(); 
            cols.binding = 'phone';
            cols.header = '전화번호';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols);
 
        }

        function save_btn(){  
            var ls_actseq = document.getElementById('actseq').value;  
            var ls_userid = document.getElementById('userid').value ;   
            var ls_actuseyn = document.getElementById('actuseyn').value ;  
            var ls_actusernamez = document.getElementById('actusernamez').value;  
            var ls_actuserpwz = document.getElementById('actuserpwz').value;  
        
            if (!confirm("수정하시겠습니까?")) {
                    return ; 
            }   
            if(ls_actseq == null || ls_actseq.length == 0 || ls_actseq == ""){ 
                alert("수정할 아이디를 먼저 클릭하세요")  
                return ;               
            }   
            if(ls_userid == null || ls_userid.length == 0 || ls_userid == ""){ 
                alert("아이디를 등록 하세요")  
                return ;               
            }     
            if(ls_actusernamez == null || ls_actusernamez.length == 0 || ls_actusernamez == ""){ 
                alert("사용자명을 등록 하세요")  
                return ;               
            }    
            if(ls_actuserpwz == null || ls_actuserpwz.length == 0 || ls_actuserpwz == ""){ 
                alert("비밀번호를 등록 하세요")  
                return ;               
            }   

            $.ajax({
                url: '/appadmod/id01mod',   
                type:"POST",
                data: {
                    "actseqz"    : ls_actseq ,
                    "actuseridz"    : ls_userid ,
                    "actuseynz"    : ls_actuseyn ,
                    "actusernmz"    : ls_actusernamez,
                    "actuserpwz"    : ls_actuserpwz
                },
                async:false,
                success:function(data){
                    if(data == "success"){
                        alert("수정되었습니다.")
                        // console.log("MOD", data); 
                        listUp();
                    }else{
                        if(data == "relogin"){
                            alert("다시 로그인해주세요")
                            window.location.href='http://mes.c-kd.com';
                            return 
                        }       
                        alert("변경중 오류가 발생했습니다. 관리자에게 문의하세요.")
                    }
                },error:function(e){
                    console.log('error',e);
                }
            }).done(function(fragment){

            })

          listUp();
 
        }     

        function wactnmChk_2(arg0, arg1, arg2, arg3, arg4){ 
            //ctx.item.seq, ctx.item.userid, ctx.item.useyn, ctx.item.username, ctx.item.passwd1 
            if (arg2 == "Y"){
                if (!confirm(arg3 + " : 미사용으로 변경하시겠습니까?")) {
                    return ;
                } 
                arg2 = "N"
            }else{
                if (!confirm(arg3 + " : 사용으로 변경하시겠습니까?")) {
                    return ;
                } 
                arg2 = "Y"
            }
            $.ajax({
                url: '/appadmod/id01mod',   
                type:"POST",
                data: {
                    "actseqz"    : arg0 ,
                    "actuseridz"    : arg1 ,
                    "actuseynz"    : arg2 ,
                    "actusernmz"    : arg3,
                    "actuserpwz"    : arg4
                },
                async:false,
                success:function(data){
                    if(data == "success"){
                        alert("변경되었습니다.")
                        // console.log("MOD", data); 
                        listUp();
                    }else{
                        if(data == "relogin"){
                            alert("다시 로그인해주세요")
                            window.location.href='http://mes.c-kd.com';
                            return 
                        }       
                        alert("변경중 오류가 발생했습니다. 관리자에게 문의하세요.")
                    }
                },error:function(e){
                    console.log('error',e);
                }
            }).done(function(fragment){

            })

          listUp();
 
        }      


        
        function listUp(){
        var ls_actusernamez = document.getElementById('actusernamez').value;  
            if(ls_actusernamez == null || ls_actusernamez.length == 0 || ls_actusernamez == ""){
                ls_actusernamez = "%"; 
            }   
            $.ajax({
                url: '/appadmod/id01list',  
                type:"POST",
                data: { 
                    "actusernamez"      : ls_actusernamez,  
                }, 
                async:false,
                success:function(data){   
                    tabA_grid(data);
                },error:function(e){
                    console.log("error");
                    // alert(data.code);
                    // alert(data.message);
                }
            }).done(function(fragment){           

            })  
    }



        
    function tabB_grid(data){ 
            var wtab01Dto  = data;    
            var wtab01_data = [];
            var cnt = 1;
            for (var i = 0; i < wtab01Dto.length; i++) {
                wtab01_data.push({
                    id: i, 
                    index: cnt, 
                    menudv:     wtab01Dto[i]["menudv"],
                    menuid:     wtab01Dto[i]["menuid"],
                    mname: wtab01Dto[i]["mname"], 
                    username:   wtab01Dto[i]["username"],
                    visible : wtab01Dto[i]["visible"] ,   
                    userid : wtab01Dto[i]["userid"] ,                                 
                });
                cnt++;
            }     
            wapp01Grid.columns.clear();  
            wapp01Grid.autoGenerateColumns = false; 
            view_menuviewpage.sourceCollection  = wtab01_data;
            var cols = new wijmo.grid.Column();  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'visible';
            cols.header = '사용여부';
            cols.align = "center";
            cols.width = '*'; 
            cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                text: '<b>${item.visible}</b>',
                click: (e, ctx) => {
                    wactnmChk_3(ctx.item.userid, ctx.item.menuid, ctx.item.visible, ctx.item.mname);
                }
            });
            wapp01Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'menuid';
            cols.header = '메뉴아이디';
            cols.align = "center";
            cols.width = '*'; 
            wapp01Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'mname';
            cols.header = '메뉴명';
            cols.align = "center";
            cols.width = '*'; 
            wapp01Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'username';
            cols.header = '사용자';
            cols.align = "center";
            cols.width = '*'; 
            wapp01Grid.columns.push(cols);    
 
        }
    
        
    function listUp02(){
        var ls_searchtext = document.getElementById('searchtext').value;  
            if(ls_searchtext == null || ls_searchtext.length == 0 || ls_searchtext == ""){
                alert("사용아이디를 입력하세요");
                return 
            }   
            $.ajax({
                url: '/authcrud/menulist',  
                type:"POST",
                data: { 
                    "searchtext"      : ls_searchtext,  
                }, 
                async:false,
                success:function(data){   
                    // console.log(data);
                    tabB_grid(data);
                },error:function(e){
                    console.log("error");
                    // alert(data.code);
                    // alert(data.message);
                }
            }).done(function(fragment){           

            })  
    }

    

    function wactnmChk_3(arg1, arg2, arg3, arg4){  
        
            if (arg3 == "사용"){
                if (!confirm(arg4 + " : 미사용으로 변경하시겠습니까?")) {
                    return ;
                } 
                arg3 = "N"
            }else{
                if (!confirm(arg4 + " : 사용으로 변경하시겠습니까?")) {
                    return ;
                } 
                arg3 = "Y"
            }
            $.ajax({
                url: '/appadmod/id01menumod',   
                type:"POST",
                data: {
                    "actuseridz"    : arg1 ,
                    "actmenuidz"    : arg2,
                    "actviewz"      : arg3
                },
                async:false,
                success:function(data){
                    if(data == "success"){
                        alert("변경되었습니다.")
                        // console.log("MOD", data); 
                        listUp();
                    }else{
                        if(data == "relogin"){
                            alert("다시 로그인해주세요")
                            window.location.href='http://mes.c-kd.com';
                            return 
                        }       
                        alert("변경중 오류가 발생했습니다. 관리자에게 문의하세요.")
                    }
                },error:function(e){
                    console.log('error',e);
                }
            }).done(function(fragment){

            })

          listUp02();
 
        }      


//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    window.onload = function() { 
        view_Mmanualpage = new wijmo.collections.CollectionView(getData_wlist(), {
            pageSize: 20
        });  
        // 페이지 이동
        // new wijmo.input.CollectionViewNavigator('#thePager01', {
        //     byPage: true,
        //     headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
        //     cv: view_Mmanualpage
        // });     
        wapp04Grid = new wijmo.grid.FlexGrid('#mGrid_div', {  
            autoGenerateColumns: false, 
            selectionMode: 'RowRange',
            alternatingRowStep: 0,
            columns: [   
            
                { binding: 'flag',width: '*', header: '사용여부', width: '*', align:"center", format: '*' ,
                        cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                            text: '<b>${item.flag}</b>',
                            click: (e, ctx) => {
                                wactnmChk_2(ctx.item.seq, ctx.item.userid, ctx.item.useyn, ctx.item.username, ctx.item.passwd1  );
                            }
                        })
                    },   
                { binding: 'userid', header: '아이디', width: '*',   align:"center",  isReadOnly: true ,
                        cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                            text: '<b>${item.userid}</b>',
                            click: (e, ctx) => {
                                menumodal_click(ctx.item.seq, ctx.item.userid, ctx.item.useyn, ctx.item.username, ctx.item.passwd1   );
                            }
                        })} , 
                { binding: 'passwd1', header: '비밀번호', width: '*', format: '*' , align:"center", isReadOnly: true}, 
                { binding: 'username', header: '사용자', width: '*', format: '*' , align:"center", isReadOnly: true}, 
                { binding: 'perid', header: '사원번호', width: '*', format: '*', align:"center", isReadOnly: true },  
                { binding: 'phone', header: '전화번호', width: '*', format: '*', align:"center", isReadOnly: true },  
            ], 
            itemsSource: view_Mmanualpage
        });  
        // wapp04Grid.formatItem.addHandler((s, e) => {
        //         if (e.panel == s.cells) {
        //             // 짝수 행 일 때
        //             if (e.row % 2 == 0) {
        //                 e.cell.style.backgroundColor = "rgb(232, 241, 255)";
        //             }
        //             // 홀수 행 일 때
        //             else if (e.row % 2 == 1) {
        //                 e.cell.style.backgroundColor = "rgb(255,255,255)";
        //             }
        //         }
        //     });         
        wapp04Grid.hostElement.addEventListener("click",function(e){
            var ht = wapp04Grid.hitTest(e);
            if(ht.cellType === wijmo.grid.CellType.Cell){
                console.log(ht._p._rows );
                //  data = ht.RowCollection(ht.row); // e.getCellData(ht.row, 0, false); 
                // console.log(data);

            }
        })
        //   데이터 수집
        function getData_wlist(){
            var mapp04Dto = [[${appUserListDto}]]; 
            var data01 = [];
            var cnt = 1;


            for (var i = 0; i < mapp04Dto.length; i++) {
                data01.push({
                    id: i, 
                    index: cnt,
                    seq:     mapp04Dto[i]["seq"],
                    userid:     mapp04Dto[i]["userid"],
                    username: mapp04Dto[i]["username"], 
                    passwd1: mapp04Dto[i]["passwd1"], 
                    useyn:   mapp04Dto[i]["useyn"],
                    flag : mapp04Dto[i]["flag"] ,
                    phone : mapp04Dto[i]["phone"] ,
                    perid : mapp04Dto[i]["perid"]        
                });
                cnt++;
            }  
            // console.log(data01);            
            return data01                                          
        }   

    }
   

    view_menuviewpage = new wijmo.collections.CollectionView(getData_wlist02(), {
            pageSize: 15
        });  
        // 페이지 이동
        new wijmo.input.CollectionViewNavigator('#thePager02', {
            byPage: true,
            headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
            cv: view_menuviewpage
        });     
        wapp01Grid = new wijmo.grid.FlexGrid('#wapp01Grid_div', {  
            autoGenerateColumns: false, 
            selectionMode: 'RowRange',
            alternatingRowStep: 0,
            columns: [   
            
                { binding: 'flag',width: '*', header: '사용여부', width: '*', align:"center", format: '*' ,
                        cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                            text: '<b>${item.visible}</b>',
                            click: (e, ctx) => {
                                wactnmChk_3(ctx.item.userid, ctx.item.menuid, ctx.item.visible, ctx.item.mname  );
                            }
                        })
                    },   
                { binding: 'menuid', header: '메뉴아이디', width: '*',   align:"center",  isReadOnly: true  },
                { binding: 'mname', header: '메뉴명', width: '*', format: '*' , align:"center", isReadOnly: true}, 
                { binding: 'username', header: '사용자명', width: '*', format: '*', align:"center", isReadOnly: true },  
            ], 
            itemsSource: view_menuviewpage
        });    

        
        //   데이터 수집
        function getData_wlist02(){
            var data01 = [];
            var cnt = 1;

            for (var i = 0; i < 20; i++) {
                data01.push({
                    id: i, 
                    index: cnt,
                    userid:     '',
                    menuid:     '',
                    mname: '', 
                    username:   '',
                    visible : ''     
                });
                cnt++;
            }  
            // console.log(data01);            
            return data01                                          
        }         


 
        function add_btn(){  
            var ls_userid = document.getElementById('useridadd').value;    
            var ls_passwd1 = document.getElementById('passwd1').value ;  
            var ls_passwd2 = document.getElementById('passwd2').value;  
            var ls_custnm = document.getElementById('custnm').value; 
            var ls_username = document.getElementById('username').value;  
        
            if (!confirm("등록하시겠습니까?")) {
                    return ; 
            }     
            if(ls_userid == null || ls_userid.length == 0 || ls_userid == ""){ 
                alert("아이디를 등록 하세요")  
                return ;               
            }     
            if(ls_passwd2 == null || ls_passwd2.length == 0 || ls_passwd2 == ""){ 
                alert("비밀번호를 등록 하세요")  
                return ;               
            }    
            if(ls_custnm == null || ls_custnm.length == 0 || ls_custnm == ""){ 
                alert("품목구분을 등록 하세요")  
                return ;               
            }       
            if(ls_username == null || ls_username.length == 0 || ls_username == ""){ 
                alert("사용자명을 등록 하세요")  
                return ;               
            }   

            $.ajax({
                url: '/appadmod/id01sav',   
                type:"POST",
                data: {
                    "userid"    : ls_userid , 
                    "passwd1"    : ls_passwd1 ,
                    "passwd2"    : ls_passwd2,
                    "custnm"    : ls_custnm, 
                    "username"    : ls_username,
                    "perid"    : ls_userid,
                    "flag"    : 'AA'
                },
                async:false,
                success:function(data){
                    if(data == "success"){
                        alert("등록되었습니다.")
                        // console.log("MOD", data); 
                        listUp();
                        $("#actnmmodal_btn").trigger("click"); 
                    }else{
                        if(data == "relogin"){
                            alert("다시 로그인해주세요")
                            window.location.href='http://mes.c-kd.com';
                            return 
                        }       
                        alert("변경중 오류가 발생했습니다. 관리자에게 문의하세요.")
                    }
                },error:function(e){
                    console.log('error',e);
                }
            }).done(function(fragment){

            })

          listUp();
 
        }   
      
        function check_pw(){
            var pw = document.getElementById('passwd1').value;
    
            if(document.getElementById('passwd1').value !="" && document.getElementById('passwd2').value != ""){
                if(document.getElementById('passwd1').value==document.getElementById('passwd2').value){
                    document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                    document.getElementById('check').style.color='blue';
                }
                else{
                    document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                    document.getElementById('check').style.color='red';
                }
            }

        }
        
    </script>

    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

 
    
</body>
</html>