<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>경덕산업</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>  
</head> 
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
</style>
<body style="background: #f5f9fa;">
    <form class="row gy-2 gx-4 align-items-center" role="form" th:object="${userFormDto}" ></form>
    <div class="content flex">
        
            <div class="header on">
                <div class="left">
                    <div class="ham">
                        <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                    </div>
                    <div class="nav_bg"></div>
                    <!-- ## Left navigator include -->
                    <th:block th:include="layouts/APPHeader/appcareleftadmin" />
                </div>
                <div class="right">
                </div> 
            </div>
            <div class="con">
                <!-- ## header top include -->
                <th:block th:include="layouts/APPHeader/appheadTop" />

                <div class="infor_bar type2">
                    <!-- <ul class="right" style="visibility: hidden; opacity: 0;">
                        <li>
                            <button type="button" class="color2">
                                <i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                            </button>
                        </li>
                        <li>
                            <button type="button" class="color5">
                                <i><img th:src="@{/assets/images/i_print.png}" alt=""></i>프린트
                            </button>
                        </li>
                    </ul> -->
                    <div class="left">
                        사용자별 접속정보
                    </div>
                    <ul class="right">
                        <li>
                            <button type="button" class="color2" id="retrieveBtn"> 
                                <i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                            </button>
                        </li> 
                    </ul>
    
                </div> 
                <div class="section ">                
                    <div class="sec_con" style="width: 100%;">
                        <div class="box_wrap">
                            <ul class="search_box"> 
                                <li>
                                    <div class="input-group mb-3"><span class="input-group-text" id="basic-addon1">사용자아이디</span>
                                        <input class="form-control" type="text" placeholder="사용자아이디을 입력하세요" id="actusernamez" name="actusernamez" aria-label="actnmz" aria-describedby="basic-addon1" />                                                                            
                                      </div>
                                </li>  
                            </ul>
                            <form action="">
                                 
                                <div class="container-fluid"> 
                                    <div id="mGrid_div" style="overflow:scroll;   height:600px;    margin:0 auto; "></div>  
                                    <!-- <div id="thePager01"></div> -->
                                </div>   

                            </form>

                        </div>
                    </div>
                </div>
            </div>


 

    </div>


    <script type="text/javascript" th:inline="javascript"> 

    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //현장 검색   
    var wapp04Grid ;
    var view_Mmanualpage;
    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
        listUp();

    })   
    function tabA_grid(data){
        console.log(data)
            var wtab01Dto  = data;    
            var wtab01_data = [];
            var cnt = 1;
            for (var i = 0; i < wtab01Dto.length; i++) {
                wtab01_data.push({
                    id: i, 
                    index: cnt,                     
                    userid:     wtab01Dto[i]["userid"],
                    username: wtab01Dto[i]["usernm"], 
                    onoffdt:   wtab01Dto[i]["onoffdt"],
                    ondate : wtab01Dto[i]["ondate"] ,
                    ofdate : wtab01Dto[i]["ofdate"]  ,
                    onoffdv : wtab01Dto[i]["onoffdv"]                                
                });
                cnt++;
            }    
            wapp04Grid.columns.clear();  
            wapp04Grid.autoGenerateColumns = false; 
            view_Mmanualpage.sourceCollection  = wtab01_data;
            var cols = new wijmo.grid.Column();  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'userid';
            cols.header = '아이디';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'username';
            cols.header = '사용자';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'onoffdt';
            cols.header = '접속일자';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'ondate';
            cols.header = '로그시간';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols);   
            cols = new wijmo.grid.Column(); 
            cols.binding = 'onoffdv';
            cols.header = '구분';
            cols.align = "center";
            cols.width = '*'; 
            wapp04Grid.columns.push(cols); 
 
        }
 
        
        function listUp(){
        var ls_actusernamez = document.getElementById('actusernamez').value;  
            if(ls_actusernamez == null || ls_actusernamez.length == 0 || ls_actusernamez == ""){
                ls_actusernamez = "%"; 
            }   
            $.ajax({
                url: '/appadmod/id03list',  
                type:"POST",
                data: { 
                    "actusernamez"      : ls_actusernamez,  
                }, 
                async:false,
                success:function(data){   
                    console.log(data);
                    console.log("kkkkkk");
                    tabA_grid(data);
                },error:function(e){
                    console.log("error");
                    // alert(data.code);
                    // alert(data.message);
                }
            }).done(function(fragment){           

            })  
    }
 
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    window.onload = function() { 
        view_Mmanualpage = new wijmo.collections.CollectionView(getData_wlist(), {
           // pageSize: 20
        });  
        // 페이지 이동
        // new wijmo.input.CollectionViewNavigator('#thePager01', {
        //     byPage: true,
        //     headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
        //     cv: view_Mmanualpage
        // });    
        wapp04Grid = new wijmo.grid.FlexGrid('#mGrid_div', {  
            autoGenerateColumns: false, 
            selectionMode: 'RowRange',
            alternatingRowStep: 0,
            columns: [   

                { binding: 'userid', header: '아이디', width: '*',   align:"center",  isReadOnly: true } ,
                { binding: 'username', header: '사용자', width: '*', format: '*' , align:"center", isReadOnly: true}, 
                { binding: 'onoffdt', header: '접속일자', width: '*', format: '*', align:"center", isReadOnly: true },  
                { binding: 'ondate', header: '로그시간', width: '*', format: '*', align:"center", isReadOnly: true },    
                { binding: 'onoffdv',width: '*', header: '구분', width: '*', align:"center", format: '*', isReadOnly: true },   
            ], 
            itemsSource: view_Mmanualpage
        });  

        // wapp04Grid.formatItem.addHandler((s, e) => {
        //         if (e.panel == s.cells) {
        //             // 짝수 행 일 때
        //             if (e.row % 2 == 0) {
        //                 e.cell.style.backgroundColor = "rgb(232, 241, 255)";
        //             }
        //             // 홀수 행 일 때
        //             else if (e.row % 2 == 1) {
        //                 e.cell.style.backgroundColor = "rgb(255,255,255)";
        //             }
        //         }
        //     });          
        wapp04Grid.hostElement.addEventListener("click",function(e){
            var ht = wapp04Grid.hitTest(e);
            if(ht.cellType === wijmo.grid.CellType.Cell){
                console.log(ht._p._rows );
                //  data = ht.RowCollection(ht.row); // e.getCellData(ht.row, 0, false); 
                // console.log(data);

            }
        }) 
        function getData_wlist(){
            var mapp04Dto = [[${appUserListDto}]]; 
            var data01 = [];
            var cnt = 1;


            for (var i = 0; i < mapp04Dto.length; i++) {
                data01.push({
                    id: i, 
                    index: cnt, 
                    userid:     mapp04Dto[i]["userid"],
                    username: mapp04Dto[i]["usernm"], 
                    onoffdt:   mapp04Dto[i]["onoffdt"],
                    ondate : mapp04Dto[i]["ondate"] ,
                    ofdate : mapp04Dto[i]["ofdate"]  ,
                    onoffdv : mapp04Dto[i]["onoffdv"]      
                });
                cnt++;
            }  
            // console.log(data01);            
            return data01                                          
        }         
    }
   

    </script>

    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

 
    
</body>
</html>