<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<body style="background: #f5f9fa;">
    <form class="row gy-2 gx-4 align-items-center" role="form" th:object="${userFormDto}" ></form>
    <div class="content flex">
        
            <div class="header on">
                <div class="left">
                    <div class="ham">
                        <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                    </div>
                    <div class="nav_bg"></div>
                    <!-- ## Left navigator include -->
                    <th:block th:include="layouts/APPHeader/appcareleftadmin" />
                </div>
                <div class="right">
                </div> 
            </div>
            <div class="con">
                <!-- ## header top include -->
                <th:block th:include="layouts/APPHeader/appheadTop" />

                <div class="infor_bar type2">
                    <!-- <ul class="right" style="visibility: hidden; opacity: 0;">
                        <li>
                            <button type="button" class="color2">
                                <i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                            </button>
                        </li>
                        <li>
                            <button type="button" class="color5">
                                <i><img th:src="@{/assets/images/i_print.png}" alt=""></i>프린트
                            </button>
                        </li>
                    </ul> -->
                    <div class="left">
                    사업장 정보 
                    </div> 
    
                </div> 
                <div class="section ">                
                    <div class="sec_con" style="width: 100%;">
                        <div class="box_wrap">
                             
                             
                                 
                                <div class="container-fluid"> 
                                    <div class="modal_box"> 
                                        <div class="form">
                                            <form  th:object="${appXa012Dto}" method="post"> 
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">사업자번호</span> 
                                                    <input type="text" class="form-control" name="actsaupnumz" id="actsaupnumz" th:field="*{saupnum}" th:value="*{saupnum}">                                                    
                                                </div> 
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">사업장명</span> 
                                                    <input type="text" class="form-control"  name="actspjangnmz" id="actspjangnmz" th:field="*{spjangnm}" th:value="*{spjangnm}">                                               
                                                </div> 
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">대표자</span> 
                                                    <input type="text" class="form-control"  name="actprenmz" id="actprenmz" th:field="*{prenm}" th:value="*{prenm}">                    
                                                </div>   
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">업태</span>
                                                    <input type="text" class="form-control"  name="actbiztypez" id="actbiztypez" th:field="*{biztype}" th:value="*{biztype}">    
                                                </div> 
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">종목</span> 
                                                    <input type="text" class="form-control"  name="actitemz" id="actitemz" th:field="*{item}" th:value="*{item}">                                               
                                                </div> 
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">문자발신번호</span>  
                                                    <input type="text" class="form-control"  name="acttel1z" id="acttel1z" th:field="*{tel1}" th:value="*{tel1}">    
                                                </div>   
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">계산서담당자</span> 
                                                    <input type="text" class="form-control"  name="actagnertel1z" id="actagnertel1z" th:field="*{agnertel1}" th:value="*{agnertel1}">                                               
                                                </div>  
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">계산서연락처</span> 
                                                    <input type="text" class="form-control"  name="actagnertel2z" id="actagnertel2z" th:field="*{agnertel2}" th:value="*{agnertel2}">                                               
                                                </div>  
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">계산서이메일</span> 
                                                    <input type="text" class="form-control"  name="actemailadresz" id="actemailadresz" th:field="*{emailadres}" th:value="*{emailadres}">                                               
                                                </div>  
                                                <div class="input_wrap"  >  
                                                    <div>
                                                        <div class="btns"> 
                                                            <button class="type1 color4" style="min-width: 90px;"  type="button"  onclick="saveE401_rtn()">수정</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> 
                                    </div>
                                </div>   

                             

                        </div>
                    </div>
                </div>
            </div>


 

    </div>


    <script type="text/javascript" th:inline="javascript"> 
 
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //사업장정보등록
    function saveE401_rtn(){
        let formData = new FormData(); 
        var ls_actsaupnumz  = document.getElementById('actsaupnumz').value; 
        var ls_actspjangnmz   = document.getElementById('actspjangnmz').value; 
        var ls_actprenmz  = document.getElementById('actprenmz').value;  
        var ls_actbiztypez = document.getElementById('actbiztypez').value; 
        var ls_actitemz = document.getElementById('actitemz').value;  
        var ls_acttel1z   = document.getElementById('acttel1z').value; 
        var ls_actagnertel1z  = document.getElementById('actagnertel1z').value; 
        var ls_actagnertel2z    = document.getElementById('actagnertel2z').value; 
        var ls_actemailadresz   = document.getElementById('actemailadresz').value;  
        
        if(ls_actsaupnumz == null || ls_actsaupnumz.length == 0 || ls_actsaupnumz == ""){
           alert("사업자번호를 등록하세요");
           return
        }      
        if(ls_actspjangnmz == null || ls_actspjangnmz.length == 0 || ls_actspjangnmz == ""){
           alert("사업장명을 등록하세요");
           return
        }       
        if(ls_actprenmz == null || ls_actprenmz.length == 0 || ls_actprenmz == ""){
           alert("대표자을 등록하세요");
           return
        }       
        if(ls_actbiztypez == null || ls_actbiztypez.length == 0 || ls_actbiztypez == ""){
           alert("업태를 등록하세요");
           return
        }    
        if(ls_actitemz == null || ls_actitemz.length == 0 || ls_actitemz == ""){
           alert("종목을 등록하세요");
           return
        }        


        // 본문 data    
        var inputdata = {   
                "actsaupnumz"    : ls_actsaupnumz ,
                "actspjangnmz"    : ls_actspjangnmz ,
                "actprenmz"    : ls_actprenmz ,
                "actbiztypez"  : ls_actbiztypez,
                "actitemz"      : ls_actitemz ,  
                "acttel1z"   :  ls_acttel1z, 
                "actagnertel2z"   :  ls_actagnertel2z, 
                "actagnertel1z"   :  ls_actagnertel1z, 
                "actemailadresz"   :  ls_actemailadresz,  
                
            }  
        formData.delete("key");    
        // 본문 data formdata 에 추가
        formData.append("key", new Blob([ JSON.stringify(inputdata) ], {type : "application/json"})); 

        $.ajax({
            url: '/appadmod/id04mod',   
            processData : false,                //  processData : false로 선언 시 formData를 string으로 변환하지 않음
            contentType : false,                // contentType : false 로 선언 시 content-type 헤더가 multipart/form-data로 전송되게
            enctype : 'multipart/form-data',
            type: "POST",
            data: formData,
            async:false,
            success:function(data){
                // console.log("등록OK", data);
                if(data == "success"){
                    alert("저장되었습니다.")  
                }else{
                    console.log(data);
                    alert("저장중 오류가 발생했습니다. 관리자에게 문의하세요.")
                }

            },error:function(e){
                console.log('error',e);
            }
        }).done(function(fragment){

        })  
        return ;
    }

  
 
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
     

    </script>

    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

 
    
</body>
</html>