<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.Cms.CmsIndex01Mapper">


    <select id="getSHOTDATA_wotqty"  parameterType="com.dae.kdmes.DTO.Cms.CmsIndex01Dto" resultType="Integer">
        <![CDATA[
            select  isnull(count(*), 0) as wotqty
             from shot_data WITH (NOLOCK)
             where machine_name = #{machine_name}
              and  trim(Additional_Info_1) = #{Additional_Info_1}
              and  TimeStamp >=#{STARTTIME}  and TimeStamp <= #{ENDTIME}
        ]]>
    </select>

</mapper>
