<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="leftNavComm">
  <ul class="nav">
    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon1.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              종합유지관리서비스
            </button>
          </a>
        </div>
      </div>
    </li>
    <!-- <li>
      <button type="button"><img th:src="@{/assets/images/header_icon2.png}" alt=""></button>
      <div class="depth2 on">
        <div class="dep_main">
          <a href="">
            <button type="button">
              통계관리
            </button>
          </a>
        </div>
    </div>
    </li>
    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon3.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              기술자료실
            </button>
          </a>
        </div>
      </div>
    </li>
    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon4.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">

            <button type="button">
              수리노하우
            </button>
          </a>
        </div>
      </div>
    </li>
    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon5.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              고객케어센터
            </button>
          </a>
        </div>
      </div>
    </li> -->
    <!-- <li>
      <button type="button"><img th:src="@{/assets/images/header_icon6.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">

          <button type="button">
            공지사항
          </button>
          </a>
        </div>
      </div>

    </li> -->

    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon7.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              고객지원
            </button>
          </a>
        </div>
        <ul>
          <li><a th:href="@{/app21/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>호기별고장현황</a></li>
          <li><a th:href="@{/app27/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장구분별현황</a></li>
          <li><a th:href="@{/app16/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>월별고장율현황</a></li>
          <li><a th:href="@{/app19/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>승강기호기별고장통계</a></li>
          <li><a th:href="@{/app25/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>동호기별고장통계</a></li>
          <li><a th:href="@{/app22/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>승강기월별고장통계</a></li>
          <li><a th:href="@{/app09/index02}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>FAQ</a></li>
          <li><a th:href="@{/app05/index02}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>공지사항</a></li>

        </ul>
      </div>
    </li>
  </ul>
</th:block>

<script>

</script>
</html>
