<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="leftNavComm">
  <ul class="nav">
    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon1.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              종합유지관리서비스
            </button>
          </a>
        </div>
      </div>
    </li>
    <!-- <li>
      <button type="button"><img th:src="@{/assets/images/header_icon2.png}" alt=""></button>
      <div class="depth2 on">
        <div class="dep_main">
          <a href="">
            <button type="button">
              통계관리
            </button>
          </a>
        </div>
    </div>
    </li>
    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon3.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              기술자료실
            </button>
          </a>
        </div>
      </div>
    </li>
    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon4.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">

            <button type="button">
              수리노하우
            </button>
          </a>
        </div>
      </div>
    </li>
    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon5.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              고객케어센터
            </button>
          </a>
        </div>
      </div>
    </li> -->
    <!-- <li>
      <button type="button"><img th:src="@{/assets/images/header_icon6.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">

          <button type="button">
            공지사항
          </button>
          </a>
        </div>
      </div>

    </li> -->

    <li>
      <button type="button"><img th:src="@{/assets/images/header_icon7.png}" alt=""></button>
      <div class="depth2">
        <div class="dep_main">
          <a href="">
            <button type="button">
              관리자화면
            </button>
          </a>
        </div>
        <ul>
          <li><a th:href="@{/admin/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>사용자관리</a></li>
          <li><a th:href="@{/admin/index02}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>보수현장관리</a></li>
          <li><a th:href="@{/admin/index03}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>사용자별접속정보</a></li>
          <li><a th:href="@{/admin/index04}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>사업장정보/문자 발신번호</a></li>
          <li><a th:href="@{/admin/index05}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>통신사API 계정정보</a></li>
          <!-- <li><a th:href="@{/admin/index06}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>발신번호정보</a></li> -->

        </ul>
      </div>
    </li>
  </ul>
</th:block>

<script>

</script>
</html>
