<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">  
    <div class="header_top">
        <ul class="left">
            <li>
                <div class="logo">                                
                    <a th:href="@{/auth/emmsdashboard}">
                        <img th:src="@{/assets/images/logo.png}" alt="">
                    </a>
                </div>
            </li>
            <li class="home">
                <a><img th:src="@{/assets/images/i_home.png}" alt=""></a>
                <a><img th:src="@{/assets/images/i_home_on.png}" alt=""></a>
            </li> 
            <li th:text="${userformDto.pagetree01}"></li>
            <li class="on" th:text="${userformDto.pagenm}"></li> 
        </ul>
        <!-- <div class="right">
            <div class="input_wrap">
                <h5>ID</h5>
                <input type="text">
            </div>
            <div class="input_wrap">
                <h5>PW</h5>
                <input type="password">
            </div>
            <div class="button button1"><button><img src="./assets/images/in1.png" alt=""></button></div>
            <div class="button button2"><button><img src="./assets/images/in2.png" alt=""></button></div>
            <div class="modal_close cancerButton"><button><img src="./assets/images/modal_close.png" alt=""></button></div>
        </div> --> 
                <ul class="right">
                    <li>
                        <h5>ID</h5>
                        <input type="text" id="calluserid" th:value="${userformDto.calluserid}">
                    </li>
                    <li>
                        <h5>PW</h5>
                        <input type="password" id="calluserpw" th:value="${userformDto.calluserpw}">
                    </li>
                    <li>
                        <div class="button button1"><button onclick="menu01_btn();"><img th:src="@{/assets/images/in1.png}" alt=""></button></div>
                    </li>
                    <!-- <li>
                        <div class="button button2"><button><img th:src="@{/assets/images/in2.png}" alt=""></button></div>
                    </li> -->
                    <!-- <li>
                        <div class="modal_close cancerButton"><button><img src="@{/assets/images/modal_close.png}" alt=""></button></div>
                    </li>  -->
                </ul> 
    </div>
    <script>
        function menu01_btn(){ 
                    // var ls_actuseridz   =  jQuery('#actuseridz').val(); //document.getElementById('actuseridz').value; 
                    // var ls_actusernamez =  jQuery('#actusernamez').val(); //document.getElementById('actusernamez').value;  
                    // var ls_actcltcdz =   jQuery('#actcltcdz').val();  //document.getElementById('actcltcdz').value;  
                    // ls_actcltcdz =    ls_actcltcdz + "";
                    // var ls_actdbnmz =  jQuery('#actdbnmz').val();   //document.getElementById('actdbnmz').value;    
                    // var ls_actflagz =  jQuery('#actflagz').val();   //document.getElementById('actflagz').value;  
                    // var ls_actcalluseridz =  jQuery('#actcalluseridz').val();   
                    // var ls_actcalluserpwz =  jQuery('#actcalluserpwz').val();   

                    // var ls_uri          = "actuseridz=" + ls_actuseridz +"&actusernamez=" + ls_actusernamez + "&actcltcdz=" + ls_actcltcdz ;
                    //     ls_uri = ls_uri +  "&actdbnmz=" + ls_actdbnmz + "&actflagz=" + ls_actflagz + "&actcalluseridz=" + ls_actcalluseridz;
                    //     ls_uri = ls_uri +  "&actcalluserpwz=" + ls_actcalluserpwz;
                    var win = window.open("/app01/ktcall",   "codetab"); 
            }  
    </script>
</html>