<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment_nw">
    <meta charset="UTF-8">
    <!--  컨텐츠 페이지의 title 들어감- appnwijmo->
    <th:block layout:fragment="titile"></th:block>
 
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>(주)엑타스 02-6959-5020 </title>

    
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"> -->
     
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!--  컨텐츠 페이지의 css-->
    <!-- <th:block layout:fragment="css"></th:block> -->

   

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTAS Elevator 유지보수센터</title>
    <meta name="keyword" content="ACTAS Elevator 유지보수센터">
    <meta name="description" content="ACTAS Elevator 유지보수센터">
    <meta name="author" content="ACTAS Elevator 유지보수센터">   


    <!-- css -->
    <link rel="stylesheet" th:href="@{/assets/css/reset.css}"  >
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" >
    <link rel="stylesheet" th:href="@{/assets/css/sub.css}"  >
 
    <!-- script -->
    <script  th:src="@{/assets/scripts/jquery-3.1.1.min.js}"  ></script>
    <script  th:src="@{/assets/scripts/script.js}"  ></script>

    
    <!-- falcon--> 
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assetsfalcon/img/favicons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assetsfalcon/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assetsfalcon/img/favicons/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assetsfalcon/img/favicons/favicon.ico}">
    <link rel="manifest" th:href="@{/assetsfalcon/img/favicons/manifest.json}">
    <meta name="msapplication-TileImage" th:content="@{/assetsfalcon/img/favicons/mstile-150x150.png}">
    <meta name="theme-color" content="#ffffff">

    <script th:src="@{/vendors/overlayscrollbars/OverlayScrollbars.min.js}"></script> 

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link th:href="@{/vendors/prism/prism-okaidia.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link th:href="@{/vendors/overlayscrollbars/OverlayScrollbars.min.css}" rel="stylesheet">
    <link th:href="@{/assetsfalcon/css/theme-rtl.min.css}" rel="stylesheet" id="style-rtl">
    <link th:href="@{/assetsfalcon/css/theme.min.css}" rel="stylesheet" id="style-default">
    <link th:href="@{/assetsfalcon/css/user-rtl.min.css}" rel="stylesheet" id="user-style-rtl">
    <link th:href="@{/assetsfalcon/css/user.min.css}" rel="stylesheet" id="user-style-default">
 
    <link th:src="@{/vendors/dropzone/dropzone.min.css}" rel="stylesheet" />



     <!-- datetimepicker 스타일 적용 -->
     <link rel="stylesheet" th:href="@{/vendors/btsp-datetimepicker/css/jquery.datetimepicker.css}"> 
     <!-- 제이쿼리 import -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <!-- datetimepicker import -->
     <script type="text/javascript" th:src="@{/vendors/btsp-datetimepicker/js/jquery.datetimepicker.full.min.js}"></script>


</head> 