<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="header_top">
        <ul class="left">
            <li>
                <div class="logo">                                
                    <a th:href="@{/auth/emmsdashboard}">
                        <img th:src="@{/assets/images/logo.png}" alt="">
                    </a>
                </div>
            </li>
            <!-- <li class="home">
                <a><img th:src="@{/assets/images/i_home.png}" alt=""></a>
                <a><img th:src="@{/assets/images/i_home_on.png}" alt=""></a>
            </li> 
            <li th:text="${userformDto.pagetree01}"></li>
            <li class="on" th:text="${userformDto.pagenm}"></li>  -->
        </ul>
        <ul class="right">

            <li>
                <a href="#">
                    <img src="/images/in2.png" alt="" onclick="logout()">
                </a>
            </li>
            <li>
                <button id="userinfo">
                    <img th:src="@{/assets/images/i_user.png}" alt="">
                </button>
            </li>
        </ul>
    </div>

    <input class="form-control form-control-sm"  type="hidden" id="userinfobtn" data-bs-toggle="modal" data-bs-target="#userinfomodal"  />

    <!--------------------------------------------------------------------------------------->
    <!-- 처리자 MODAL FROM  -->
    <form    th:object="${userformDto}" method="post" ></form>
        <div class="modal fade" id="userinfomodal" data-bs-keyboard="false"
            data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
                style="max-width: 500px">
                <div class="modal-content border-0">
                    <div class="modal-body p-0" >
                        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                            <!-- <h4 class="mb-1" id="modalExampleDemoLabel">현장검색</h4>  -->
                            <label>비밀번호</label>
                            <input class="form-control form-control-sm" type="text"  th:value="${userformDto.passwd1}" id="actpasswdz" onchange="check_pw()">
                            <label>이름</label>
                            <input class="form-control form-control-sm" type="text"  th:value="${userformDto.username}" id="actnamez">
                            <label>핸드폰번호</label>
                            <input class="form-control form-control-sm" type="text"  th:value="${userformDto.phone}" id="actphonez">
                            <!--<input class="form-control form-control-sm" type="text"  th:value="${userFormDto.userid}">-->


                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="row g-1">
                            <div class="col-auto">
                                <button class="badge-soft-primary dropdown-item rounded-1"
                                        type="button"  id="wpernmmodal_btn2" data-bs-dismiss="modal" onclick="save_btn3()">수정</button>
                            </div>
                            <div class="col-auto">
                                <button class="badge-soft-primary dropdown-item rounded-1"
                                        type="button"  id="wpernmmodal_btn3" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <input type="hidden"  name="actuseridz" id="actuseridz" th:value="${userformDto.userid}" >
    </form>   
    <!--------------------------------------------------------------------------------------->

    <script type="text/javascript" th:inline="javascript">
        //마이페이지 모달 호출
        document.getElementById("userinfo").addEventListener("click",function() {
            document.getElementById("userinfobtn").click();

        });


        function save_btn3(){
            var ls_passwd = document.getElementById('actpasswdz').value;
            var ls_name = document.getElementById('actnamez').value;
            var ls_phone = document.getElementById('actphonez').value;
            var ls_userid = document.getElementById('actuseridz').value;

            if(!ls_passwd){
                alert("공백은 불가합니다.")
                return
            }
            if(!ls_name){
                alert("공백은 불가합니다.")
                return
            }
            if(!ls_phone){
                alert("공백은 불가합니다.")
                return
            }

            $.ajax({
                url: '/authcrud/update',
                type: "POST",
                data: {
                    "passwd1" : ls_passwd,
                    "passwd2" : ls_passwd,
                    "phone" : ls_phone,
                    "username" : ls_name,
                    "userid" : ls_userid
                },
                async: false,
                success:function (data) {
                    alert("성공")
                },error:function (e) {
                    alert("오류발생");
                    console.log('error', e)
                }
            }).done(function(fragment){

            })


        }

        function check_pw(){
            var pw = document.getElementById('actpasswdz').value;

            const pattern_pwd = /(?=.*\d{1,20})(?=.*[~`!@#$%\^&*()-+=]{1,20})(?=.*[a-zA-Z]{1,20}).{8,20}$/;

            if(!(pattern_pwd.test(pw))){
                window.alert('영문+숫자+특수문자 조합으로 8자리 이상 비밀번호를 입력해주세요.');
                document.getElementById('actpasswdz').value="";
                document.getElementById('actpasswdz').focus();
            }
        }

    function logout(){   
            if (!confirm("로그아웃하시겠습니까?") ){
             return    
            }
            location.href = "/" ;
        }  
    </script>

</html>