<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block layout:fragment="leftNavComm">
        <ul class="nav">
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon1.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="./center.html">
                            <button type="button">
                                경덕산업 MES System
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li><a th:href="@{/app01/index01}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>공통코드등록</a></li>
                        <li><a th:href="@{/app01/index02}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>공정별설비등록</a></li> 
                        <li><a th:href="@{/app01/index03}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>재고실사등록</a></li>
                        <li><a th:href="@{/app01/index04}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>품목그룹등록</a></li>
                        <li><a th:href="@{/app01/index05}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>품목등록</a></li>
                        <li><a th:href="@{/app01/index06}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>제품BOM</a></li>
                        <li><a th:href="@{/app01/index07}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>거래처등록</a></li>
                    </ul>
                </div>     
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon2.png}" alt=""></button>
                <div class="depth2 on">
                    <div class="dep_main">
                        <a href="">    
                            <button type="button">
                                생산계획
                            </button>
                        </a>
                    </div> 
                    <ul>
                        <li class="on"><a th:href="@{/app02/index10}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>생산계획등록</a></li>
                        <li><a th:href="@{/app02/index11}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>주간생산계획현황</a></li>
                        <li><a th:href="@{/app02/index12}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>바코드/이력현황</a></li>
                        <li><a th:href="@{/app02/index13}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>생산실시간현황</a></li>                        
                    </ul>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon2.png}" alt=""></button>
                <div class="depth2 on">
                    <div class="dep_main">
                        <a href="">    
                            <button type="button">
                                공정관리
                            </button>
                        </a>
                    </div> 
                    <ul>
                        <li class="on"><a th:href="@{/app02/index21}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>조립현황</a></li>
                        <!-- <li><a th:href="@{/app02/index22}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>외주현황</a></li> -->
                    </ul>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon2.png}" alt=""></button>
                <div class="depth2 on">
                    <div class="dep_main">
                        <a href="">    
                            <button type="button">
                                생산현황
                            </button>
                        </a>
                    </div> 
                    <ul>
                        <li class="on"><a th:href="@{/app03/index31}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>BOM일자별소요량집계</a></li>
                        <!-- <li><a th:href="@{/app03/index32}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>Lot 이력원장</a></li> -->
                        <li class="on"><a th:href="@{/app03/index33}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>사원별검사일보</a></li>
                        <li><a th:href="@{/app03/index34}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>일별/유형별불량현황</a></li>
                        <li><a th:href="@{/app03/index34}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>작업일지(사출공정일지)</a></li>                        
                        <li><a th:href="@{/app03/index34}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>제품별수불원장</a></li>                        
                        <li><a th:href="@{/app03/index34}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>출하일보</a></li>

                    </ul>
                </div>
            </li>  
            <!-- <li>
                <button type="button"><img th:src="@{/assets/images/header_icon3.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            <button type="button">
                                기술자료실
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li  class='on'  ><a th:href="@{/app04/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>도면자료실</a></li>
                        <li><a th:href="@{/app04/index02}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>부품자료실</a></li>
                        <li><a th:href="@{/app04/index03}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>기타자료실</a></li>
                        <li><a th:href="@{/app07/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>점검조치사항</a></li>

                    </ul>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon4.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            
                            <button type="button">
                                수리노하우
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li><a th:href="@{/app06/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>수리노하우</a></li>
                        <li><a th:href="@{/app08/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>부품가이드</a></li>
                        <li><a th:href="@{/app28/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>수리 Q&A</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon5.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="./care_center.html">
                            <button type="button">
                                고객케어센터
                            </button>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon6.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">

                            <button type="button">
                                공지사항
                            </button>
                        </a>
                      </div>
                    <ul>
                        <li><a th:href="@{/app05/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>공지사항</a></li>
                        <li class="on"><a th:href="@{/app09/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>FaQ</a></li>

                    </ul>
                </div>

            </li> -->
            <!--<li>
                <button type="button"><img th:src="@{/assets/images/header_icon7.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            <button type="button">
                                고객지원
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li><a th:href="@{/app20/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>호기별고장현황</a></li>
                        <li><a th:href="@{/app27/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장구분별현황</a></li>
                        <li><a th:href="@{/app16/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>월별고장율현황</a></li>
                        <li><a th:href="@{/app19/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>승강기호기별고장통계</a></li>
                        <li><a th:href="@{/app25/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>동호기별고장통계</a></li>
                        <li><a th:href="@{/app22/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>승강기월별고장통계</a></li>

                    </ul>
                </div>                        
            </li>-->
        </ul>
    </th:block>

</html>
