<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block layout:fragment="leftNavComm">
        <ul class="nav">
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon1.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="./center.html">
                            <button type="button">
                                경덕산업 MES System
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li><a th:href="@{/appm/list21}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>조립공정등록</a></li>
                        <li><a th:href="@{/app01/index22}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>조립공정현황</a></li> 
                    </ul>
                </div>     
            </li>
 
        </ul>
    </th:block>

</html>
