<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<th:block layout:fragment="css" >
  <style>
    .fieldError{
      color: #bd2130;
    }
  </style>
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){
        var errorMessage = [[${errorMessage}]];
      if(errorMessage != null){
        alert(errorMessage);
      }
    })
  </script>
</th:block>

<body>
    
    <div th:fragment="mainContents">
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container-fluid">
          <script>
            var isFluid = JSON.parse(localStorage.getItem('isFluid'));
            if (isFluid) {
              var container = document.querySelector('[data-layout]');
              container.classList.remove('container');
              container.classList.add('container-fluid');
            }
          </script>
          <div class="row min-vh-100 bg-100">
            <div class="col-6 d-none d-lg-block position-relative">
              <div class="bg-holder" style="background-image:url(../../../assets/img/generic/19.jpg);">
              </div>
              <!--/.bg-holder-->
  
            </div>
            <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
              <div class="row justify-content-center g-0">
                <div class="col-lg-9 col-xl-8 col-xxl-6">
                  <div class="card">
                    <div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light" th:href="@{/}">ActasERP</a></div>
                    <div class="card-body p-4">
                      <div class="row flex-between-center">
                        <div class="col-auto">
                          <h3>Register</h3>
                        </div>
                        <div class="col-auto fs--1 text-600"><span class="mb-0 fw-semi-bold">사용자 등록이 되어있나요?</span> <span><a th:href="@{/members/loginForm}">Login</a></span></div>
                      </div>
                      <form th:action="@{/members/new}" role="form" method="post"  th:object="${userFormDto}" >
                        <div class="mb-3">
                          <label class="form-label" for="split-name">사용자아이디</label>
                          <input class="form-control" type="text" autocomplete="on" id="username" name="username"  th:field="*{username}" />
                          <div th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"  class="alert alert-warning border-2 d-flex align-items-center" role="alert">
                            <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
                            <p class="mb-0 flex-1">Incorrent data</p> 
                          </div> 
                        <div class="mb-3">
                          <label class="form-label" for="split-name">사용자명</label>
                          <input class="form-control" type="text" autocomplete="on" id="pernm" name="pernm"   th:field="*{pernm}"  /> 
                          <div th:if="${#fields.hasErrors('pernm')}"  th:errors="*{pernm}"  class="alert alert-warning border-2 d-flex align-items-center" role="alert">
                            <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
                            <p class="mb-0 flex-1">Incorrent data</p> 
                          </div>                           
                        </div>
                        <div class="row gx-2">
                          <div class="mb-3 col-sm-6">
                            <label class="form-label" for="split-password">Password</label>
                            <input class="form-control" type="password" autocomplete="on" id="password" name="password"  th:field="*{password}"  />
                          </div>
                          <div class="mb-3 col-sm-6">
                            <label class="form-label" for="split-confirm-password">Confirm Password</label>
                            <input class="form-control" type="password" autocomplete="on" id="passwd2" name="passwd2"   th:field="*{passwd2}"  />
                            <!-- <p th:if="${#fields.hasErrors('passwd2')}" th:errors="*{passwd2}" class="fieldError">Incorrent data</p> -->
                          </div>
                        </div>

                        <div class="mb-3">
                          <div th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"  class="alert alert-warning border-2 d-flex align-items-center" role="alert">
                            <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
                            <p class="mb-0 flex-1">Incorrent data</p> 
                          </div>                                                       
                        </div>                        
                        <!-- <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="cover-register-checkbox" />
                          <label class="form-label" for="cover-register-checkbox">I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label>
                        </div> -->
                        <div class="mb-3">
                          <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">사용자등록</button>                          
                        </div>
                        <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input> -->
                      </form>
                      <!-- <div class="position-relative mt-4">
                        <hr class="bg-300" />
                        <div class="divider-content-center">or register with</div>
                      </div>
                      <div class="row g-2 mt-2">
                        <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                        <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================--> 
    </div>
         
</body>
</html>