<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<body style="background: #f5f9fa;">
    <header>

    </header>
    <div class="content flex"> 
        <div class="header on">
            <div class="left">
                <div class="ham">
                    <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                </div>
                <div class="nav_bg"></div>
                <!-- ################################ -->
                <!-- ## Left navigator include -->
                <th:block th:include="layouts/APPHeader/appLeftNav" />
            </div>
            <div class="right">           
            </div>
        </div>

        <div class="con">
            <!-- ## header top include -->
            <th:block th:include="layouts/APPHeader/appheadTop" /> 
            <div class="card-body bg-light">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#step01" onclick="tabchk_rtn('A')">출하현황</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step02"  onclick="tabchk_rtn('B')">검사공정</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step03"  onclick="tabchk_rtn('C')">조립공정</a>
                    </li> -->
                    <input type="hidden" id="tabvalue" value="A">
                    </ul>
                    <div class="tab-content">
                    <div class="tab-pane fade show active" id="step01">     
                        <div class="row gx-3" style="  margin: 10px 10px 10px;">    
                            <div class="col-2 col-sm-2">
                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">조회일자</span>
                                    <input type="text"  class="form-control datetimepicker" id="frdate01" autocomplete="off"  placeholder="Y-m-d"     >
                                </div> 
                            </div>   
                            <div class="col-2 col-sm-2"> 
                                <div class="input-group input-group-sm mb-3"> 
                                    <input type="text"  class="form-control datetimepicker" id="todate01" autocomplete="off"  placeholder="Y-m-d"     >
                                </div>
                            </div>  
                            <div class="col-2 col-sm-2">
                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">검사로트</span> 
                                    <input class="form-control form-control-sm" id="jglotno" type="text"    autocomplete="off"  placeholder=""     > 
                                </div>
                            </div>
                            <div class="col-auto">  
                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="retrieveABtn" >조회
                                </button> 
                            </div>  
                            <!-- <div class="col-auto"><span class="input-group-text" id="inputGroup-sizing-sm">매수</span> 
                                <input class="form-control form-control-sm" id="prtnum01" type="number"    autocomplete="off"  placeholder="">                                               
                            </div> -->
                            <!-- <div class="col-auto">   
                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="prt_btn()">인쇄
                                </button>
                            </div>  
                            <div class="col-auto">   
                                <div id="barcode"></div>  
                                <div id="qrcode_value"></div> 
                            </div>   -->
                        </div> 
                        <div class="container-fluid">   
                            <div id="wtab01Grid_div" style="overflow:scroll;   height:680px;    margin:0 auto; "></div> 
                            <!-- <div id="tab01Pager"></div> -->
                        </div>   
                    </div> 
                  </div>
            </div> 
        </div> 

 
    </div>
       
<!--------------------------------------------------------------------------------------->  
<script type="text/javascript" th:inline="javascript">
    var view_p01tab01page;
    var view_p01tab02page;
    var view_p01tab03page; 
    var view_p01tab04page; 
    var wtab01Grid;
    var wtab02Grid;
    var wtab03Grid; 
    var wtab04Grid; 
    var excelIOSheet; 
   let includeColumnHeader = false; 
    window.onload = function() {  
       localStorage.setItem("setpage", "app03p001");  
   
       //사출현황 popup list
       view_p01tab01page = new wijmo.collections.CollectionView(getData_wlist(), {
            // pageSize: 21
        }); 
        grandTotalsGroup = new wijmo.collections.PropertyGroupDescription('합  계', function (item, propName) {
            return '';
        });
        wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [              
                { binding: 'deldate', header: '출하일자', align: "center", width: 100 }, 
                { binding: 'delnum', header: '출하번호', align: "left", width: 80 },  
                { binding: 'delseq', header: '순번', align: "left", width: 80 },  
                { binding: 'ecltnm', header: '거래처', align: "center", width: 150 },  
                { binding: 'jpum', header: '품목', align: "center", width: 200 },  
                { binding: 'jgugek', header: '규격', align: "left", width: 150 },    
                { binding: 'wotqt', header: '박스수량', align: "right", width: 100,  aggregate: 'Sum' },  
                { binding: 'gumqty', header: '수량', align: "center", width: 100 ,  aggregate: 'Sum'},
                { binding: 'glotno', header: '검사로트', align: "center", width: 130 },  
                { binding: 'glotnono', header: '참조로트', align: "center", width: 130 },  
                { binding: 'wrpsnm', header: '검사자', align: "left", width: 100 },     
            ], 
            itemsSource: view_p01tab01page
        });   
        
       new FlexGridContextMenu(wtab01Grid);  
       setHeaderColumn(false);
       function setHeaderColumn(headerOn) {
           wtab01Grid.headersVisibility = headerOn
           ? wijmo.grid.HeadersVisibility.All
           : wijmo.grid.HeadersVisibility.Column; 
       } 
         // tab01검색 데이터 수집
       function getData_tab01(){       
           var wactnm_data = [];
           var cnt = 1;
           for (var i = 0; i < 20; i++) {
               wactnm_data.push({
                   id: i, 
                   index: cnt,
                   jcode: '', 
                   ipqty:  '', 
               });
               cnt++;
           }    
           return wactnm_data;                                          
       } 
 


       //  데이터 수집
       function getData_wlist(){        
           var wactnm_data = [];
           var cnt = 1;
           for (var i = 0; i < 20; i++) {
               wactnm_data.push({
                   id: i, 
                   index: cnt,
                   jepm: '', 
                   jepmnm: '', 
                   jgugek: '', 
                   jgugek2: '', 
                   jsayang: '', 
                   jchajong: '', 
                   j_sr: '', 
                   jqty:  '', 
               });
               cnt++;
           }     
           return wactnm_data;                           
       }  

        

    } //onload function 

   //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
   //선택한 탭 체크 
    function tabchk_rtn(arg){
       document.getElementById('tabvalue').value = arg; 
   } 
                             
   // tab01 검색   
   document.getElementById("retrieveABtn").addEventListener("click",function(){  
       var ls_tab = document.getElementById('tabvalue').value;   
       searchList_rtn(ls_tab);
   })      
 


   function searchList_rtn(arg1){  
       switch(arg1){
           case 'A': 
               var ls_frdate = document.getElementById('frdate01').value; 
               var ls_todate = document.getElementById('todate01').value;  
               var ls_jglotno = document.getElementById('jglotno').value;       
               if(ls_jglotno == null || ls_jglotno.length == 0 || ls_jglotno == ""){  
                ls_jglotno = '%';
               }  
               $.ajax({
                   url: '/app03m/index16/list01',  
                   type:"POST",
                   data: { 
                       "frdate"      : ls_frdate,  
                       "todate"      : ls_todate,  
                       "lotno"      : ls_jglotno,  
                   }, 
                   async:false,
                   success:function(data){ 
                       tabA_grid(data);
                   },error:function(e){
                       console.log("error");                            
                   }
               }).done(function(fragment){           

               })    
               break;             
           default:    
               break;                
       }
   

   }      


    //  데이터 수집
    function tabA_grid(data){          
        var wtab01Dto = data;   
        var wtab01_data = [];       
        var cnt = 1;  
        var ls_flagnm = ""; 
        console.log(wtab01Dto) 
        for (var i = 0; i < wtab01Dto.length; i++) {
           var ll_planqty = 0;
           var ll_otqty = 0;
           var ll_wyul = 0;
           var ll_gumqty = 0;
           var ls_deldate = "";
           var ls_delnum = "";
           ls_deldate = wtab01Dto[i]["deldate"];
           ls_delnum = wtab01Dto[i]["delnum"];
            if(ls_deldate == null || ls_deldate.length == 0 || ls_deldate == ""){  
                    ls_deldate = "";
            }else{
                    ls_deldate = ls_deldate.substr(0,4) + '-' + ls_deldate.substr(4,2) + '-' + ls_deldate.substr(6,2);
            }  
        //    if (ls_flagnm != ls_deldate + ls_delnum ){
        //         ls_flagnm = ls_deldate + ls_delnum;
        //         if(ls_deldate == null || ls_deldate.length == 0 || ls_deldate == ""){  
        //                 ls_deldate = "";
        //         }else{
        //                 ls_deldate = ls_deldate.substr(0,4) + '-' + ls_deldate.substr(4,2) + '-' + ls_deldate.substr(6,2);
        //         }  
                 
        //    }else{
        //         ls_deldate = "";
        //         ls_delnum = "";
        //    }
           
           wtab01_data.push({
               id: i, 
               index: cnt, 
               deldate: ls_deldate,  
               delnum: ls_delnum,
               delseq: wtab01Dto[i]["delseq"],
               ecltnm: wtab01Dto[i]["ecltnm"],
               jpum: wtab01Dto[i]["jpum"], 
               jgugek: wtab01Dto[i]["jgugek"],  
               wotqt: wtab01Dto[i]["wotqt"], 
               gumqty: wtab01Dto[i]["gumqty"], 
               glotno: wtab01Dto[i]["glotno"], 
               glotnono: wtab01Dto[i]["glotnono"], 
               wrpsnm: wtab01Dto[i]["wrpsnm"], 
               
           });
           cnt++;
        }        

       wtab01Grid.columns.clear();  
       wtab01Grid.autoGenerateColumns = false;  
       wtab01Grid.itemsSource = new wijmo.collections.CollectionView(wtab01_data, {
                groupDescriptions: [
                    grandTotalsGroup,
                    'deldate','delnum'
                ]
            })  
       
       var cols = new wijmo.grid.Column(); 
       cols.binding = 'deldate';
       cols.header = '출하일자';
       cols.align = "center";
       cols.width = 180;  
       wtab01Grid.columns.push(cols);    

       cols = new wijmo.grid.Column(); 
       cols.binding = 'delnum';
       cols.header = '번호';
       cols.align = "center";
       cols.width = 100; 
       wtab01Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'delseq';
        cols.header = '순번';
        cols.align = "center";
        cols.width = 100; 
        wtab01Grid.columns.push(cols);  

       cols = new wijmo.grid.Column(); 
       cols.binding = 'ecltnm';
       cols.header = '거래처';
       cols.align = "left";
       cols.width = 150;  
       wtab01Grid.columns.push(cols);    

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jpum';
       cols.header = '품명';
       cols.align = "center";
       cols.width = 200;  
       wtab01Grid.columns.push(cols);  

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jgugek';
       cols.header = '규격';
       cols.align = "center";
       cols.width = 150;  
       wtab01Grid.columns.push(cols);    
       
       cols = new wijmo.grid.Column(); 
       cols.binding = 'wotqt';
       cols.header = '박스수량';
       cols.align = "right";
       cols.width = 80;   
       cols.aggregate = 'Sum';
       cols.format = 'n0'
       wtab01Grid.columns.push(cols);   
       
       cols = new wijmo.grid.Column(); 
       cols.binding = 'gumqty';
       cols.header = '상세수량';
       cols.align = "right";
       cols.width = 80;  
       cols.aggregate = 'Sum';
       cols.format = 'n0'
       wtab01Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'glotno';
        cols.header = '검사로트';
        cols.align = "center";
        cols.width = 130;  
        wtab01Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'glotnono';
        cols.header = '참조로트';
        cols.align = "center";
        cols.width = 130;  
        wtab01Grid.columns.push(cols);      
       
       cols = new wijmo.grid.Column(); 
       cols.binding = 'wrpsnm';
       cols.header = '검사담당';
       cols.align = "center";
       cols.width = 80;  
       wtab01Grid.columns.push(cols);                   
    } 
       


//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


   $(document).ready(function() { 
       getToday()
       fn_egov_init_date()
       // $('datetimepicker').datetimepicker({
           
       // }); 

       // $("#frdate").change(function(e){ 
       //     // console.log("달력클릭");
       //     // console.log(convert_time(e.timestamp));
       // })
       // $("#todate").change(function(e){ 
       //     // console.log("달력클릭");
       //     // console.log(convert_time(e.timestamp));
       // })
   })

   function test_rtn(arg1){
       console.log(arg1);
       const disHtml = `
           <div class="tab-pane fade show active" id=${arg1} role="tabpanel" aria-labelledby="profile-tab">${arg1}</div>`
       $('#btnDiv02').before(disHtml);
   }


   function getToday(){
       let today = new Date();   

       let year = today.getFullYear(); // 년도
       let month = today.getMonth() + 1;  // 월
       let date = today.getDate();  // 날짜
       let day = today.getDay();  // 요일
       if(month > 0 && month < 10) {month = "0" + month};
       if(date > 0 && date < 10) {date = "0" + date};
       let ls_frday = year + '-' + month + '-01' 
       let ls_today = year + '-' + month + '-' + date 
    //    document.getElementById('frdate').value = ls_today; 
       document.getElementById('frdate01').value = ls_frday;
       document.getElementById('todate01').value = ls_today; 
       
       // document.getElementById('todate').value = ls_today;
   }

   function convert_time(timestamp){ 
       //현재시간
       var date = new Date(timestamp); 
       var year = date.getFullYear();
       var month = ("0" + (1 + date.getMonth())).slice(-2);
       var day = ("0" + date.getDate()).slice(-2); 
       var hh = date.getHours();  
       var min = ('0' + date.getMinutes()).slice(-2) 
       time = year +  month +  day   ;
       return time;  
   }

   function fn_egov_init_date(){
       // var $frdate = $('#frdate');
       // var $todate = $('#todate');
       // $frdate.datetimepicker({
       //     timepicker: false,
       //     lang: 'ko',
       //     format: 'Y-m-d',
       //     scrollMonth: false,
       //     scrollInput: false,
       //     onShow: function (ct) {                                    
       //         this.setOptions({
       //             // maxDate: $frdate.val() ? $frdate.val() : false
       //         })
       //     },
       // });

       // $todate.datetimepicker({
       //     timepicker: false,
       //     lang: 'ko',
       //     format: 'Y-m-d',    //'Y-m-d H:i',
       //     scrollMonth: false,
       //     scrollInput: false,
       //     onShow: function (ct) {
       //         this.setOptions({
       //             // minDate: $todate.val() ? $todate.val() : false
       //         })
       //     }
       // });

   }

   class FlexGridContextMenu {
       constructor(grid) {
           let host = grid.hostElement, menu = this._buildMenu(grid);
           host.addEventListener('contextmenu', (e) => {
               // 클릭된 셀/열 선택
               let sel = grid.selection, ht = grid.hitTest(e), row = ht.getRow();

               switch (ht.panel) {
                   case grid.cells:
                   let colIndex = ht.col;
                   // 만약 그룹 헤더이면, 그룹 열 선택
                   if (row instanceof wijmo.grid.GroupRow && row.dataItem instanceof wijmo.collections.CollectionViewGroup) {
                       let gd = row.dataItem.groupDescription;
                       if (gd instanceof wijmo.collections.PropertyGroupDescription) {
                       let col = grid.getColumn(gd.propertyName);
                       if (col && col.index > -1) {
                           colIndex = col.index;
                       }
                       }
                   }
                   grid.select(ht.row, colIndex);
                   break;
                   case grid.columnHeaders:
                   grid.select(sel.row, ht.col);
                   break;
                   case grid.rowHeaders:
                   grid.select(ht.row, sel.col);
                   break;
                   default:
                   return; // 유효하지 않는 패널
               }
               // 현재 열에 대한 메뉴 표시
               if (grid.selection.col > -1) {
                   e.preventDefault(); // 브라우저의 기본 메뉴 취소
                   menu.show(e); // Wijmo 메뉴 표시
               }
           }, true);
       }
       _buildMenu(grid) {
           let menu = new wijmo.input.Menu(document.createElement('div'), {
           owner: grid.hostElement,
           displayMemberPath: 'header',
           subItemsPath: 'items',
           commandParameterPath: 'cmd',
           dropDownCssClass: 'ctx-menu',
           openOnHover: true,
           closeOnLeave: true,
           itemsSource: [
               {
               header: '정렬', items: [
                   { header: 'Ascending', cmd: 'SRT_ASC' },
                   { header: 'Descending', cmd: 'SRT_DESC' },
                   { header: 'No Sort', cmd: 'SRT_NONE' },
                   { header: '-' },
                   { header: 'Clear All Sorts', cmd: 'SRT_CLR' }
               ]
               },
               { header: '-' },
               { header: 'Pin/Unpin', cmd: 'PIN' },
               { header: '-' },
               { header: 'AutoSize', cmd: 'ASZ' },
               { header: 'AutoSize All', cmd: 'ASZ_ALL' },
               { header: '-' },
               { header: 'Group/Ungroup', cmd: 'GRP' },
               { header: 'Clear All Groups', cmd: 'GRP_CLR' },
               { header: '-' },
               {
               header: '내려받기', items: [
                   { header: 'CSV', cmd: 'X_CSV' },
                   { header: 'XLSX', cmd: 'X_XLSX' },
                   { header: 'PDF', cmd: 'X_PDF' },
               ]
               }
           ],
           command: {
               // 메뉴 명령 활성화/비활성화
               canExecuteCommand: (cmd) => {
               let view = grid.collectionView, col = grid.columns[grid.selection.col];
               switch (cmd) {
                   case 'SRT_ASC':
                   return col.currentSort != '+';
                   case 'SRT_DESC':
                   return col.currentSort != '-';
                   case 'SRT_NONE':
                   return col.currentSort != null;
                   case 'SRT_CLR':
                   return view.sortDescriptions.length > 0;
                   case 'PIN':
                   return true; // toggle pin
                   case 'ASZ':
                   case 'ASZ_ALL':
                   return true;
                   case 'GRP':
                   return col.dataType != wijmo.DataType.Number; // don't group numbers
                   case 'GRP_CLR':
                   return view.groupDescriptions.length > 0;
               }
               return true;
               },
               // 메뉴 명령 실행
               executeCommand: (cmd) => {
                   let view = grid.collectionView, cols = grid.columns, col = cols[grid.selection.col], sd = view.sortDescriptions, gd = view.groupDescriptions;
                   switch (cmd) {
                       case 'SRT_ASC':
                       case 'SRT_DESC':
                       case 'SRT_NONE':
                       if (grid.allowSorting != wijmo.grid.AllowSorting.MultiColumn) {
                           sd.clear();
                       }
                       else {
                           for (let i = 0; i < sd.length; i++) {
                           if (sd[i].property == col.binding) {
                               sd.removeAt(i);
                               break;
                           }
                           }
                       }
                       if (cmd != 'SRT_NONE') {
                           sd.push(new wijmo.collections.SortDescription(col.binding, cmd == 'SRT_ASC'));
                       }
                           break;
                       case 'SRT_CLR':
                           sd.clear();
                           break;
                       case 'PIN':
                           let fCols = grid.frozenColumns;
                           if (col.index >= fCols) { // pinning
                               cols.moveElement(col.index, fCols, false);
                               cols.frozen++;
                           }
                           else { // unpinning
                               cols.moveElement(col.index, fCols - 1, false);
                               cols.frozen--;
                           }
                           break;
                       case 'ASZ':
                           grid.autoSizeColumn(col.index);
                           break;
                       case 'ASZ_ALL':
                           grid.autoSizeColumns(0, grid.columns.length - 1);
                           break;
                       case 'GRP':
                       // 그룹 삭제
                           for (let i = 0; i < gd.length; i++) {
                               if (gd[i].propertyName == col.binding) {
                               gd.removeAt(i);
                               return; // we're done
                               }
                           }
                           // 그룹 추가
                           gd.push(new wijmo.collections.PropertyGroupDescription(col.binding));
                           break;
                       case 'GRP_CLR':
                           gd.clear();
                           break;
                       // 내보내기
                       case 'X_CSV':
                           let rng = new wijmo.grid.CellRange(0, 0, grid.rows.length - 1, grid.columns.length - 1), csv = grid.getClipString(rng, wijmo.grid.ClipStringOptions.CSV, true, false);
                           wijmo.saveFile(csv, '재고등록.csv');
                           break;
                       case 'X_XLSX':
                           const gridView = grid.collectionView;
                           let oldPgSize = gridView.pageSize, oldPgIndex = gridView.pageIndex;

                           grid.beginUpdate();
                           gridView.pageSize = 0;

                           wijmo.grid.xlsx.FlexGridXlsxConverter.saveAsync(grid, {includeCellStyles: true, includeColumnHeaders: true}, '재고등록.xlsx',
                           saved => {
                           gridView.pageSize = oldPgSize;
                           gridView.moveToPage(oldPgIndex);
                           grid.endUpdate();
                           }, null
                           ); 
                           break;
                       case 'X_PDF':
                           wijmo.grid.pdf.FlexGridPdfConverter.export(grid, '재고등록.pdf', {
                               maxPages: 10,
                               scaleMode: wijmo.grid.pdf.ScaleMode.PageWidth,
                               documentOptions: {
                               compress: true,
                               header: { declarative: { text: '\t&[Page] of &[Pages]' } },
                               footer: { declarative: { text: '\t&[Page] of &[Pages]' } },
                               info: { author: 'GrapeCity', title: '재고등록' }
                               },
                               //내장된 폰트 정보
                               embeddedFonts: [
                                   {
                                   source: "https://assets.codepen.io/975719/BMHANNAPro.ttf",
                                   name: "BMHANNAPro",
                                   style: "normal",
                                   weight: "normal",
                                   sansSerif: true
                                   }
                               ],
                               styles: {
                                   cellStyle: { backgroundColor: '#ffffff', borderColor: '#c6c6c6', font: {family: "BMHANNAPro"} },
                                   altCellStyle: { backgroundColor: '#f9f9f9' },
                                   groupCellStyle: { backgroundColor: '#dddddd' },
                                   headerCellStyle: { backgroundColor: '#eaeaea' }
                               }
                           });
                           break;
                   }
                   // 활성화 그리드 셀에 포커스 복원
                   grid.refresh();
                   let sel = grid.selection, cell = grid.cells.getCellElement(sel.row, sel.col);
                   if (cell) {
                       cell.focus();
                   }
               }
           }
           });
           // 완료
           return menu;
       }
   }        


</script>
    
    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

    <!-- modal -->
    <!-- class="modal_step_open" modal_step="1" -->
    
    <div class="modal modal modal_step modal_step1 hidden">
        <div class="modal_overlay">
        </div>
        <div class="modal_content modal_sm scrollbar">
            <div class="layoutCont">  
                <div class="modalContWrap">
                    <!-- <div class="modal_close cancerButton">
                      <img th:src="@{/assets/images/modal_close.png}" alt="모달 닫기버튼">
                    </div>                       -->
                    <div class="modal_head">
                    </div>
                    <div class="modal_con scrollbar">
                      모든 정보를 입력하세요.                          
                    </div>

                </div>
                <div class="modal_btn">
                    <button class="cancerButton " type="button">확인</button>
                </div>
                <!-- <div class="modal_btn flex">
                    <button class="cancerButton " type="button">확인</button>
                    <button class="cancerButton " type="button">확인</button>                        
                </div> -->
            </div>
        </div>
    </div>
    
</body>
</html>