<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<body style="background: #f5f9fa;">
    <header>

    </header>
    <div class="content flex"> 
        <div class="header on">
            <div class="left">
                <div class="ham">
                    <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                </div>
                <div class="nav_bg"></div>
                <!-- ################################ -->
                <!-- ## Left navigator include -->
                <th:block th:include="layouts/APPHeader/appLeftNav" />
            </div>
            <div class="right">           
            </div>
        </div>

        <div class="con">
            <!-- ## header top include -->
            <th:block th:include="layouts/APPHeader/appheadTop" /> 
            <div class="card-body bg-light">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#step01" onclick="tabchk_rtn('A')">사출공정</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step02"  onclick="tabchk_rtn('B')">검사공정</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step03"  onclick="tabchk_rtn('C')">검사이력현황</a>
                    </li>
                    <input type="hidden" id="tabvalue" value="A">
                    </ul>
                    <div class="tab-content">
                    <div class="tab-pane fade show active" id="step01">     
                        <div class="row gx-3" style="  margin: 10px 10px 10px;">   
                            <div class="col-2 col-sm-2">
                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">조회일자</span>
                                    <input type="text"  class="form-control datetimepicker" id="tridate" autocomplete="off"  placeholder="Y-m-d"     >
                                </div>
                            </div>  
                            <div class="col-2 col-sm-2">
                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">품목</span> 
                                    <input class="form-control form-control-sm" id="jpumname" type="text"    autocomplete="off"  placeholder=""     > 
                                </div>
                            </div>
                            <div class="col-auto">  
                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="retrieveBtn" >조회
                                </button> 
                            </div>  
                            <!-- <div class="col-auto"><span class="input-group-text" id="inputGroup-sizing-sm">매수</span> 
                                <input class="form-control form-control-sm" id="prtnum01" type="number"    autocomplete="off"  placeholder="">                                               
                            </div> -->
                            <!-- <div class="col-auto">   
                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="prt_btn()">인쇄
                                </button>
                            </div>  
                            <div class="col-auto">   
                                <div id="barcode"></div>  
                                <div id="qrcode_value"></div> 
                            </div>   -->
                        </div> 
                        <div class="container-fluid">   
                            <div id="wtab01Grid_div" style="overflow:scroll;   height:680px;    margin:0 auto; "></div> 
                            <!-- <div id="tab01Pager"></div> -->
                        </div>   
                    </div>
                    <div class="tab-pane fade" id="step02"> 
                        <div class="row gx-3" style="  margin: 10px 10px 10px;">   
                            <div class="col-2 col-sm-2">
                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">조회일자</span>
                                    <input type="text"  class="form-control datetimepicker" id="ipdate" autocomplete="off"  placeholder="Y-m-d"     >
                                </div>
                            </div> 
                            <div class="col-2 col-sm-2">
                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">품목</span> 
                                    <input class="form-control form-control-sm" id="jpumname" type="text"    autocomplete="off"  placeholder=""     > 
                                </div>
                            </div>
                            <div class="col-auto">  
                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="retrieveBtn" >조회
                                </button> 
                            </div>  
                            <!-- <div class="col-auto"><span class="input-group-text" id="inputGroup-sizing-sm">매수</span> 
                                <input class="form-control form-control-sm" id="prtnum02" type="number"    autocomplete="off"  placeholder="">                                               
                            </div>
                            <div class="col-auto">   
                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="prt_btn()">인쇄
                                </button>
                            </div>  
                            <div class="col-auto">   
                                <div id="barcode02"></div>  
                            </div>   -->
                        </div> 
                        <div class="container-fluid">
                            <div id="wtab02Grid_div" style="overflow:scroll;   height:600px;  margin:0 auto; "></div>
                            <!-- <div id="tab02Pager"></div> -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="step03">    
                        <div class="row gx-3" style="  margin: 10px 10px 10px;">   
                            <!-- <div class="col-2 col-sm-2">
                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">조회일자</span>
                                    <input type="text"  class="form-control datetimepicker" id="todate" autocomplete="off"  placeholder="Y-m-d"     >
                                </div>
                            </div>  -->
                            <div class="col-2 col-sm-2">
                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">바코드</span> 
                                    <input class="form-control form-control-sm" id="jpumname" type="text"    autocomplete="off"  placeholder=""     > 
                                </div>
                            </div>
                            <div class="col-1 col-sm-1">  
                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" id="retrieveBtn"  type="button" onclick="searchList_rtn()">조회
                                </button>
                            </div>  
                        </div> 
                        <div class="table-responsive">
                            <table class="table table-borderless" style="height: 100px;" >
                                <tbody>
                                <tr>  
                                    <td class="align-top">                                                         
                                    <div class="container-fluid"  >                                                         
                                        <div id="wtab04Grid_div"  style="overflow:scroll;   height:600px;     margin:0 auto; "></div> 
                                        </div>  
                                    </td> 
                                </tr>
                                </tbody>
                            </table>
                        </div>  
                    </div>
                    </div>
            </div> 
        </div> 

 
    </div>
      

    <!-- <input class="form-control form-control-sm"  type="hidden" id="actnmbtn" data-bs-toggle="modal" data-bs-target="#actnmmodal"  />  
    <input class="form-control form-control-sm"  type="hidden" id="actcontnmbtn" data-bs-toggle="modal" data-bs-target="#actcontnmmodal"  />  -->

    <!--  모달 처리 -->
    <!-- <input class="form-control form-control-sm"  type="hidden" id="inbarcodebtn" data-bs-toggle="modal" data-bs-target="#cifmodal"  />      
     <div class="modal fade" id="barcodemodal" data-bs-keyboard="false"
     data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
         <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm10" >
             <div class="modal-content border-0">
                 <div class="modal-body p-0" >
                    <span>------------------------------<br></span>  
                    <div id="barcode"></div> 
                    <span>------------------------------<br></span>  
                    <div id="qrcode_value"></div> 
                    <span>------------------------------</span>  
                 </div>   
 
             </div>
         </div> 
     </div>   -->
<!--------------------------------------------------------------------------------------->     
 
           


<script type="text/javascript" th:inline="javascript">
    var view_p01tab01page;
    var view_p01tab02page;
    var view_p01tab03page; 
    var view_p01tab04page; 
    var wtab01Grid;
    var wtab02Grid;
    var wtab03Grid; 
    var wtab04Grid; 
    var excelIOSheet;
    var typeMenu;  
    var treemap;
    let barchart;
    let ani;
    let barcode ;
    let barcode02 ;
    let doc ;
   var wseries_data = [0]; 
    var lotno = new Array();
    var prod_qty = new Array();
    var linenm = new Array();
    var cltnm = new Array();
    var pname = new Array();
   let includeColumnHeader = false;
   var initBody; 
   var div_barcode;
    window.onload = function() {  
       localStorage.setItem("setpage", "app03p001"); 
       
        // //QR 코드 샘플
        // barcode = new wijmo.barcode.common.QrCode('#barcode', {
        //     value: 'QR code Demo',
        //     renderType : 'Svg'
        // });
    //    barcode = new wijmo.barcode.common.Code128('#barcode', {
    //                 value: 'Code128Demo',
    //                 autoWidthZoom: 2,
    //                 autoWidth: true    
    //             });  
    //    barcode02 = new wijmo.barcode.common.Code128('#barcode02', {
    //                 value: 'Code128Demo',
    //                 autoWidthZoom: 2,
    //                 autoWidth: true    
    //             }); 
       view_p01tab01page = new wijmo.collections.CollectionView(getData_wlist(), {
            // pageSize: 21
        }); 
        wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'indate', header: '등록일자', align: "center", width: 100 }, 
                { binding: 'ecltnm', header: '거래처', align: "left", width: 150 }, 
                { binding: 'jpum', header: '품목', align: "center", width: 200 },  
                { binding: 'jgugek', header: '규격', align: "left", width: 150 },   
                { binding: 'prod_qty', header: '계획수량', align: "right", width: 100 },  
                { binding: 'lotno', header: '로트번호', align: "center", width: 150 },
                { binding: 'prod_sdate', header: '생산시작일', align: "center", width: 100 },
                { binding: 'prod_edate', header: '생산종료일', align: "center", width: 100 },
                { binding: 'cls_flag', header: '작지상태', align: "center", width: 100 },
                { binding: 'perid', header: '담당자', align: "center", width: 100 },            
            ], 
            itemsSource: view_p01tab01page
        });   
        
       new FlexGridContextMenu(wtab01Grid);  
       setHeaderColumn(false);
       function setHeaderColumn(headerOn) {
           wtab01Grid.headersVisibility = headerOn
           ? wijmo.grid.HeadersVisibility.All
           : wijmo.grid.HeadersVisibility.Column; 
       } 
         // tab01검색 데이터 수집
       function getData_tab01(){       
           var wactnm_data = [];
           var cnt = 1;
           for (var i = 0; i < 20; i++) {
               wactnm_data.push({
                   id: i, 
                   index: cnt,
                   jcode: '', 
                   ipqty:  '', 
               });
               cnt++;
           }    
           return wactnm_data;                                          
       } 

   
       //검사현황 popup list
       view_p01tab02page = new wijmo.collections.CollectionView(getData_wlist(), { 
       }); 
       wtab02Grid = new wijmo.grid.FlexGrid('#wtab02Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'indate', header: '등록일자', align: "center", width: 100 }, 
                { binding: 'ecltnm', header: '거래처', align: "left", width: 150 }, 
                { binding: 'pname', header: '품목', align: "center", width: 150 },  
                { binding: 'jgugek', header: '규격', align: "left", width: 150 },   
                { binding: 'prod_qty', header: '계획수량', align: "right", width: 100 },  
                { binding: 'lotno', header: '로트번호', align: "center", width: 150 },
                { binding: 'prod_sdate', header: '생산시작일', align: "center", width: 100 },
                { binding: 'prod_edate', header: '생산종료일', align: "center", width: 100 },
                { binding: 'cls_flag', header: '작지상태', align: "center", width: 100 },
                { binding: 'perid', header: '담당자', align: "center", width: 100 },            
            ], 
            itemsSource: view_p01tab02page
        });   


       new FlexGridContextMenu(wtab02Grid);  
       // 헤더 열 전환
       setHeaderColumn2(false);
       function setHeaderColumn2(headerOn) {
           wtab02Grid.headersVisibility = headerOn
           ? wijmo.grid.HeadersVisibility.All
           : wijmo.grid.HeadersVisibility.Column; 
       } 
       wtab02Grid.showMarquee = true;
       wtab02Grid.focus();
       wijmo.toggleClass(wtab02Grid.hostElement, 'highlightActive', true);
       wtab02Grid.focus();



       //  데이터 수집
       function getData_wlist(){          
            var wtab01Dto = [[${fplanList}]];   
            var wactnm_data = [];       
            var cnt = 1;   
            for (var i = 0; i < wtab01Dto.length; i++) {
                wactnm_data.push({
                    id: i, 
                    index: cnt,
                    indate: wtab01Dto[i]["indate"], 
                    cltcd: wtab01Dto[i]["cltcd"],
                    ecltnm: wtab01Dto[i]["ecltnm"], 
                    pcode: wtab01Dto[i]["pcode"], 
                    jpum: wtab01Dto[i]["jpum"], 
                    jgugek: wtab01Dto[i]["jgugek"], 
                    prod_qty: wtab01Dto[i]["prod_qty"], 
                    lotno: wtab01Dto[i]["lotno"], 
                    prod_sdate: wtab01Dto[i]["prod_sdate"], 
                    prod_edate: wtab01Dto[i]["prod_edate"], 
                    cls_flag: wtab01Dto[i]["cls_flag"], 
                    perid: wtab01Dto[i]["perid"],    
                    workdv: wtab01Dto[i]["workdv"], 
                    qcdate: wtab01Dto[i]["qcdate"], 
                    jpum: wtab01Dto[i]["jpum"], 
                    dem_flag: wtab01Dto[i]["dem_flag"], 
                    jchajong: wtab01Dto[i]["jchajong"], 
                    jsayang: wtab01Dto[i]["jsayang"], 
                    jgugek2: wtab01Dto[i]["jgugek2"], 
                    j_sr: wtab01Dto[i]["j_sr"], 
                    jpumcode: wtab01Dto[i]["jpumcode"], 
                    jdanwy: wtab01Dto[i]["jdanwy"], 
                    prod_qty: wtab01Dto[i]["prod_qty"],    
                    cls_flag: wtab01Dto[i]["cls_flag"],
                    istore: wtab01Dto[i]["istore"], 
                    ostore: wtab01Dto[i]["ostore"], 
                    rwflag: wtab01Dto[i]["rwflag"],    
                    remark: wtab01Dto[i]["remark"],                                 
                });
                cnt++;
            }      
            return wactnm_data;                        
       } 
         
 

       //재고현황  list
       view_p01tab04page = new wijmo.collections.CollectionView(getData_tab04(), {
           // sortDescriptions: [new wijmo.collections.SortDescription("jepm", false)],
           // pageSize: 20
       });
       // 일자별입고현황 페이지 이동
       // new wijmo.input.CollectionViewNavigator('#tab02Pager', {
       //     byPage: true,
       //     headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
       //     cv: view_p01tab02page
       // });     
       wtab04Grid = new wijmo.grid.FlexGrid('#wtab04Grid_div', {  
           autoGenerateColumns: false,
           isReadOnly: false, 
           allowSorting: 'MultiColumn',
           selectionMode: 'RowRange',
           alternatingRowStep: 0,
           columns: [     
               { binding: 'jkey', header: '품목코드', align: "center", width: 130 }, 
               { binding: 'jpum', header: '품목', align: "center", width: 180 }, 
               { binding: 'jgugek', header: '규격', align: "center", width: 180 }, 
               { binding: 'jgugek2', header: '색상', align: "center", width: 100 }, 
               { binding: 'jsayang', header: '사양구분', align: "center", width: 100 }, 
               { binding: 'jchajong', header: '차종', align: "center", width: 100 }, 
               { binding: 'j_sr', header: '스프루', align: "center", width: 100 }, 
               { binding: 'jqty', header: '재고수량', align: "center", width: 100 },   
           ], 
           itemsSource: view_p01tab04page
       });  


       new FlexGridContextMenu(wtab04Grid);  
       // 선택기 생성
       selector = new wijmo.grid.selector.Selector(wtab04Grid, {
           itemChecked: () => {
               // showCheckedCount();
           }
       }); 
       // 헤더 열 전환
       setHeaderColumn3(false);
       function setHeaderColumn3(headerOn) {
           wtab04Grid.headersVisibility = headerOn
           ? wijmo.grid.HeadersVisibility.All
           : wijmo.grid.HeadersVisibility.Column; 
       } 
       wtab04Grid.showMarquee = true;
       wtab04Grid.focus();
       wijmo.toggleClass(wtab04Grid.hostElement, 'highlightActive', true);
       wtab04Grid.focus();



       //  데이터 수집
       function getData_tab04(){        
           var wactnm_data = [];
           var cnt = 1;
           for (var i = 0; i < 20; i++) {
               wactnm_data.push({
                   id: i, 
                   index: cnt,
                   jepm: '', 
                   jepmnm: '', 
                   jgugek: '', 
                   jgugek2: '', 
                   jsayang: '', 
                   jchajong: '', 
                   j_sr: '', 
                   jqty:  '', 
               });
               cnt++;
           }     
           return wactnm_data;                           
       }  


   } //onload function 

 
   //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
   //선택한 탭 체크 
    function tabchk_rtn(arg){
       document.getElementById('tabvalue').value = arg; 
   } 

   //재고현황 선택     
   function wcustcodeChk_a(arg){   
       var ls_tab = document.getElementById('tabvalue').value;
    //    var ls_todate = document.getElementById('todate').value; 
       // console.log(arg)
       // console.log(ls_todate)
       $.ajax({
           url: '/app03m/index03/jaegocustlist',  
           type:"POST",
           data: { 
               "searchtxt" : '%',
               "jcustcd" :arg, 
               "todate" :ls_todate, 
           }, 
           async:false,
           success:function(data){  
               // console.log(data);
               tabC_grid(data);
           },error:function(e){
               console.log("error");                            
           }
       }).done(function(fragment){           

       })        

   }    


   function save_btn(arg){
       var ls_tab = document.getElementById('tabvalue').value;
       var ls_frdate = document.getElementById('frdate').value;                                        
       const warnning_grid = document.getElementById('inwarnning_grid'); 
       var ls_pcode  =  [];        
       var ll_qty    =  [];    
       var ls_jcode  =  [];        
       var ll_jqty    =  []; 
       var llCount = 0;         

   
       if (!confirm("저장하시겠습니까?")) {
               return ; 
       }   
       
       switch(ls_tab){
           case 'A':
       
               if(ls_frdate == null || ls_frdate.length == 0 || ls_frdate == ""){ 
                   alert("입고일자를 등록하세요") 
                   document.getElementById("frdate").focus(); 
                   return ;               
               }   

               var gridrow = wtab01Grid.rows.length - 1; 
               for( i=0; i < gridrow; i++){
                       ls_pcode[i] =  wtab01Grid.rows[i]._ubv[3]; 
                       ll_qty[i]   =  parseInt(wtab01Grid.rows[i]._ubv[4]);  
                       if(!ls_pcode[i] ){
                           ls_pcode[i] =  wtab01Grid.rows[i]._ubv.c; 
                           ll_qty[i]   =  parseInt(wtab01Grid.rows[i]._ubv.d);

                       }  
                       if(!ls_pcode[i] ){
                           continue;
                       }
                       if(!ll_qty[i] ){ 
                           alert("수량을 등록하세요") 
                           return                                           
                       } 

                       if (!ls_jcode.includes(ls_pcode[i])) {
                           ls_jcode[llCount] = ls_pcode[i]; 
                           ll_jqty[llCount] =  ll_qty[i] ;   
                           llCount++;
                       } 
               }    
               if(llCount ==0 ){
                   alert("엑셀 자료를 등록하세요") 
                   return     
               }
               $.ajax({
                   url: '/app03m/index03/save',  
                   type:"POST",
                   data: { 
                       "frdate"  : ls_frdate,  
                       "jcode"   : ls_jcode     ,
                       "jqty"     : ll_jqty   ,  
                   }, 
                   async:false,
                   success:function(data){   
                       if(data == "success"){
                           alert("저장되었습니다.") 
                           // searchList_rtn(ls_tab);  
                           // clear_rtn(ls_tab);        
                       }else{                       
                           alert("저장중 오류가 발생했습니다. 관리자에게 문의하세요.")
                           // listUp();
                           console.log(data);  
                       }
                      
                   },error:function(e){
                       console.log("error"); 
                   }
               }).done(function(fragment){           

               })  
               break;              
           default:    
               break;                
       } 

   } 

   function prt_btn(arg){
       var ls_tab = document.getElementById('tabvalue').value;
       var ls_ipdate = document.getElementById('ipdate').value;     
       if (!confirm("인쇄하시겠습니까?")) {
               return ; 
       }   
       
       switch(ls_tab){
           case 'A': 
                if(lotno.length == 0){return } 
                // document.getElementById("inbarcodebtn").click(); 
                // const html = document.querySelector('html');
                // const printContents = document.querySelector('.modal').innerHTML;
                // console.log(printContents)
                // const printDiv = document.createElement('barcode');
                // printDiv.className = 'print-div';
                // html.appendChild(printDiv);
                // printDiv.innerHTML = printContents;
                // document.body.style.display = 'none';
                // window.print();
                // document.body.style.display = 'block';
                // printDiv.style.display = 'none';
                // barcode.value = lotno[0];
  
                // doc = new wijmo.PrintDocument({ 
                //     copyCss: false 
                // });
                // doc.append('<link href="https://cdn.grapecity.com/wijmo/5.latest/styles/wijmo.min.css" rel="stylesheet">');
                // doc.append(`
                //         <style>
                //             .wj-barcode-qrcode {
                //                 width: 100px;
                //                 height: 100px;
                //             }
                //         </style>
                //     `);
                // doc.append(document.querySelector('#barcode')); 
                // doc.append(barcode.value);
                // // <div id="barcode" class="wj-barcode wj-control wj-barcode-code128 wj-state-focus wj-state-focused" tabindex="0" style="line-height: 0px;"><canvas width="308" height="60"></canvas></div>
                // doc.print(); 
               break;   
           case 'B': 
                // var ll_prtnum02 = document.getElementById('prtnum02').value;  

                // if(lotno.length == 0){return }  
  
                // doc = new wijmo.PrintDocument({ 
                //     copyCss: false 
                // });
                // doc.append('<link href="https://cdn.grapecity.com/wijmo/5.latest/styles/wijmo.min.css" rel="stylesheet">');
                // doc.append(`
                //         <style>
                //             .wj-barcode-qrcode {
                //                 width: 100px;
                //                 height: 100px;
                //             }
                //         </style>
                //     `);
                // doc.append(document.querySelector('#barcode02')); 
                // doc.append(barcode02.value);
                // // <div id="barcode" class="wj-barcode wj-control wj-barcode-code128 wj-state-focus wj-state-focused" tabindex="0" style="line-height: 0px;"><canvas width="308" height="60"></canvas></div>
                // doc.print(); 
               break;               
           default:    
               break;                
       } 

   }    
    

   function clear_rtn(arg){
       switch(arg){
           case 'A': 
               document.getElementById('cifcode').value = "";
               document.getElementById('cifcodename').value = "";
               break;
           case 'B': 
               
               break;
           case 'C':
              
               break;                
           default:    
               break;                
       } 

   }
   //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                
   // tab01 검색   
   document.getElementById("retrieveBtn").addEventListener("click",function(){ 
       
       var ls_tab = document.getElementById('tabvalue').value;   
       searchList_rtn(ls_tab);
   })   

   function searchList_rtn(arg1){ 
       switch(arg1){
           case 'A': 
               break;
           case 'B': 
               var ls_ipdate = document.getElementById('ipdate').value; 
               if(ls_ipdate == null || ls_ipdate.length == 0 || ls_ipdate == ""){ 
                   alert("입고일자를 등록하세요") 
                   document.getElementById("ipdate").focus(); 
                   return ;               
               }  
               $.ajax({
                   url: '/app03m/index03/list',  
                   type:"POST",
                   data: { 
                       "ipdate"      : ls_ipdate,  
                   }, 
                   async:false,
                   success:function(data){ 
                       tabB_grid(data);
                   },error:function(e){
                       console.log("error");                            
                   }
               }).done(function(fragment){           

               })    
               break;
           case 'C':
               var ls_jpumname = document.getElementById('jpumname').value;  
               $.ajax({
                   url: '/app02m/index10/tabclist',  
                   type:"POST",
                   data: { 
                       "searchtxt" : ls_jpumname 
                   }, 
                   async:false,
                   success:function(data){   
                       tabC_grid(data);
                   },error:function(e){
                       console.log("error");
                       // alert(data.code);
                       // alert(data.message);
                   }
               }).done(function(fragment){           

               })  
               break;                
           default:    
               break;                
       }
   

   }        
   function tabB_grid(data){
       var wtab02Dto  = data;    
       var wtab02_data = [];
       var cnt = 1;
       for (var i = 0; i < wtab02Dto.length; i++) {
           wtab02_data.push({
               id: i, 
               index: cnt,
               jepm: wtab02Dto[i]["jepm"],
               jpumnm: wtab02Dto[i]["jpumnm"],
               jgugek: wtab02Dto[i]["jgugek"], 
               jgugek2: wtab02Dto[i]["jgugek2"], 
               jsayang: wtab02Dto[i]["jsayang"],
               jchajong: wtab02Dto[i]["jchajong"], 
               j_sr: wtab02Dto[i]["j_sr"], 
               jqty: wtab02Dto[i]["jqty"], 
               
           });
           cnt++;
       }    
       // console.log(wtab02_data.length);
       wtab02Grid.columns.clear();  
       wtab02Grid.autoGenerateColumns = false; 
       view_p01tab02page.sourceCollection  = wtab02_data;
       var cols = new wijmo.grid.Column(); 
       cols.binding = 'jepm';
       cols.header = '코드';
       cols.align = "center";
       cols.width = 200; 
       wtab02Grid.columns.push(cols);  

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jpumnm';
       cols.header = '품목';
       cols.align = "center";
       cols.width = 200;  
       wtab02Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jgugek';
       cols.header = '규격';
       cols.align = "center";
       cols.width = 100;  
       wtab02Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jgugek2';
       cols.header = '색상';
       cols.align = "center";
       cols.width = 100;  
       wtab02Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jsayang';
       cols.header = '사양구분';
       cols.align = "center";
       cols.width = 100;  
       wtab02Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jchajong';
       cols.header = '차종';
       cols.align = "center";
       cols.width = 100;  
       wtab02Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'j_sr';
       cols.header = '스프루';
       cols.align = "center";
       cols.width = 200;  
       wtab02Grid.columns.push(cols);   

       // console.log("cols", cols);  
       cols = new wijmo.grid.Column(); 
       cols.binding = 'jqty';
       cols.header = '입고수량';
       cols.align = "center";
       cols.width = 100;  
       wtab02Grid.columns.push(cols);   

   }

   function tabC_grid(data){
       var wtab03Dto  = data;    
       var wtab03_data = [];
       var cnt = 1;
       for (var i = 0; i < wtab03Dto.length; i++) {
           wtab03_data.push({
               id: i, 
               index: cnt,
               jkey: wtab03Dto[i]["jkey"],
               jpum: wtab03Dto[i]["jpum"],
               jgugek: wtab03Dto[i]["jgugek"], 
               jgugek2: wtab03Dto[i]["jgugek2"], 
               jsayang: wtab03Dto[i]["jsayang"],
               jchajong: wtab03Dto[i]["jchajong"], 
               j_sr: wtab03Dto[i]["j_sr"], 
               jqty: wtab03Dto[i]["jqty"], 
               
           });
           cnt++;
       }     
       // console.log(wtab03_data.length);
       wtab04Grid.columns.clear();  
       wtab04Grid.autoGenerateColumns = false; 
       view_p01tab04page.sourceCollection  = wtab03_data;
       var cols = new wijmo.grid.Column(); 
       cols.binding = 'jkey';
       cols.header = '코드';
       cols.align = "center";
       cols.width = 200; 
       wtab04Grid.columns.push(cols);  

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jpum';
       cols.header = '품목';
       cols.align = "center";
       cols.width = 200;  
       wtab04Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jgugek';
       cols.header = '규격';
       cols.align = "center";
       cols.width = 100;  
       wtab04Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jgugek2';
       cols.header = '색상';
       cols.align = "center";
       cols.width = 100;  
       wtab04Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jsayang';
       cols.header = '사양구분';
       cols.align = "center";
       cols.width = 100;  
       wtab04Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'jchajong';
       cols.header = '차종';
       cols.align = "center";
       cols.width = 100;  
       wtab04Grid.columns.push(cols);   

       cols = new wijmo.grid.Column(); 
       cols.binding = 'j_sr';
       cols.header = '스프루';
       cols.align = "center";
       cols.width = 200;  
       wtab04Grid.columns.push(cols);   

       // console.log("cols", cols);  
       cols = new wijmo.grid.Column(); 
       cols.binding = 'jqty';
       cols.header = '재고수량';
       cols.align = "center";
       cols.width = 100;  
       wtab04Grid.columns.push(cols);   

   }         
   


//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


   $(document).ready(function() { 
       getToday()
       fn_egov_init_date()
       // $('datetimepicker').datetimepicker({
           
       // }); 

       // $("#frdate").change(function(e){ 
       //     // console.log("달력클릭");
       //     // console.log(convert_time(e.timestamp));
       // })
       // $("#todate").change(function(e){ 
       //     // console.log("달력클릭");
       //     // console.log(convert_time(e.timestamp));
       // })
   })

   function test_rtn(arg1){
       console.log(arg1);
       const disHtml = `
           <div class="tab-pane fade show active" id=${arg1} role="tabpanel" aria-labelledby="profile-tab">${arg1}</div>`
       $('#btnDiv02').before(disHtml);
   }


   function getToday(){
       let today = new Date();   

       let year = today.getFullYear(); // 년도
       let month = today.getMonth() + 1;  // 월
       let date = today.getDate();  // 날짜
       let day = today.getDay();  // 요일
       if(month > 0 && month < 10) {month = "0" + month};
       if(date > 0 && date < 10) {date = "0" + date};
       let ls_frday = year + '-' + month + '-01' 
       let ls_today = year + '-' + month + '-' + date 
    //    document.getElementById('frdate').value = ls_today; 
       document.getElementById('ipdate').value = ls_today;
       document.getElementById('tridate').value = ls_today;
       
       // document.getElementById('todate').value = ls_today;
   }

   function convert_time(timestamp){ 
       //현재시간
       var date = new Date(timestamp); 
       var year = date.getFullYear();
       var month = ("0" + (1 + date.getMonth())).slice(-2);
       var day = ("0" + date.getDate()).slice(-2); 
       var hh = date.getHours();  
       var min = ('0' + date.getMinutes()).slice(-2) 
       time = year +  month +  day   ;
       return time;  
   }

   function fn_egov_init_date(){
       // var $frdate = $('#frdate');
       // var $todate = $('#todate');
       // $frdate.datetimepicker({
       //     timepicker: false,
       //     lang: 'ko',
       //     format: 'Y-m-d',
       //     scrollMonth: false,
       //     scrollInput: false,
       //     onShow: function (ct) {                                    
       //         this.setOptions({
       //             // maxDate: $frdate.val() ? $frdate.val() : false
       //         })
       //     },
       // });

       // $todate.datetimepicker({
       //     timepicker: false,
       //     lang: 'ko',
       //     format: 'Y-m-d',    //'Y-m-d H:i',
       //     scrollMonth: false,
       //     scrollInput: false,
       //     onShow: function (ct) {
       //         this.setOptions({
       //             // minDate: $todate.val() ? $todate.val() : false
       //         })
       //     }
       // });

   }

   class FlexGridContextMenu {
       constructor(grid) {
           let host = grid.hostElement, menu = this._buildMenu(grid);
           host.addEventListener('contextmenu', (e) => {
               // 클릭된 셀/열 선택
               let sel = grid.selection, ht = grid.hitTest(e), row = ht.getRow();

               switch (ht.panel) {
                   case grid.cells:
                   let colIndex = ht.col;
                   // 만약 그룹 헤더이면, 그룹 열 선택
                   if (row instanceof wijmo.grid.GroupRow && row.dataItem instanceof wijmo.collections.CollectionViewGroup) {
                       let gd = row.dataItem.groupDescription;
                       if (gd instanceof wijmo.collections.PropertyGroupDescription) {
                       let col = grid.getColumn(gd.propertyName);
                       if (col && col.index > -1) {
                           colIndex = col.index;
                       }
                       }
                   }
                   grid.select(ht.row, colIndex);
                   break;
                   case grid.columnHeaders:
                   grid.select(sel.row, ht.col);
                   break;
                   case grid.rowHeaders:
                   grid.select(ht.row, sel.col);
                   break;
                   default:
                   return; // 유효하지 않는 패널
               }
               // 현재 열에 대한 메뉴 표시
               if (grid.selection.col > -1) {
                   e.preventDefault(); // 브라우저의 기본 메뉴 취소
                   menu.show(e); // Wijmo 메뉴 표시
               }
           }, true);
       }
       _buildMenu(grid) {
           let menu = new wijmo.input.Menu(document.createElement('div'), {
           owner: grid.hostElement,
           displayMemberPath: 'header',
           subItemsPath: 'items',
           commandParameterPath: 'cmd',
           dropDownCssClass: 'ctx-menu',
           openOnHover: true,
           closeOnLeave: true,
           itemsSource: [
               {
               header: '정렬', items: [
                   { header: 'Ascending', cmd: 'SRT_ASC' },
                   { header: 'Descending', cmd: 'SRT_DESC' },
                   { header: 'No Sort', cmd: 'SRT_NONE' },
                   { header: '-' },
                   { header: 'Clear All Sorts', cmd: 'SRT_CLR' }
               ]
               },
               { header: '-' },
               { header: 'Pin/Unpin', cmd: 'PIN' },
               { header: '-' },
               { header: 'AutoSize', cmd: 'ASZ' },
               { header: 'AutoSize All', cmd: 'ASZ_ALL' },
               { header: '-' },
               { header: 'Group/Ungroup', cmd: 'GRP' },
               { header: 'Clear All Groups', cmd: 'GRP_CLR' },
               { header: '-' },
               {
               header: '내려받기', items: [
                   { header: 'CSV', cmd: 'X_CSV' },
                   { header: 'XLSX', cmd: 'X_XLSX' },
                   { header: 'PDF', cmd: 'X_PDF' },
               ]
               }
           ],
           command: {
               // 메뉴 명령 활성화/비활성화
               canExecuteCommand: (cmd) => {
               let view = grid.collectionView, col = grid.columns[grid.selection.col];
               switch (cmd) {
                   case 'SRT_ASC':
                   return col.currentSort != '+';
                   case 'SRT_DESC':
                   return col.currentSort != '-';
                   case 'SRT_NONE':
                   return col.currentSort != null;
                   case 'SRT_CLR':
                   return view.sortDescriptions.length > 0;
                   case 'PIN':
                   return true; // toggle pin
                   case 'ASZ':
                   case 'ASZ_ALL':
                   return true;
                   case 'GRP':
                   return col.dataType != wijmo.DataType.Number; // don't group numbers
                   case 'GRP_CLR':
                   return view.groupDescriptions.length > 0;
               }
               return true;
               },
               // 메뉴 명령 실행
               executeCommand: (cmd) => {
                   let view = grid.collectionView, cols = grid.columns, col = cols[grid.selection.col], sd = view.sortDescriptions, gd = view.groupDescriptions;
                   switch (cmd) {
                       case 'SRT_ASC':
                       case 'SRT_DESC':
                       case 'SRT_NONE':
                       if (grid.allowSorting != wijmo.grid.AllowSorting.MultiColumn) {
                           sd.clear();
                       }
                       else {
                           for (let i = 0; i < sd.length; i++) {
                           if (sd[i].property == col.binding) {
                               sd.removeAt(i);
                               break;
                           }
                           }
                       }
                       if (cmd != 'SRT_NONE') {
                           sd.push(new wijmo.collections.SortDescription(col.binding, cmd == 'SRT_ASC'));
                       }
                           break;
                       case 'SRT_CLR':
                           sd.clear();
                           break;
                       case 'PIN':
                           let fCols = grid.frozenColumns;
                           if (col.index >= fCols) { // pinning
                               cols.moveElement(col.index, fCols, false);
                               cols.frozen++;
                           }
                           else { // unpinning
                               cols.moveElement(col.index, fCols - 1, false);
                               cols.frozen--;
                           }
                           break;
                       case 'ASZ':
                           grid.autoSizeColumn(col.index);
                           break;
                       case 'ASZ_ALL':
                           grid.autoSizeColumns(0, grid.columns.length - 1);
                           break;
                       case 'GRP':
                       // 그룹 삭제
                           for (let i = 0; i < gd.length; i++) {
                               if (gd[i].propertyName == col.binding) {
                               gd.removeAt(i);
                               return; // we're done
                               }
                           }
                           // 그룹 추가
                           gd.push(new wijmo.collections.PropertyGroupDescription(col.binding));
                           break;
                       case 'GRP_CLR':
                           gd.clear();
                           break;
                       // 내보내기
                       case 'X_CSV':
                           let rng = new wijmo.grid.CellRange(0, 0, grid.rows.length - 1, grid.columns.length - 1), csv = grid.getClipString(rng, wijmo.grid.ClipStringOptions.CSV, true, false);
                           wijmo.saveFile(csv, '재고등록.csv');
                           break;
                       case 'X_XLSX':
                           const gridView = grid.collectionView;
                           let oldPgSize = gridView.pageSize, oldPgIndex = gridView.pageIndex;

                           grid.beginUpdate();
                           gridView.pageSize = 0;

                           wijmo.grid.xlsx.FlexGridXlsxConverter.saveAsync(grid, {includeCellStyles: true, includeColumnHeaders: true}, '재고등록.xlsx',
                           saved => {
                           gridView.pageSize = oldPgSize;
                           gridView.moveToPage(oldPgIndex);
                           grid.endUpdate();
                           }, null
                           ); 
                           break;
                       case 'X_PDF':
                           wijmo.grid.pdf.FlexGridPdfConverter.export(grid, '재고등록.pdf', {
                               maxPages: 10,
                               scaleMode: wijmo.grid.pdf.ScaleMode.PageWidth,
                               documentOptions: {
                               compress: true,
                               header: { declarative: { text: '\t&[Page] of &[Pages]' } },
                               footer: { declarative: { text: '\t&[Page] of &[Pages]' } },
                               info: { author: 'GrapeCity', title: '재고등록' }
                               },
                               //내장된 폰트 정보
                               embeddedFonts: [
                                   {
                                   source: "https://assets.codepen.io/975719/BMHANNAPro.ttf",
                                   name: "BMHANNAPro",
                                   style: "normal",
                                   weight: "normal",
                                   sansSerif: true
                                   }
                               ],
                               styles: {
                                   cellStyle: { backgroundColor: '#ffffff', borderColor: '#c6c6c6', font: {family: "BMHANNAPro"} },
                                   altCellStyle: { backgroundColor: '#f9f9f9' },
                                   groupCellStyle: { backgroundColor: '#dddddd' },
                                   headerCellStyle: { backgroundColor: '#eaeaea' }
                               }
                           });
                           break;
                   }
                   // 활성화 그리드 셀에 포커스 복원
                   grid.refresh();
                   let sel = grid.selection, cell = grid.cells.getCellElement(sel.row, sel.col);
                   if (cell) {
                       cell.focus();
                   }
               }
           }
           });
           // 완료
           return menu;
       }
   }        


</script>
    
    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

    <!-- modal -->
    <!-- class="modal_step_open" modal_step="1" -->
    
    <div class="modal modal modal_step modal_step1 hidden">
        <div class="modal_overlay">
        </div>
        <div class="modal_content modal_sm scrollbar">
            <div class="layoutCont">  
                <div class="modalContWrap">
                    <!-- <div class="modal_close cancerButton">
                      <img th:src="@{/assets/images/modal_close.png}" alt="모달 닫기버튼">
                    </div>                       -->
                    <div class="modal_head">
                    </div>
                    <div class="modal_con scrollbar">
                      모든 정보를 입력하세요.                          
                    </div>

                </div>
                <div class="modal_btn">
                    <button class="cancerButton " type="button">확인</button>
                </div>
                <!-- <div class="modal_btn flex">
                    <button class="cancerButton " type="button">확인</button>
                    <button class="cancerButton " type="button">확인</button>                        
                </div> -->
            </div>
        </div>
    </div>
    
</body>
</html>