<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App01.Index02Mapper">


    <select id="getWflagList"  parameterType="com.dae.kdmes.DTO.App01.Index02Dto" resultType="com.dae.kdmes.DTO.App01.Index02Dto">
        <![CDATA[
            select com_cls, com_cnam from TB_CA510  where com_code = '01' and isnull(com_cls,'') Like concat('%',#{com_cls},'%') order by com_cls
        ]]>
    </select>

    <select id="GetFplanDetailList"  parameterType="com.dae.kdmes.DTO.App01.Index02Dto" resultType="com.dae.kdmes.DTO.App01.Index02Dto">
        <![CDATA[
            select * from TB_FPLAN_WRMC where wfrag = #{com_cls}
        ]]>
    </select>

    <insert id="InsertFplanDetail" parameterType="com.dae.kdmes.DTO.App01.Index02Dto" >
        insert into TB_FPLAN_WRMC (wrmc, wrmcnm, wperid ) values
        (#{wrmc}, #{wrmcnm}, #{wperid})
    </insert>

    <update id="UpdateFplanDetail" parameterType="com.dae.kdmes.DTO.App01.Index02Dto">
        <![CDATA[
        UPDATE  TB_FPLAN_WRMC SET wrmc = #{wrmc} , wrmcnm = #{wrmcnm} , wperid = #{wperid}
        where wrmc  = #{wrmc} and wrmcnm = #{wrmcnm} and wperid = #{wperid}
        ]]>
    </update>

    <update id="DeleteFplanDetail" parameterType="com.dae.kdmes.DTO.App01.Index02Dto">
        <![CDATA[
        DELETE  TB_FPLAN_WRMC   where wrmc  = #{wrmc} and wrmcnm = #{wrmcnm} and wperid = #{wperid}
        ]]>
    </update>

    <select id="GetComCodeCheck" parameterType="com.dae.kdmes.DTO.App01.Index02Dto" resultType="String">
        <![CDATA[
        select   wrmc , wperid
        from TB_FPLAN_WRMC WITH (NOLOCK)
        WHERE isnull(wrmc,'')   = #{wrmc}
        and isnull(wperid,'')   = #{wperid}
        ORDER BY wrmc
        ]]>
    </select>



</mapper>
