<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App01.Index03Mapper">





    <select id="GetJpumCustJaegoList" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="com.dae.kdmes.DTO.App01.Index03Dto">
        <![CDATA[
            select    jkey,  jpum  ,  jgugek , jsize,
                             jmodel_code, jcolor_code, jcustomer_code,
                             convert(integer, DBO.DF_TB_PCODE_JQTY(jkey,  #{frdate},  #{todate}) ) as jqty
            from JCODE WITH (NOLOCK)
            WHERE isnull(jcustomer_code,'') Like concat('%',#{jcustomer_code},'%')
             and  isnull(jpum,'') Like concat('%',#{jpum},'%')
            ORDER BY jcustomer_code, jmodel_code, jpum
        ]]>
    </select>


    <select id="GetJpumOrderJkey" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="com.dae.kdmes.DTO.App01.Index03Dto">
        <![CDATA[
            select top 1  jkey, jpb_gubn, jgong_code, jdan_code, jmodel_code, jcolor_code, jcustomer_code,
                     jbonsa_code, jsayong_gubn, jpum, jgugek, jsize, Convert(int, jchgoga0) AS jchgoga0, jbigo
            from JCODE WITH (NOLOCK)
            WHERE isnull(jmodel_code,'') = #{jmodel_code}
             and  isnull(jbonsa_code,'') = #{jbonsa_code}
             and  isnull(jcolor_code,'') = #{jcolor_code}
        ]]>
    </select>


    <select id="GetJpumModelList" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="com.dae.kdmes.DTO.App01.Index03Dto">
        <![CDATA[
        select   jkey, jpb_gubn, jgong_code, jdan_code, jmodel_code, jcolor_code, jcustomer_code,
                 jbonsa_code, jsayong_gubn, jpum, jgugek, jsize, convert ( MONEY , convert(int , jchgoga0) ) as jchgoga0, jbigo, 0 as jqty
        from JCODE WITH (NOLOCK)
        WHERE isnull(jmodel_code,'')   = #{jmodel_code} and isnull(jcustomer_code,'')   = #{jcustomer_code}
        ORDER BY jmodel_code, jkey
        ]]>
    </select>


    <select id="GetJpumCheck" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="String">
        <![CDATA[
        select   jpum
        from JCODE WITH (NOLOCK)
        WHERE isnull(jkey,'')   = #{jkey}
        ORDER BY jkey
        ]]>
    </select>

    <select id="GetMaxJkey" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="String">
        <![CDATA[
        select   max(jkey) as jkey
        from JCODE WITH (NOLOCK)
        WHERE Left( isnull(jkey,'') ,4)   = #{jkey}
        ]]>
    </select>

    <select id="GetJpumList" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="com.dae.kdmes.DTO.App01.Index03Dto">
        <![CDATA[
            select jkey, j_dae, j_jung, jgugek, jgugek2, jpumcode, jpumname, jsayang, jpum, jboxsu1, jgumtype,
                   j_net, jchajong, j_sr, j_ct, j_cavity, Convert(int, jchgoga0) AS jchgoga0, jbigo, jdanwy, w_b_gubn,
                   E.jcifcodename as jcifcodename, j_misayong, j_sang, cltcd , F.acorp as acorp
            from JCODE WITH (NOLOCK)
            LEFT OUTER JOIN jcifcode E WITH(NOLOCK) ON (JCODE.jkey  = E.jcifcode)
            LEFT OUTER JOIN cif      F WITH(NOLOCK) ON (JCODE.cltcd = F.acorp1 + CAST(F.acorp2 as varchar))
            WHERE (isnull(jpum,'') Like concat('%',#{jpum},'%') or isnull(jkey,'') Like concat('%',#{jkey},'%'))
            and isnull(j_misayong,'0') Like concat('%',#{j_misayong},'%')
            ORDER BY jkey
        ]]>
    </select>

    <select id="GetJpumListTot" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" resultType="com.dae.kdmes.DTO.App01.Index03Dto">
        <![CDATA[
        select jkey, j_dae, j_jung, jgugek, jpum, jgugek2, jpumcode, jboxsu1, jgumtype,
               jsayang, j_net, jchajong, j_sr, j_ct, j_cavity, jdanwy, w_b_gubn, Convert(int, jchgoga0) AS jchgoga0, jbigo,
               E.jcifcodename as jcifcodename
        from JCODE WITH (NOLOCK)
            LEFT OUTER JOIN jcifcode E WITH(NOLOCK) ON (JCODE.jkey = E.jcifcode)
        WHERE isnull(jpum,'') Like concat('%',#{jpum},'%')
          and isnull(jkey,'') Like concat('%',#{jkey},'%')
        ORDER BY jpum
        ]]>
    </select>

    <insert id="InsertJpum" parameterType="com.dae.kdmes.DTO.App01.Index03Dto" >
        insert into JCODE ( jkey, j_dae, j_jung, jgugek, jpum, jgugek2, jpumcode, jpumname, cltcd, jgumtype,
                             jsayang, j_net, jchajong, j_sr, j_ct, j_cavity, jdanwy, jbigo, w_b_gubn, jchgoga0 ,j_misayong ,j_sang, jboxsu1) values
                        (#{jkey}, #{j_dae}, #{j_jung}, #{jgugek}, #{jpum}, #{jgugek2}, #{jpumcode}, #{jpumname},#{cltcd}, #{jgumtype},
                         #{jsayang}, #{j_net}, #{jchajong}, #{j_sr}, #{j_ct}, #{j_cavity}, #{jdanwy}, #{jbigo}, #{w_b_gubn},
                         #{jchgoga0}, #{j_misayong} , #{j_sang}, #{jboxsu1})
    </insert>


    <update id="UpdateJpum" parameterType="com.dae.kdmes.DTO.App01.Index03Dto">
        update JCODE
        set jkey = #{jkey}
        <if test="j_dae != null ">,</if>
        <if test="j_dae != null">j_dae=#{j_dae}</if>
        <if test="j_jung != null ">,</if>
        <if test="j_jung != null">j_jung=#{j_jung}</if>
        <if test="jboxsu1 != null ">,</if>
        <if test="jboxsu1 != null">jboxsu1=#{jboxsu1}</if>
        <if test="jgugek != null ">,</if>
        <if test="jgugek != null">jgugek=#{jgugek}</if>
        <if test="jpum != null ">,</if>
        <if test="jpum != null">jpum=#{jpum}</if>
        <if test="jgugek2 != null ">,</if>
        <if test="jgugek2 != null">jgugek2=#{jgugek2}</if>
        <if test="jpumcode != null ">,</if>
        <if test="jpumcode != null">jpumcode=#{jpumcode}</if>
        <if test="jpumname != null ">,</if>
        <if test="jpumname != null">jpumname=#{jpumname}</if>
        <if test="jsayang != null ">,</if>
        <if test="jsayang != null">jsayang=#{jsayang}</if>
        <if test="j_net != null ">,</if>
        <if test="j_net != null">j_net=#{j_net}</if>
        <if test="jchajong != null ">,</if>
        <if test="jchajong != null">jchajong=#{jchajong}</if>
        <if test="j_sr != null ">,</if>
        <if test="j_sr != null">j_sr=#{j_sr}</if>
        <if test="j_ct != null ">,</if>
        <if test="j_ct != null">j_ct=#{j_ct}</if>
        <if test="j_cavity != null ">,</if>
        <if test="j_cavity != null">j_cavity=#{j_cavity}</if>
        <if test="jdanwy != null ">,</if>
        <if test="jdanwy != null">jdanwy=#{jdanwy}</if>
        <if test="jbigo != null ">,</if>
        <if test="jbigo != null">jbigo=#{jbigo}</if>
        <if test="w_b_gubn != null ">,</if>
        <if test="w_b_gubn != null">w_b_gubn=#{w_b_gubn}</if>
        <if test="jchgoga0 != null ">,</if>
        <if test="jchgoga0 != null">jchgoga0=#{jchgoga0}</if>
        <if test="j_misayong != null ">,</if>
        <if test="j_misayong != null">j_misayong=#{j_misayong}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="jgumtype != null ">,</if>
        <if test="jgumtype != null">jgumtype=#{jgumtype}</if>
        <if test="j_sang != null ">,</if>
        <if test="j_sang != null">j_sang=#{j_sang}</if>
        where jkey   = #{jkey}
    </update>


    <update id="DeleteJpum" parameterType="com.dae.kdmes.DTO.App01.Index03Dto">
        DELETE  JCODE where jkey  = #{jkey}
    </update>

    <select id="getj1_keyList"  parameterType="com.dae.kdmes.DTO.Popup.PopupDto" resultType="com.dae.kdmes.DTO.Popup.PopupDto">
        <![CDATA[
            select j1_key, j1_name from jcode1  where 1=1 and isnull(j1_key,'') Like concat('%',#{j1_key},'%') order by j1_key
        ]]>
    </select>

    <select id="getj2_keyList"  parameterType="com.dae.kdmes.DTO.Popup.PopupDto" resultType="com.dae.kdmes.DTO.Popup.PopupDto">
        <![CDATA[
            select j2_key, j2_name from jcode2  where 1=1 and isnull(j2_key,'') Like concat('%',#{j2_key},'%') order by j2_key
        ]]>
    </select>

    <select id="getGumtype_keyList"  parameterType="com.dae.kdmes.DTO.Popup.PopupDto" resultType="com.dae.kdmes.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT TB_CA510.com_code   as wcode,
               TB_CA510.com_rem1   as wcdnm
        FROM TB_CA510 WITH(NOLOCK)
        WHERE TB_CA510.com_cls = '006'
          AND TB_CA510.com_code   != '00'
        ]]>
    </select>



</mapper>
