<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App01.Index04Mapper">
    <select id="getPgunList" parameterType="com.dae.kdmes.DTO.App01.Index04Dto" resultType="com.dae.kdmes.DTO.App01.Index04Dto">
        <![CDATA[
        SELECT com_cls,
               com_code,
               com_cnam,
               com_rem1,
               com_rem2,
               com_order,
               com_work
          FROM TB_CA510 WITH(NOLOCK)
         WHERE com_cls   = '004'
           AND com_code <> '00'
        ]]>
    </select>

    <select id="getHcodList"  parameterType="com.dae.kdmes.DTO.App01.Index04Dto" resultType="com.dae.kdmes.DTO.App01.Index04Dto">
        <![CDATA[
              SELECT custcd,
                     pgun  ,
                     hcod  ,
                     hnam  ,
                     sortno,
                     indate
                FROM TB_CA503 WITH(NOLOCK)
               WHERE custcd = 'KDMES'
                 AND pgun   = #{com_code}
        ]]>
    </select>

    <insert id="InsertHcod" parameterType="com.dae.kdmes.DTO.App01.Index04Dto" >
        insert into TB_CA503 (custcd, pgun, hcod, hnam) values
        ('KDMES', #{com_code}, #{hcod}, #{hnam})
    </insert>

    <update id="UpdateHcod" parameterType="com.dae.kdmes.DTO.App01.Index04Dto">
        <![CDATA[
        UPDATE  TB_CA503 SET hcod = #{hcod} , hnam = #{hnam}
        where pgun  = #{com_code}
        ]]>
    </update>

    <update id="DeleteHcod" parameterType="com.dae.kdmes.DTO.App01.Index04Dto">
        <![CDATA[
        DELETE  TB_CA503   where hcod  = #{hcod} and hnam = #{hnam}
        ]]>
    </update>

    <select id="GetHcodCheck" parameterType="com.dae.kdmes.DTO.App01.Index04Dto" resultType="String">
        <![CDATA[
        select   hcod , hnam ,pgun
        from TB_CA503 WITH (NOLOCK)
        WHERE isnull(hcod,'')   = #{hcod}
        and isnull(hnam,'')   = #{hnam}
        ORDER BY hcod
        ]]>
    </select>

    <select id="getBgroupList"  parameterType="com.dae.kdmes.DTO.App01.Index04Dto" resultType="com.dae.kdmes.DTO.App01.Index04Dto">
        <![CDATA[
               SELECT custcd,
                     pgun  ,
                     hcod  ,
                     bgroup,
                     bgrpnm,
                     sortno,
                     indate
                FROM TB_CA503_01 WITH(NOLOCK)
               WHERE custcd = 'KDMES'
                 AND pgun   = #{com_code}
                 AND hcod   = #{hcod}
        ]]>
    </select>

    <insert id="InsertBgroup" parameterType="com.dae.kdmes.DTO.App01.Index04Dto" >
        insert into TB_CA503_01 (custcd, pgun, hcod, bgroup, bgrpnm) values
        ('KDMES', #{com_code}, #{hcod}, #{bgroup} , #{bgrpnm})
    </insert>

    <update id="UpdateBgroup" parameterType="com.dae.kdmes.DTO.App01.Index04Dto">
        <![CDATA[
        UPDATE  TB_CA503_01 SET bgroup = #{bgroup} , bgrpnm = #{bgrpnm}
        where pgun  = #{com_code} and hcod = #{hcod}
        ]]>
    </update>

    <update id="DeleteBgroup" parameterType="com.dae.kdmes.DTO.App01.Index04Dto">
        <![CDATA[
        DELETE  TB_CA503_01   where pgun  = #{com_code} and hcod = #{hcod} and bgroup = #{bgroup} and bgrpnm = #{bgrpnm}
        ]]>
    </update>

    <select id="GetBgroupCheck" parameterType="com.dae.kdmes.DTO.App01.Index04Dto" resultType="String">
        <![CDATA[
        select   hcod ,bgroup, bgrpnm
        from TB_CA503_01 WITH (NOLOCK)
        WHERE isnull(bgroup,'')   = #{bgroup}
        and isnull(bgrpnm,'')   = #{bgrpnm}
        ORDER BY bgroup
        ]]>
    </select>


</mapper>
