<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App01.Index02Mapper">


    <select id="getWflagList"  parameterType="com.dae.kdmes.DTO.App01.Index02Dto" resultType="com.dae.kdmes.DTO.App01.Index02Dto">
        <![CDATA[
            select com_code, com_work from TB_CA510  where com_cls = '001'
        ]]>
    </select>

    <select id="GetFplanDetailList"  parameterType="com.dae.kdmes.DTO.App01.Index02Dto" resultType="com.dae.kdmes.DTO.App01.Index02Dto">
        <![CDATA[
            select * from TB_FPLAN_WRMC where wflag = #{com_code}
        ]]>
    </select>

    <insert id="InsertFplanDetail" parameterType="com.dae.kdmes.DTO.App01.Index02Dto" >
        insert into TB_FPLAN_WRMC (custcd,spjangcd, wflag, wrmc, wrmcnm, wperid ) values
        ('KDMES', 'ZZ',#{com_code}, #{wrmc}, #{wrmcnm}, #{wperid})
    </insert>

    <update id="UpdateFplanDetail" parameterType="com.dae.kdmes.DTO.App01.Index02Dto">
        <![CDATA[
        UPDATE  TB_FPLAN_WRMC SET wrmc = #{wrmc} , wrmcnm = #{wrmcnm} , wperid = #{wperid}
        where wflag  = #{com_code} and wrmc = #{wrmc}
        ]]>
    </update>

    <update id="DeleteFplanDetail" parameterType="com.dae.kdmes.DTO.App01.Index02Dto">
        <![CDATA[
        DELETE  TB_FPLAN_WRMC   where wrmc  = #{wrmc} and wrmcnm = #{wrmcnm}
        ]]>
    </update>

    <select id="GetFplanCheck" parameterType="com.dae.kdmes.DTO.App01.Index02Dto" resultType="String">
        <![CDATA[
        select   wrmc , wperid ,wflag
        from TB_FPLAN_WRMC WITH (NOLOCK)
        WHERE isnull(wrmc,'')   = #{wrmc}
        and isnull(wflag,'')   = #{com_code}
        ORDER BY wrmc
        ]]>
    </select>



</mapper>
