<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="headerFragment">
    <!-- py-md-2 px-1 py-1 -->
    <div class="card-body d-flex align-items-center py-md-2 px-auto py-auto ">
        <main class="main" id="top"> 
            <div class="container-fluid"> 
                <script>
                    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                    if (isFluid) {
                        var container = document.querySelector('[data-layout]');
                        container.classList.remove('container');
                        container.classList.add('container-fluid');
                    }
                </script>

                <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
                    <script>
                        var navbarStyle = localStorage.getItem("navbarStyle");
                        if (navbarStyle && navbarStyle !== 'transparent') {
                            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
                        }
                    </script>
                    <div class="d-flex align-items-center">
                        <div class="toggle-icon-wrapper">

                            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span
                                    class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

                        </div><a class="navbar-brand" href="@{/user}">
                            <!-- <div class="d-flex align-items-center py-3"><img class="me-2"
                                    th:src="@{assets/img/icons/spot-illustrations/falcon.png}" alt="" width="40" /><span
                                    class="font-sans-serif">ActasErp</span>
                            </div> -->
                        </a>
                    </div> 
                    <!------navbar vertical------>     
                    <div th:replace="layouts/layout01/navbarMemWeb :: navbar"></div>  
                </nav>
                <div class="content" id="index11"> 
                    <!------nav ------>
                    <!-- <div th:replace="layouts/layout01/headerNavWeb :: headerNav"></div>   -->

                    <body layout:fragment="index11"> 
                    <!-- ######################### ######################### ######################### ######################### ######################### ######################### -->
                    <div class="con">
                        <!-- ## header top include -->
                        <th:block th:include="layouts/APPHeader/appheadTop" /> 
                        <div class="card-body bg-light">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#step01" onclick="tabchk_rtn('A')">일별사원검사일보</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#step02"  onclick="tabchk_rtn('B')">월별사원검사일보</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#step03"  onclick="tabchk_rtn('C')">검사이력현황</a>
                                </li> -->
                                <input type="hidden" id="tabvalue" value="A">
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="step01">     
                                        <div class="row gx-3" style="  margin: 10px 10px 10px;">     
                                            <div class="col-2 col-sm-2">
                                                <div class="input-group input-group-sm mb-3"> 
                                                    <input type="text"  class="form-control datetimepicker" id="frdate" autocomplete="off"  placeholder="Y-m-d"     >
                                                </div> 
                                            </div>   
                                            <div class="col-2 col-sm-2"> 
                                                <div class="input-group input-group-sm mb-3"> 
                                                    <input type="text"  class="form-control datetimepicker" id="todate" autocomplete="off"  placeholder="Y-m-d"     >
                                                </div>
                                            </div> 
                                            <div class="col-2 col-sm-2">
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">검사자</span> 
                                                    <input class="form-control form-control-sm" id="inwrpsnm" type="text"    autocomplete="off"  placeholder=""     > 
                                                    <input class="form-control form-control-sm" id="inwinps" type="hidden" placeholder=""   />                        
                                                </div>
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">로트번호</span> 
                                                    <input class="form-control form-control-sm" id="inlotno" type="text"    autocomplete="off"  placeholder=""     > 
                                                </div>
                                            </div>
                                            <div class="col-auto">  
                                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="retrieveBtn" >조회
                                                </button> 
                                            </div>   
                                        </div> 
                                        <div class="container-fluid">   
                                            <div id="wtab01Grid_div" style="overflow:scroll;   height:680px; width: 85%;    margin:0 auto; "></div> 
                                            <!-- <div id="tab01Pager"></div> -->
                                        </div>   
                                    </div> 
                                    <div class="tab-pane fade show" id="step02">     
                                        <div class="row gx-3" style="  margin: 10px 10px 10px;">    
                                            <div class="col-2 col-sm-2">
                                                <div class="input-group input-group-sm mb-3"> 
                                                    <input type="text"  class="form-control datetimepicker" id="frdate02" autocomplete="off"  placeholder="Y-m-d"     >
                                                </div> 
                                            </div>   
                                            <div class="col-2 col-sm-2"> 
                                                <div class="input-group input-group-sm mb-3"> 
                                                    <input type="text"  class="form-control datetimepicker" id="todate02" autocomplete="off"  placeholder="Y-m-d"     >
                                                </div>
                                            </div> 
                                            <div class="col-2 col-sm-2">
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">검사자</span> 
                                                    <input class="form-control form-control-sm" id="inwrpsnm02" type="text"    autocomplete="off"  placeholder=""     > 
                                                    <input class="form-control form-control-sm" id="inwinps02" type="hidden" placeholder=""   />                        
                                                </div>
                                            </div>
                                             <div class="col-2 col-sm-2">
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">로트번호</span> 
                                                    <input class="form-control form-control-sm" id="inlotno02" type="text"  disabled  autocomplete="off"  placeholder=""     > 
                                                </div>
                                            </div> 
                                            <div class="col-auto">  
                                                <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button"  id="retrieveBtn02" >조회
                                                </button> 
                                            </div>   
                                        </div> 
                                        <div class="container-fluid">   
                                            <div id="wtab02Grid_div" style="overflow:scroll;   height:680px;  width: 85%;    margin:0 auto; "></div> 
                                            <!-- <div id="tab01Pager"></div> -->
                                        </div>   
                                    </div> 
            
                                </div>
                        </div> 
                    </div> 
 

                    <!--------------------------------------------------------------------------------------->    
                    <input class="form-control form-control-sm"  type="hidden" id="innamebtn" data-bs-toggle="modal" data-bs-target="#insamodal"  /> 
                    <!--------------------------------------------------------------------------------------->    
                    <div class="modal fade" id="insamodal" data-bs-keyboard="false"
                        data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
                            style="max-width: 600px">
                            <div class="modal-content border-0">
                                <div class="modal-body p-0" > 
                                    <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">                            
                                        <div class="search">
                                            <div class="input_wrap">  
                                                <input class="form-control form-control-sm" id="searchCode" type="text"   onkeyup="if(window.event.keyCode==13){insaList_rtn('M')}"
                                                placeholder="사원명 "     />                                      
                                            </div>
                                            <button id="winnameBtn">
                                                <img th:src="@{/assets/images/i_search.png}" alt=""> 
                                            </button>
                                        </div>                             
                                    </div>   
                                    <div class="container-fluid"> 
                                        <div id="winnameGrid_div" ></div> 
                                    </div>   
                                </div>  

                                <div class="modal-footer">
                                    <div class="row g-1">
                                        <div class="col-auto">
                                            <button class="badge-soft-primary dropdown-item rounded-1"
                                                type="button"  id="winnamemodal_btn" data-bs-dismiss="modal">Close</button>
                                        </div> 
                                    </div>
                                </div>   

                            </div>
                        </div> 
                    </div>
                    <!--------------------------------------------------------------------------------------->    


<script type="text/javascript" th:inline="javascript">
    var view_p01tab01page;
    var view_p01tab02page;
    var view_p01tab03page; 
    var view_p01tab04page; 
    var wtab01Grid;
    var wtab02Grid;
    var wtab03Grid; 
    var wtab04Grid; 
    let wfrdate;
    let wtodate;    
    let wfrdate02;
    let wtodate02;   
    window.onload = function() {    
        view_p01tab01page = new wijmo.collections.CollectionView(getData_tab01(), {
            // pageSize: 21
        }); 
        wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
            { binding: 'wrpsnm02', header: '검사자', align: "center", width: 100 },  
            { binding: 'qcdate', header: '검사일', align: "center", width: 100 }, 
            { binding: 'glotnono', header: '검사코드', align: "left", width: 250 },
            { binding: 'cltnm', header: '거래처', align: "center", width: 100 },   
            { binding: 'pcode', header: '품목', align: "center", width: 150 },  
            { binding: 'jgugek', header: '규격', align: "left", width: 150 },    
            { binding: 'lotno', header: '사출바코드', align: "left", width: 150 },  
            { binding: 'otqty', header: '검사수량', align: "center", width: 100 }, 
            { binding: 'wfrdt', header: '사출시작일', align: "right", width: 100 }, 
            { binding: 'wtrdt', header: '사출종료일', align: "right", width: 100 }, 
            { binding: 'prod_qty', header: '사출수량', align: "right", width: 100 },  
            { binding: 'wrpsnm01', header: '사출담당자', align: "center", width: 150 }, 
            ], 
            itemsSource: view_p01tab01page
        });   
        
        new FlexGridContextMenu(wtab01Grid);  
        setHeaderColumn(false);
        function setHeaderColumn(headerOn) {
            wtab01Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
            // tab01검색 데이터 수집
        function getData_tab01(){       
            var wactnm_data = [];
            var cnt = 1;
            for (var i = 0; i < 20; i++) {
                wactnm_data.push({
                    id: i, 
                    index: cnt,
                    jcode: '', 
                    ipqty:  '', 
                });
                cnt++;
            }    
            return wactnm_data;                                          
        }   
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    
        view_p01tab02page = new wijmo.collections.CollectionView(getData_tab01(), {
            // pageSize: 21
        }); 
        wtab02Grid = new wijmo.grid.FlexGrid('#wtab02Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false, 
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
                { binding: 'gumwrpsnm', header: '검사담당', align: "center", width: 80 },  
                { binding: 'indate', header: '검사일', align: "center",  width: 120 },   
                { binding: 'winqt', header: '투입수량', align: "right", format: 'n0', width: 80 },    
                { binding: 'wbdqt', header: '불량수량', align: "right", format: 'n0', width: 80 }, 
                { binding: 'wjqty', header: '검사수량', align: "right", format: 'n0', width: 80 },              
                { binding: 'gumqty', header: '사출수량', align: "right", format: 'n0', width: 80 },    
            ], 
            itemsSource: view_p01tab02page
        });   
        
        new FlexGridContextMenu(wtab02Grid);  
        setHeaderColumn02(false);
        function setHeaderColumn02(headerOn) {
            wtab02Grid.headersVisibility = headerOn
            ? wijmo.grid.HeadersVisibility.All
            : wijmo.grid.HeadersVisibility.Column; 
        } 
        

    // // ################################################################

    //사원현황 Modalㅁ
    view_innamepage = new wijmo.collections.CollectionView(getData_wlist(), {
        //pageSize: 12
    });  
    winnameGrid = new wijmo.grid.FlexGrid('#winnameGrid_div', {  
        autoGenerateColumns: false,
        isReadOnly: false, 
        allowSorting: 'MultiColumn',
        selectionMode: 'RowRange',
        alternatingRowStep: 0,
        columns: [    
            { binding: 'linenm',width: '*', header: '라인', width: '*', align:"center", format: '*' ,
                cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                    text: '<b>${item.linenm}</b>',
                    click: (e, ctx) => {
                        wperidChk(ctx.item.wperid, ctx.item.wpernm );
                    }
                })
            }, 
            { binding: 'wflagnm', width: '1*', header: '공정', width: '*', align:"center", format: '*' ,
                cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                    text: '<b>${item.wflagnm}</b>',
                    click: (e, ctx) => {
                        wperidChk(ctx.item.wperid, ctx.item.wpernm );
                    }
                })
                }, 
            { binding: 'wperid', width: '1*', header: '코드', width: '*', align:"center", format: '*' ,
                cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                    text: '<b>${item.wperid}</b>',
                    click: (e, ctx) => {
                        wperidChk(ctx.item.wperid, ctx.item.wpernm );
                    }
                })
            }, 
            {
                binding: 'wpernm',
                width: '1*',
                header: '작업자', 
                align:"center",
                cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                    text: '<b>${item.wpernm}</b>',
                    click: (e, ctx) => {
                        wperidChk(ctx.item.wperid, ctx.item.wpernm );
                    }
                })
            } 

        ], 
        itemsSource: view_innamepage
    });  
    
    winnameGrid.showMarquee = true;
    winnameGrid.focus();
    wijmo.toggleClass(winnameGrid.hostElement, 'highlightActive', true);
    winnameGrid.focus();
    setHeaderColumn03(false);
    function setHeaderColumn03(headerOn) {
        winnameGrid.headersVisibility = headerOn
        ? wijmo.grid.HeadersVisibility.All
        : wijmo.grid.HeadersVisibility.Column; 
    }  
    function getData_wlist(){    
        var WperidDto = [[${wperidDto}]];  
        var data03 = [];
        var cnt = 1; 
        for (var i = 0; i < WperidDto.length; i++) {
            data03.push({
                id: i, 
                index: cnt,
                custcd:WperidDto[i]["custcd"], 
                spjangcd:WperidDto[i]["spjangcd"], 
                linenm:WperidDto[i]["linenm"], 
                linecd:WperidDto[i]["linecd"], 
                wflagcd:WperidDto[i]["wflagcd"],
                wflagnm:WperidDto[i]["wflagnm"], 
                wperid:WperidDto[i]["wperid"],  
                wpernm: WperidDto[i]["wpernm"]                                                    
            });
            cnt++;
        }   
        return data03                                              
    }   
    function wperidChk(arg1, arg2  ){   
        var ls_tab = document.getElementById('tabvalue').value; 
        if(ls_tab == "A"){
            document.getElementById('inwinps').value= arg1; 
            document.getElementById('inwrpsnm').value= arg2;   
        }else{
            document.getElementById('inwinps02').value= arg1; 
            document.getElementById('inwrpsnm02').value= arg2;   
        }
        $("#winnamemodal_btn").trigger("click"); 
    }   
                        



    } //onload function 

    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    //선택한 탭 체크 
    function tabchk_rtn(arg){
        document.getElementById('tabvalue').value = arg; 
    } 
    
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                
    // tab01 검색   
    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
        
        var ls_tab = document.getElementById('tabvalue').value;   
        searchList_rtn(ls_tab);
    })                            
    // tab02 검색   
    document.getElementById("retrieveBtn02").addEventListener("click",function(){ 
        
        var ls_tab = document.getElementById('tabvalue').value;   
        searchList_rtn(ls_tab);
    })  

    function searchList_rtn(arg1){ 
        switch(arg1){
            case 'A':  
                var  ls_frdate     =  convert_date(wfrdate.value);                    
                var  ls_todate     =  convert_date(wtodate.value);
                var ls_inwrpsnm    =  document.getElementById('inwrpsnm').value; 
                var ls_inwinps    =  document.getElementById('inwinps').value;  
                var ls_lotno = document.getElementById('inlotno').value; 
                if(ls_lotno == null || ls_lotno.length == 0 || ls_lotno == ""){ 
                    ls_lotno    = "%"
                }   
                if(ls_inwrpsnm == null || ls_inwrpsnm.length == 0 || ls_inwrpsnm == ""){ 
                    ls_inwinps    = "%"
                }   
                $.ajax({
                    url: '/input02/w020per',  
                    type:"POST",
                    data: { 
                        "frdate"      : ls_frdate, 
                        "todate"      : ls_todate,
                        "searchtxt"   : ls_lotno, 
                        "inwinps"   : ls_inwinps, 
                    }, 
                    async:false,
                    success:function(data){ 
                        tabA_grid(data);
                    },error:function(e){
                        console.log("error");                            
                    }
                }).done(function(fragment){           

                })    
                break;
            case 'B': 
                var  ls_frdate     =  convert_date(wfrdate02.value);                    
                var  ls_todate     =  convert_date(wtodate02.value);
                var ls_inwrpsnm    =  document.getElementById('inwrpsnm02').value; 
                var ls_inwinps    =  document.getElementById('inwinps02').value;  
                // var ls_lotno = document.getElementById('inlotno02').value; 
                // if(ls_lotno == null || ls_lotno.length == 0 || ls_lotno == ""){ 
                    ls_lotno    = "%"
                // }   
                if(ls_inwrpsnm == null || ls_inwrpsnm.length == 0 || ls_inwrpsnm == ""){ 
                    ls_inwinps    = "%"
                }    
                $.ajax({
                    url: '/input02/w020hismon',  
                    type:"POST",
                    data: { 
                        "frdate"      : ls_frdate, 
                        "todate"      : ls_todate,
                        "searchtxt"   : ls_lotno, 
                        "inwinps"   : ls_inwinps, 
                    }, 
                    async:false,
                    success:function(data){ 
                        tabB_grid(data);
                    },error:function(e){
                        console.log("error");                            
                    }
                }).done(function(fragment){           

                })    
                break;                
            default:    
                break;                
        } 

    }   
    
    
    function tabA_grid(data){
        var wtab01Dto  = data;    
        var wtab01_data = [];
        var cnt = 1;    
        var glotno = "";
        var ls_qcdate = "";
        var ls_glotno = "";
        var ls_otqty = 0;    

        for (var i = 0; i < wtab01Dto.length; i++) { 
                var psdate = wtab01Dto[i]["prod_sdate"];
                    psdate = psdate.substr(0,4) + '-' + psdate.substr(4,2)+ '-' + psdate.substr(6,2);
                    var ls_qcdate = wtab01Dto[i]["qcdate"];
                    if(ls_qcdate.length > 0){
                        ls_qcdate = ls_qcdate.substr(0,4) + '-' + ls_qcdate.substr(4,2)+ '-' + ls_qcdate.substr(6,2);
                    }else{
                        ls_qcdate = "";
                    }
                if( glotno == wtab01Dto[i]["glotnono"] ){
                    ls_otqty = 0;
                    ls_qcdate = "";
                    ls_glotno = "";
                }else{
                    ls_otqty = wtab01Dto[i]["wqcqt"];    
                    ls_qcdate = wtab01Dto[i]["qcdate"];    
                    ls_glotno = wtab01Dto[i]["glotnono"];  
                }
                if(wtab01Dto[i]["demflag"] == "1"){
                    bdemflag = true;
                }else{
                    bdemflag = false;
                }   
                glotno = wtab01Dto[i]["glotnono"];
                wtab01_data.push({
                    id: i, 
                    index: cnt,                                                                
                    prod_sdate: psdate,
                    cltcd: wtab01Dto[i]["cltcd"] ,
                    end_qty: wtab01Dto[i]["end_qty"] ,
                    cltnm: wtab01Dto[i]["cltnm"] ,
                    lotno: wtab01Dto[i]["lotno"]  ,    
                    pcode: wtab01Dto[i]["pcode"] ,
                    pname: wtab01Dto[i]["pname"], 
                    jchajong: wtab01Dto[i]["jchajong"], 
                    psize: wtab01Dto[i]["psize"],  
                    wfrdt: wtab01Dto[i]["wfrdt"],
                    wtrdt: wtab01Dto[i]["wtrdt"],
                    prod_qty: wtab01Dto[i]["prod_qty"] , 
                    wrpsnm01: wtab01Dto[i]["wrpsnm01"],   
                    lotno: wtab01Dto[i]["lotno"]  , 
                    qcdate: ls_qcdate  ,
                    glotnono: ls_glotno,  
                    otqty: ls_otqty , 
                    wrpsnm02: wtab01Dto[i]["wrpsnm02"]  , 
                    demflag: bdemflag , 
                    qcdate: ls_qcdate 
                    
                });
                cnt++;
            }    

        wtab01Grid.columns.clear();  
        wtab01Grid.autoGenerateColumns = false; 
        view_p01tab01page.sourceCollection  = wtab01_data; 
        var cols = new wijmo.grid.Column();   
        cols.binding = 'wrpsnm02';
        cols.header = '검사담당자';
        cols.align = "center";
        cols.width = 120;  
        wtab01Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'qcdate';
        cols.header = '검사일';
        cols.align = "center";
        cols.format = 'yyyy-MM-dd'; 
        cols.width = 150;   
        wtab01Grid.columns.push(cols); 

        cols = new wijmo.grid.Column();  
        cols.binding = 'demflag';
        cols.header = '완료';
        cols.align = "center";
        cols.width = 80;   
        cols.cssClass = 'switch'
        wtab01Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'glotnono';
        cols.header = '검사코드';
        cols.align = "center";
        cols.width = 150;  
        wtab01Grid.columns.push(cols);     

        cols = new wijmo.grid.Column();  
        cols.binding = 'cltnm';
        cols.header = '거래처';
        cols.align = "center";
        cols.width = 150;  
        wtab01Grid.columns.push(cols);    


        cols = new wijmo.grid.Column(); 
        cols.binding = 'jchajong';
        cols.header = '차종';
        cols.align = "left";
        cols.width = 80;  
        wtab01Grid.columns.push(cols);     

        cols = new wijmo.grid.Column(); 
        cols.binding = 'pname';
        cols.header = '품목명';
        cols.align = "left";
        cols.width = 250;  
        wtab01Grid.columns.push(cols);   

        // cols = new wijmo.grid.Column(); 
        // cols.binding = 'psize';
        // cols.header = '규격';
        // cols.align = "left";
        // cols.width = 150;  
        // wtab01Grid.columns.push(cols); 

        cols = new wijmo.grid.Column(); 
        cols.binding = 'lotno';
        cols.header = '사출바코드';
        cols.align = "center";
        cols.width = 150;  
        wtab01Grid.columns.push(cols);    

        cols = new wijmo.grid.Column(); 
        cols.binding = 'end_qty';
        cols.header = '검사수량';
        cols.align = "right";
        cols.width = 130;  
        wtab01Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'wfrdt';
        cols.header = '사출시작일';
        cols.align = "center";
        cols.width = 130;  
        cols.format = 'yyyy-MM-dd'; 
        wtab01Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'wtrdt';
        cols.header = '사출종료일';
        cols.align = "center";
        cols.width = 130;  
        cols.format = 'yyyy-MM-dd'; 
        wtab01Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'prod_qty';
        cols.header = '사출수량';
        cols.align = "right";
        cols.width = 130;  
        wtab01Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'wrpsnm01';
        cols.header = '사출담당자';
        cols.align = "center";
        cols.width = 120;  
        wtab01Grid.columns.push(cols);  

    }
    

    
    function tabB_grid(data){
        var wtab02Dto  = data;     
        var wtab02_data = [];
        var cnt = 1;    
        var glotno = "";
        var ls_qcdate = "";
        var ls_glotno = "";
        var ls_otqty = 0;  
        for (var i = 0; i < wtab02Dto.length; i++) {   
                wtab02_data.push({
                    id: i, 
                    index: cnt,       
                    qcdate: wtab02Dto[i]["qcdate"]  , 
                    prod_qty: wtab02Dto[i]["prod_qty"] , 
                    end_qty: wtab02Dto[i]["end_qty"] ,   
                    wrpsnm02: wtab02Dto[i]["wrpsnm02"] , 
                    qcdate: wtab02Dto[i]["qcdate"]  , 
                    owqty: wtab02Dto[i]["owqty"]  , 
                    otqty: wtab02Dto[i]["otqty"]  , 
                    owqty: wtab02Dto[i]["owqty"]  , 
                    wbdqt: wtab02Dto[i]["wbdqt"]   
                    
                });
                cnt++;
            }    

        wtab02Grid.columns.clear();  
        wtab02Grid.autoGenerateColumns = false; 
        view_p01tab02page.sourceCollection  = wtab02_data; 
        var cols = new wijmo.grid.Column(); 
        cols.binding = 'qcdate';
        cols.header = '검사일';
        cols.align = "center"; 
        cols.width = 150;   
        wtab02Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'wrpsnm02';
        cols.header = '검사담당자';
        cols.align = "center";
        cols.width = 120;  
        wtab02Grid.columns.push(cols);   
        
        cols = new wijmo.grid.Column(); 
        cols.binding = 'owqty';
        cols.header = '검사투입수량';
        cols.align = "right";
        cols.width = 90;  
        wtab02Grid.columns.push(cols);  
        
        cols = new wijmo.grid.Column(); 
        cols.binding = 'wbdqt';
        cols.header = '불량수량';
        cols.align = "right";
        cols.width = 90;  
        wtab02Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'otqty';
        cols.header = '검사수량';
        cols.align = "right";
        cols.width = 130;  
        wtab02Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'end_qty';
        cols.header = '사출수량';
        cols.align = "right";
        cols.width = 130;  
        wtab02Grid.columns.push(cols);   

    }
    
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
document.getElementById("inwrpsnm").addEventListener("keyup", (e)=>{ 
    if(e.keyCode === 13){  
        document.getElementById("innamebtn").click();
        insaflag = "A"; 
        //insaSearchList_rtn("A"); 
    }
});   
document.getElementById("inwrpsnm").addEventListener("click", (e)=>{  
        document.getElementById("innamebtn").click();
        insaflag = "A"; 
        //insaSearchList_rtn("A");  
});   
            

//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
document.getElementById("inwrpsnm02").addEventListener("keyup", (e)=>{ 
    if(e.keyCode === 13){  
        document.getElementById("innamebtn").click();
        insaflag = "B"; 
        //insaSearchList_rtn("A"); 
    }
});   
document.getElementById("inwrpsnm02").addEventListener("click", (e)=>{  
        document.getElementById("innamebtn").click();
        insaflag = "B"; 
        //insaSearchList_rtn("A");  
});   

function convert_date(arg_date){ 
    var ls_arg_date = String(arg_date); 
    if(ls_arg_date == null || ls_arg_date.length == 0 || ls_arg_date == ""|| ls_arg_date == "null"){  
        return "";
    }  
    // Date 객체로 변환
    const dateObj = new Date(arg_date);

    // 년, 월, 일 추출 (월은 0부터 시작하므로 +1 필요)
    const year = dateObj.getFullYear();
    const month = String(dateObj.getMonth() + 1).padStart(2, '0');
    const day = String(dateObj.getDate()).padStart(2, '0');

    // "YYYY-MM-DD" 형식으로 변환
    const formattedDate = `${year}${month}${day}`;
    arg_date = formattedDate; 
    return arg_date; 
}

//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


    $(document).ready(function() {   
        init()          
        getToday()
        fn_egov_init_date()
        // $('datetimepicker').datetimepicker({
            
        // }); 

        // $("#frdate").change(function(e){ 
        //     // console.log("달력클릭");
        //     // console.log(convert_time(e.timestamp));
        // })
        // $("#todate").change(function(e){ 
        //     // console.log("달력클릭");
        //     // console.log(convert_time(e.timestamp));
        // })
    })      
    function init(){ 
            
            wfrdate = new wijmo.input.InputDate('#frdate', {
                isRequired: false,
                value: null,
                placeholder: '',
                format: 'yyyy-MM-dd', 
            });
            wtodate = new wijmo.input.InputDate('#todate', {
                isRequired: false,
                value: null,
                placeholder: '',
                format: 'yyyy-MM-dd', 
            }); 

            wfrdate02 = new wijmo.input.InputDate('#frdate02', {
                isRequired: false,
                value: null,
                placeholder: '',
                format: 'yyyy-MM-dd', 
            });
            wtodate02 = new wijmo.input.InputDate('#todate02', {
                isRequired: false,
                value: null,
                placeholder: '',
                format: 'yyyy-MM-dd', 
            }); 

            var result = new Date();
            result.setHours(result.getHours() + 9); 
            var ls_date = result.toISOString().substring(0,10);                                 
            wfrdate.value = ls_date;   
            wtodate.value = ls_date;                                 
            wfrdate02.value = ls_date;   
            wtodate02.value = ls_date;  
            
    } 
    


    function getToday(){
        let today = new Date();   

        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let date = today.getDate();  // 날짜
        let day = today.getDay();  // 요일
        if(month > 0 && month < 10) {month = "0" + month};
        if(date > 0 && date < 10) {date = "0" + date};
        let ls_frday = year + '-' + month + '-01' 
        let ls_today = year + '-' + month + '-' + date 
        document.getElementById('frdate').value = ls_frday;  
        document.getElementById('todate').value = ls_today;
        
        // document.getElementById('todate').value = ls_today;
    }

    function convert_time(timestamp){ 
        //현재시간
        var date = new Date(timestamp); 
        var year = date.getFullYear();
        var month = ("0" + (1 + date.getMonth())).slice(-2);
        var day = ("0" + date.getDate()).slice(-2); 
        var hh = date.getHours();  
        var min = ('0' + date.getMinutes()).slice(-2) 
        time = year +  month +  day   ;
        return time;  
    }

    function fn_egov_init_date(){
        // var $frdate = $('#frdate');
        // var $todate = $('#todate');
        // $frdate.datetimepicker({
        //     timepicker: false,
        //     lang: 'ko',
        //     format: 'Y-m-d',
        //     scrollMonth: false,
        //     scrollInput: false,
        //     onShow: function (ct) {                                    
        //         this.setOptions({
        //             // maxDate: $frdate.val() ? $frdate.val() : false
        //         })
        //     },
        // });

        // $todate.datetimepicker({
        //     timepicker: false,
        //     lang: 'ko',
        //     format: 'Y-m-d',    //'Y-m-d H:i',
        //     scrollMonth: false,
        //     scrollInput: false,
        //     onShow: function (ct) {
        //         this.setOptions({
        //             // minDate: $todate.val() ? $todate.val() : false
        //         })
        //     }
        // });

    }

    class FlexGridContextMenu {
        constructor(grid) {
            let host = grid.hostElement, menu = this._buildMenu(grid);
            host.addEventListener('contextmenu', (e) => {
                // 클릭된 셀/열 선택
                let sel = grid.selection, ht = grid.hitTest(e), row = ht.getRow();

                switch (ht.panel) {
                    case grid.cells:
                    let colIndex = ht.col;
                    // 만약 그룹 헤더이면, 그룹 열 선택
                    if (row instanceof wijmo.grid.GroupRow && row.dataItem instanceof wijmo.collections.CollectionViewGroup) {
                        let gd = row.dataItem.groupDescription;
                        if (gd instanceof wijmo.collections.PropertyGroupDescription) {
                        let col = grid.getColumn(gd.propertyName);
                        if (col && col.index > -1) {
                            colIndex = col.index;
                        }
                        }
                    }
                    grid.select(ht.row, colIndex);
                    break;
                    case grid.columnHeaders:
                    grid.select(sel.row, ht.col);
                    break;
                    case grid.rowHeaders:
                    grid.select(ht.row, sel.col);
                    break;
                    default:
                    return; // 유효하지 않는 패널
                }
                // 현재 열에 대한 메뉴 표시
                if (grid.selection.col > -1) {
                    e.preventDefault(); // 브라우저의 기본 메뉴 취소
                    menu.show(e); // Wijmo 메뉴 표시
                }
            }, true);
        }
        _buildMenu(grid) {
            let menu = new wijmo.input.Menu(document.createElement('div'), {
            owner: grid.hostElement,
            displayMemberPath: 'header',
            subItemsPath: 'items',
            commandParameterPath: 'cmd',
            dropDownCssClass: 'ctx-menu',
            openOnHover: true,
            closeOnLeave: true,
            itemsSource: [
                {
                header: '정렬', items: [
                    { header: 'Ascending', cmd: 'SRT_ASC' },
                    { header: 'Descending', cmd: 'SRT_DESC' },
                    { header: 'No Sort', cmd: 'SRT_NONE' },
                    { header: '-' },
                    { header: 'Clear All Sorts', cmd: 'SRT_CLR' }
                ]
                },
                { header: '-' },
                { header: 'Pin/Unpin', cmd: 'PIN' },
                { header: '-' },
                { header: 'AutoSize', cmd: 'ASZ' },
                { header: 'AutoSize All', cmd: 'ASZ_ALL' },
                { header: '-' },
                { header: 'Group/Ungroup', cmd: 'GRP' },
                { header: 'Clear All Groups', cmd: 'GRP_CLR' },
                { header: '-' },
                {
                header: '내려받기', items: [
                    { header: 'CSV', cmd: 'X_CSV' },
                    { header: 'XLSX', cmd: 'X_XLSX' },
                    { header: 'PDF', cmd: 'X_PDF' },
                ]
                }
            ],
            command: {
                // 메뉴 명령 활성화/비활성화
                canExecuteCommand: (cmd) => {
                let view = grid.collectionView, col = grid.columns[grid.selection.col];
                switch (cmd) {
                    case 'SRT_ASC':
                    return col.currentSort != '+';
                    case 'SRT_DESC':
                    return col.currentSort != '-';
                    case 'SRT_NONE':
                    return col.currentSort != null;
                    case 'SRT_CLR':
                    return view.sortDescriptions.length > 0;
                    case 'PIN':
                    return true; // toggle pin
                    case 'ASZ':
                    case 'ASZ_ALL':
                    return true;
                    case 'GRP':
                    return col.dataType != wijmo.DataType.Number; // don't group numbers
                    case 'GRP_CLR':
                    return view.groupDescriptions.length > 0;
                }
                return true;
                },
                // 메뉴 명령 실행
                executeCommand: (cmd) => {
                    let view = grid.collectionView, cols = grid.columns, col = cols[grid.selection.col], sd = view.sortDescriptions, gd = view.groupDescriptions;
                    switch (cmd) {
                        case 'SRT_ASC':
                        case 'SRT_DESC':
                        case 'SRT_NONE':
                        if (grid.allowSorting != wijmo.grid.AllowSorting.MultiColumn) {
                            sd.clear();
                        }
                        else {
                            for (let i = 0; i < sd.length; i++) {
                            if (sd[i].property == col.binding) {
                                sd.removeAt(i);
                                break;
                            }
                            }
                        }
                        if (cmd != 'SRT_NONE') {
                            sd.push(new wijmo.collections.SortDescription(col.binding, cmd == 'SRT_ASC'));
                        }
                            break;
                        case 'SRT_CLR':
                            sd.clear();
                            break;
                        case 'PIN':
                            let fCols = grid.frozenColumns;
                            if (col.index >= fCols) { // pinning
                                cols.moveElement(col.index, fCols, false);
                                cols.frozen++;
                            }
                            else { // unpinning
                                cols.moveElement(col.index, fCols - 1, false);
                                cols.frozen--;
                            }
                            break;
                        case 'ASZ':
                            grid.autoSizeColumn(col.index);
                            break;
                        case 'ASZ_ALL':
                            grid.autoSizeColumns(0, grid.columns.length - 1);
                            break;
                        case 'GRP':
                        // 그룹 삭제
                            for (let i = 0; i < gd.length; i++) {
                                if (gd[i].propertyName == col.binding) {
                                gd.removeAt(i);
                                return; // we're done
                                }
                            }
                            // 그룹 추가
                            gd.push(new wijmo.collections.PropertyGroupDescription(col.binding));
                            break;
                        case 'GRP_CLR':
                            gd.clear();
                            break;
                        // 내보내기
                        case 'X_CSV':
                            let rng = new wijmo.grid.CellRange(0, 0, grid.rows.length - 1, grid.columns.length - 1), csv = grid.getClipString(rng, wijmo.grid.ClipStringOptions.CSV, true, false);
                            wijmo.saveFile(csv, '재고등록.csv');
                            break;
                        case 'X_XLSX':
                            const gridView = grid.collectionView;
                            let oldPgSize = gridView.pageSize, oldPgIndex = gridView.pageIndex;

                            grid.beginUpdate();
                            gridView.pageSize = 0;

                            wijmo.grid.xlsx.FlexGridXlsxConverter.saveAsync(grid, {includeCellStyles: true, includeColumnHeaders: true}, '재고등록.xlsx',
                            saved => {
                            gridView.pageSize = oldPgSize;
                            gridView.moveToPage(oldPgIndex);
                            grid.endUpdate();
                            }, null
                            ); 
                            break;
                        case 'X_PDF':
                            wijmo.grid.pdf.FlexGridPdfConverter.export(grid, '재고등록.pdf', {
                                maxPages: 10,
                                scaleMode: wijmo.grid.pdf.ScaleMode.PageWidth,
                                documentOptions: {
                                compress: true,
                                header: { declarative: { text: '\t&[Page] of &[Pages]' } },
                                footer: { declarative: { text: '\t&[Page] of &[Pages]' } },
                                info: { author: 'GrapeCity', title: '재고등록' }
                                },
                                //내장된 폰트 정보
                                embeddedFonts: [
                                    {
                                    source: "https://assets.codepen.io/975719/BMHANNAPro.ttf",
                                    name: "BMHANNAPro",
                                    style: "normal",
                                    weight: "normal",
                                    sansSerif: true
                                    }
                                ],
                                styles: {
                                    cellStyle: { backgroundColor: '#ffffff', borderColor: '#c6c6c6', font: {family: "BMHANNAPro"} },
                                    altCellStyle: { backgroundColor: '#f9f9f9' },
                                    groupCellStyle: { backgroundColor: '#dddddd' },
                                    headerCellStyle: { backgroundColor: '#eaeaea' }
                                }
                            });
                            break;
                    }
                    // 활성화 그리드 셀에 포커스 복원
                    grid.refresh();
                    let sel = grid.selection, cell = grid.cells.getCellElement(sel.row, sel.col);
                    if (cell) {
                        cell.focus();
                    }
                }
            }
            });
            // 완료
            return menu;
        }
    }        


</script>
                            
                    <!-- ######################### ######################### ######################### ######################### ######################### ######################### -->
                    </body> 
                </div>
                    <!------footer ------>
                    <!-- <footer th:replace="layouts/XDashBoard/XDashBoard_footer :: XDashBoard_footer"></footer> -->
                    <!--------------------->  
            </div>
        </main>
    </div>
</header>