<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="headerFragment">
    <!-- py-md-2 px-1 py-1 -->
    <div class="card-body d-flex align-items-center py-md-2 px-auto py-auto ">
        <main class="main" id="top"> 
            <div class="container-fluid"> 
                <script>
                    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                    if (isFluid) {
                        var container = document.querySelector('[data-layout]');
                        container.classList.remove('container');
                        container.classList.add('container-fluid');
                    }
                </script>

                <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
                    <script>
                        var navbarStyle = localStorage.getItem("navbarStyle");
                        if (navbarStyle && navbarStyle !== 'transparent') {
                            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
                        }
                    </script>
                    <div class="d-flex align-items-center">
                        <div class="toggle-icon-wrapper">

                            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span
                                    class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

                        </div><a class="navbar-brand" href="@{/user}">
                            <!-- <div class="d-flex align-items-center py-3"><img class="me-2"
                                    th:src="@{assets/img/icons/spot-illustrations/falcon.png}" alt="" width="40" /><span
                                    class="font-sans-serif">ActasErp</span>
                            </div> -->
                        </a>
                    </div> 
                    <!------navbar vertical------>     
                    <div th:replace="layouts/layout01/navbarMemWeb :: navbar"></div>  
                </nav>
                <div class="content" id="index02"> 
                    <!------nav ------>
                    <!-- <div th:replace="layouts/layout01/headerNavWeb :: headerNav"></div>   -->

                    <body layout:fragment="index02"> 
                    <!-- ######################### ######################### ######################### ######################### ######################### ######################### -->

<!-- contents body 시작--> 
<!-- form 또는 action 으로 받아오기  --> 
<div class="con">  
    <div class="card-body bg-light">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#step01" onclick="tabchk_rtn('A')">소요량등록</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#step02"  onclick="tabchk_rtn('B')">공정별가동현황</a>
            </li>  -->
            <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#step02"  onclick="tabchk_rtn('B')">분류상세등록</a>
            </li> -->
            <input type="hidden" id="tabvalue" value="A">
            </ul>
            <div class="tab-content">
            <div class="tab-pane fade show active" id="step01">  
                <div class="row gx-3" style="  margin: 10px 10px 10px;"> 
                    <!-- <div class="col-6 col-sm-3">
                        <label class="form-label ls text-uppercase text-600 fw-semi-bold mb-0 fs--1" for="expDate">대분류명칭</label>
                        <input class="form-control" id="com_cnam"   type="text">
                    </div>  -->
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless" style="height: 100px;" >
                        <tbody>
                        <tr> 
                            <td class="align-top"  > 
                                <div class="container-fluid">   
                                    <ul class="treeview treeview-stripe" id="treeviewStriped" data-options='{"striped":true}'>
                                        <li class="treeview-list-item">
                                          <a data-bs-toggle="collapse" href="#treeviewStriped-1-1" role="button" aria-expanded="false">
                                            <p class="treeview-text">
                                              MES System
                                            </p>
                                          </a>
                                          <ul class="collapse treeview-list" id="treeviewStriped-1-1" data-show="false">
                                            <li class="treeview-list-item">
                                              <a data-bs-toggle="collapse" href="#treeviewStriped-2-1" role="button" aria-expanded="false">
                                                <p class="treeview-text">
                                                  BOM Tree
                                                </p>
                                              </a>
                                              <ul class="collapse treeview-list" id="treeviewStriped-2-1" data-show="false">
                                                <li class="treeview-list-item">
                                                  <a data-bs-toggle="collapse" href="#treeviewStriped-3-1" role="button" aria-expanded="false">
                                                    <p class="treeview-text">
                                                      품목#1<span class="badge rounded-pill badge-soft-primary ms-2">3</span>
                                                    </p>
                                                  </a>
                                                  <ul class="collapse treeview-list" id="treeviewStriped-3-1" data-show="true">
                                                    <li class="treeview-list-item">
                                                      <div class="treeview-item">
                                                        <a class="flex-1" href="#!">
                                                          <p class="treeview-text">
                                                            <span class="me-2 fas fa-image text-warning"></span>
                                                            원부자재#1
                                                          </p>
                                                        </a>
                                                        <!-- <div class="dot bg-info"></div> -->
                                                      </div>
                                                    </li>
                                                    <li class="treeview-list-item">
                                                      <div class="treeview-item">
                                                        <a class="flex-1" href="#!">
                                                          <p class="treeview-text">
                                                            <span class="me-2 fas fa-image text-warning"></span>
                                                            원부자재#2
                                                          </p>
                                                        </a>
                                                        <!-- <div class="dot bg-primary"></div> -->
                                                      </div>
                                                    </li>
                                                    <li class="treeview-list-item">
                                                      <div class="treeview-item">
                                                        <a class="flex-1" href="#!">
                                                          <p class="treeview-text">
                                                            <span class="me-2 fas fa-sun text-warning"></span>
                                                            원부자재#3
                                                          </p>
                                                        </a>
                                                        <!-- <div class="dot bg-primary"></div> -->
                                                      </div>
                                                    </li>
                                                  </ul>
                                                </li>
                                                <li class="treeview-list-item">
                                                  <a data-bs-toggle="collapse" href="#treeviewStriped-3-2" role="button" aria-expanded="false">
                                                    <p class="treeview-text">
                                                        품목#2<span class="badge rounded-pill badge-soft-primary ms-2">2</span>
                                                    </p>
                                                  </a>
                                                  <ul class="collapse treeview-list" id="treeviewStriped-3-2" data-show="true">
                                                    <li class="treeview-list-item">
                                                      <div class="treeview-item">
                                                        <a class="flex-1" href="#!">
                                                          <p class="treeview-text">
                                                            <span class="me-2 fas fa-play text-danger"></span>
                                                            원부자재#1
                                                          </p>
                                                        </a>
                                                        <!-- <div class="dot bg-warning"></div> -->
                                                      </div>
                                                    </li>
                                                    <li class="treeview-list-item">
                                                      <div class="treeview-item">
                                                        <a class="flex-1" href="#!">
                                                          <p class="treeview-text">
                                                            <span class="me-2 fas fa-play text-danger"></span>
                                                            원부자재#2
                                                          </p>
                                                        </a>
                                                        <!-- <div class="dot bg-warning"></div> -->
                                                      </div>
                                                    </li>
                                                  </ul>
                                                </li> 
                                              </ul>
                                            </li>  
                                          </ul>
                                        </li> 
                                      </ul>
                                    <!-- <div id="wtab01Grid_div"  style="overflow:scroll;   height:600px;  width:300px; margin:0 auto; "></div>   -->
                                </div>   
                            </td>
                            <td class="align-top"> 
                                
                                <div class="row gx-3" style="  margin: 10px 10px 10px;">
                                    <div class="col-auto">
                                        <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">제품명</span> 
                                            <input class="form-control form-control-sm" type="text"    id="jpname" autocomplete="off" onkeyup="if(window.event.keyCode==13){searchListTot_rtn('A')}"  placeholder="품목명">
                                            <input class="form-control form-control-sm" id="jpcode" type="hidden"    disabled  placeholder=""   />  
                                            <input class="form-control form-control-sm" id="jpunit" type="hidden"    disabled  placeholder=""   />  
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">규격</span> 
                                            <input class="form-control form-control-sm" id="jpsize" type="text"    autocomplete="off" disabled > 
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3" style="  margin: 10px 10px 10px;">
                                    <div class="col-auto">
                                        <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">원부자재명</span>                                         
                                            <input class="form-control form-control-sm" type="text"    id="pname" autocomplete="off" onkeyup="if(window.event.keyCode==13){searchListTot_rtn('B')}"  placeholder="품목명">
                                            <input class="form-control form-control-sm" id="pcode" type="hidden"    disabled  placeholder=""   />  
                                            <input class="form-control form-control-sm" id="punit" type="hidden"    disabled  placeholder=""   />  
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">규격</span> 
                                            <input class="form-control form-control-sm" id="psize" type="text"    autocomplete="off" disabled > 
                                        </div>
                                    </div>   
                                    <!-- <div class="col-auto">
                                        <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">소요량</span> 
                                            <input class="form-control form-control-sm" id="wrmcnm" type="number"    autocomplete="off"  > 
                                        </div>
                                    </div>     -->
                                    <div class="col-auto">  
                                        <!-- <button class="btn btn-outline-info me-1 mb-1"  type="button" style="color: #dc3545;"  id="deleteRow" ><span style="color: #084661;">행삭제</span></button>  -->
                                        <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" id="deleteRow"  type="button"  >행삭제
                                        </button>
                                    </div>  
                                    <div class="col-auto">  
                                        <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="new_btn()">신규
                                        </button>
                                    </div>  
                                    <div class="col-auto">  
                                        <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="save_btn()">저장
                                        </button>
                                    </div>  
                                    <div class="col-auto">  
                                        <button class="btn btn-falcon-danger me-1 mb-1 btn-sm" type="button" onclick="delete_btn()">삭제
                                        </button>
                                    </div>  
                                </div>                                                         
                            <div class="container-fluid"  >                                                         
                                <div id="wtab02Grid_div"  style="overflow:scroll;   height:485px;   margin:0 auto; "></div> 
                                </div>  
                            </td> 
                        </tr>
                        </tbody>
                    </table>
                </div>  
                <!-- <div class="container-fluid">
                    <div id="wtab02Grid_div" ></div>
                    <div id="tab02Pager"></div>
                    </div> -->
            </div> 
            </div>
    </div>  

</div>    

<!--  모달 처리 -->
<input class="form-control form-control-sm"  type="hidden" id="innamebtn2" data-bs-toggle="modal" data-bs-target="#gomodal"  /> 
<!--------------------------------------------------------------------------------------->   
<div class="modal fade" id="gomodal" data-bs-keyboard="false"
data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
    <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
        style="max-width: 850px">
        <div class="modal-content border-0">
            <div class="modal-body p-0" > 
                <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">                            
                    <div class="search">
                        <div class="input_wrap">  
                            <input class="form-control form-control-sm" id="conacorp" type="text"   onkeyup="if(window.event.keyCode==13){searchListTot_rtn('M')}"
                            placeholder="품목명 "     />                                      
                        </div> 
                        <button id="wciflistBtn">
                            <img th:src="@{/assets/images/i_search.png}" alt=""> 
                        </button>
                    </div>                             
                </div>   
                <div class="container-fluid"> 
                    <div id="wtab03Grid_div"  style="overflow:scroll; width: 800px;  height:500px;   margin:0 auto; "></div> 
                </div>   
            </div>  

            <div class="modal-footer">
                <div class="row g-1">
                    <div class="col-auto">
                        <button class="badge-soft-primary dropdown-item rounded-1"
                            type="button"  id="wciflist_rtn" data-bs-dismiss="modal">Close</button>
                    </div> 
                </div>
            </div>   

        </div>
    </div> 
</div>  

<!--------------------------------------------------------------------------------------->     


<script type="text/javascript" th:inline="javascript">
    var view_p01tab01page;
    var view_p01tab02page;
    var view_p01tab03page; 
    var view_innamepage
    var wtab01Grid;
    var wtab02Grid;
    var wtab03Grid; 
    var typeMenu;  
    var treemap; 
    let ls_delgetCode = "";
    var gs_llrow = 0;
    var ll_delgetrow = 0
   var wseries_data = [0]; 

    window.onload = function() {  
       localStorage.setItem("setpage", "app03p001");
       //tab02 차트그리기
       // Tab02Chartinit()
       //tab03 차트그리기
       // Tab03Chartinit()
       //tab01검색 popup list 
       view_p01tab02page = new wijmo.collections.CollectionView(getData_tab02(), {
           pageSize: 100
       }); 
       wtab02Grid = new wijmo.grid.FlexGrid('#wtab02Grid_div', {  
           autoGenerateColumns: false,
           showMarquee: true,
           isReadOnly: false, 
           // selectionMode: 'RowRange',
           allowSorting: 'MultiColumn',
           alternatingRowStep: 0,
           columns: [       
               { binding: 'pcode', header: '품목코드',     align:"center",  width: 130, isReadOnly: true  },   
               { binding: 'wrmc', header: '원부자재명', align: "center", width: 200, isReadOnly: true  }, 
               { binding: 'wrmcnm', header: '규격', align: "center", width: 150, isReadOnly: true  }, 
               { binding: 'wperid', header: '차종', align: "center", width: 100, isReadOnly: true  }, 
               { binding: 'wpernm', header: '단위', align: "center", width: 80 , isReadOnly: true }, 
               { binding: 'wpernm', header: '소요량', align: "center", width: 80 }, 
               { binding: 'wpernm', header: '외주', align: "center", width: 80, dataType:3,allowSorting: false }, 
               { binding: 'wpernm', header: '스크랩', align: "center", width: 80, dataType:3,allowSorting: false }, 
               { binding: 'wpernm', header: '원재료', align: "center", width: 80, dataType:3,allowSorting: false }, 
           ], 
               
           itemsSource: view_p01tab02page
           
       });   
       // 첫번째 항목(정렬/그룹화한 후)을 선택
       wtab02Grid.select(new wijmo.grid.CellRange(0, 0), true); 
       setHeaderColumn02(false);
       function setHeaderColumn02(headerOn) {
           wtab02Grid.headersVisibility = headerOn
           ? wijmo.grid.HeadersVisibility.All
           : wijmo.grid.HeadersVisibility.Column; 
       } 
           // tab01검색 데이터 수집
       function getData_tab02(){        
           var wactnm_data = [];
           var cnt = 1;
        //    for (var i = 0; i < 20; i++) {
        //        wactnm_data.push({
        //            id: i, 
        //            index: cnt,
        //            wrmc: '', 
        //            wrmcnm: '', 
        //            wperid: '', 
        //            wpernm: '', 
        //        });
        //        cnt++;
        //    }     
           return wactnm_data;                                              
       }  

                    
        // // ################################################################

        view_p01tab03page = new wijmo.collections.CollectionView(getData_tab03(), {
            sortDescriptions: [new wijmo.collections.SortDescription("acode", false)],
            //pageSize: 18
        });

     
        wtab03Grid = new wijmo.grid.FlexGrid('#wtab03Grid_div', {  
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false,  
            // frozenColumns: 2,
            // selectionMode: 'RowRange',
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [     
                {
                    binding: 'jkey',
                    width: 180,
                    header: '코드', 
                    align:"center",
                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                        text: '<b>${item.jkey}</b>',
                        click: (e, ctx) => {
                            wcifChk1_a('A', ctx.item.jkey, ctx.item.jpum, ctx.item.jgugek, ctx.item.jchajong, ctx.item.jdanwy);  
                        }
                    })
                }, 
                { binding: 'jpum', header: '제품명', align: "left", width: 250 }, 
                { binding: 'jgugek', header: '규격', align: "center", width: 200 },   
                { binding: 'jgugek2', header: '색상', align: "center", width: 100 },   
                { binding: 'jdanwy', header: '단위', align: "center", width: 100 },  
                { binding: 'jpumcode', header: '상대제품번호', align: "center", width: 200 },
                { binding: 'jsayang', header: '사양구분', align: "center", width: 100 },
                { binding: 'j_net', header: '제품중량', align: "center", width: 100 },
                { binding: 'jchajong', header: '차종', align: "center", width: 100 },
                { binding: 'j_sr', header: '스프루', align: "center", width: 100 },
                { binding: 'j_ct', header: 'C/T', align: "center", width: 100 },   
                { binding: 'j_cavity', header: 'CAVITY', align: "center", width: 100 },
                { binding: 'jbigo', header: '비고', align: "center", width: 100 },
                { binding: 'w_b_gubn', header: '품목분류', align: "center", width: 100 },               
                { binding: 'jchgoga0', header: '단가', align: "right", width: 100 }, 
                { binding: 'j_dae', header: '대분류', align: "center", width: 0 },               
                { binding: 'j_jung', header: '중분류', align: "right", width: 0 }, 
                { binding: 'j_misayong', header: '미사용', align: "right", width: 0 },  
                { binding: 'j_sang', header: '구격중복사용', align: "right", width: 0 },         
                
            ], 
            itemsSource: view_p01tab03page
        });       
    
        
            wtab03Grid.showMarquee = true;
            wtab03Grid.focus();
            wijmo.toggleClass(wtab03Grid.hostElement, 'highlightActive', true);
            wtab03Grid.focus();

            function getData_wlist2(){   
            var winname_data = []; 
            var cnt = 1;
            for (var i = 0; i < 12; i++) {
                winname_data.push({
                    id: i, 
                    index: cnt,
                    acode:"",
                    acorp: "",                            
                });
                cnt++;
            }    
            return winname_data;                                      
        } 
        // tab01검색 데이터 수집
        function getData_tab03(){          
        var wactnm_data = [];         
        var cnt = 1;   
        for (var i = 0; i < 20; i++) {
            wactnm_data.push({
                id: i, 
                index: cnt,
                jkey: "", 
                jpum: "", 
                jgugek: "", 
                jgugek2: "", 
                jdanwy: "", 
                jpumcode: "", 
                jsayang: "", 
                j_net: "", 
                jchajong: "", 
                j_sr: "", 
                j_ct: "", 
                j_cavity: "", 
                jbigo: "", 
                w_b_gubn: "",
                jchgoga0: "",
                j_dae: "",
                j_jung: "",
                j_misayong: "",
                j_sang: ""
            })    
            cnt++;
        }      
        return wactnm_data;                                         
    } 

 






} 


//품목조회
document.getElementById("wciflistBtn").addEventListener("click",function(){   
    searchListTot_rtn("M");  
})
  
//품목현황 검색  
document.getElementById("pname").addEventListener("keyup", (e)=>{  
    if(e.keyCode === 13){   
        document.getElementById("innamebtn2").click();
        searchListTot_rtn("B"); 
    }  
});  
//품목현황 검색  
document.getElementById("jpname").addEventListener("keyup", (e)=>{  
    if(e.keyCode === 13){   
        document.getElementById("innamebtn2").click();
        searchListTot_rtn("A"); 
    }  
});  
   
 
   //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
   //선택한 탭 체크 
    function tabchk_rtn(arg){
       document.getElementById('tabvalue').value = arg; 
   } 

   function wactnmChk(arg1,arg2){   
       var ls_tab = document.getElementById('tabvalue').value;
       
       document.getElementById('com_code').value = arg1;
       document.getElementById('com_rem1').value = arg2;
        
       // console.log(ls_todate)
       $.ajax({
           url: '/app01m/fplandetaillist',  
           type:"POST",
           data: { 
               "searchtxt" : '%',
               "com_code" :arg1, 
           }, 
           async:false,
           success:function(data){   
               tabB_grid(data);
           },error:function(e){
               console.log("error");                            
           }
       }).done(function(fragment){           

       })        

   }   

    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$    
    document.getElementById("deleteRow").addEventListener("click",function(){ 
    
        var ls_pname = wtab02Grid.getCellData(ll_delgetrow, 1);
        if(ls_pname == null){
            alert("삭제할 자료를 다시 선택해주세요")
            return 
        }
        if (!confirm(ls_pname + " :삭제하시겠습니까?")) {
            return ; 
        }     
        view_p01tab02page.removeAt(ll_delgetrow);
        //wtab02Grid.select(0,0)
        let e = new wijmo.grid.CellEditEndingEventArgs(wtab02Grid.cells, wtab02Grid.selection); //cellEditEndingEventArgs 생성

        wtab02Grid.onDeletingRow(e)
    })
   function new_btn(arg){ ;
       document.getElementById('wrmc').value = "";
       document.getElementById('wrmcnm').value = "";
       document.getElementById('wperid').value = "";
       document.getElementById('wpernm').value = "";
   }
   function save_btn(arg){
       var ls_tab = document.getElementById('tabvalue').value;
       var ls_code = document.getElementById('com_code').value;
       var ls_codenm = document.getElementById('com_rem1').value;
       var ls_wrmc = document.getElementById('wrmc').value;
       var ls_wrmcnm = document.getElementById('wrmcnm').value;
       var ls_wperid = document.getElementById('wperid').value;
       var ls_wpernm = document.getElementById('wpernm').value;

   
       if (!confirm("저장하시겠습니까?")) {
               return ; 
       }   
       
       switch(ls_tab){
           case 'A':
               if(ls_wrmc == null || ls_wrmc.length == 0 || ls_wrmc == ""){ 
                   alert("설비코드를 등록하세요") 
                   document.getElementById("wrmc").focus(); 
                   return ;               
               }  
               if(ls_wrmcnm == null || ls_wrmcnm.length == 0 || ls_wrmcnm == ""){ 
                   alert("설비명을 등록하세요") 
                   document.getElementById("wrmcnm").focus(); 
                   return ;               
               }
               if(ls_wperid == null || ls_wperid.length == 0 || ls_wperid == ""){ 
                   alert("담당자를 등록하세요") 
                   document.getElementById("wperid").focus(); 
                   return ;               
               }
               if(ls_wpernm == null || ls_wpernm.length == 0 || ls_wpernm == ""){ 
                   alert("담당자명을 등록하세요") 
                   document.getElementById("ls_wpernm").focus(); 
                   return ;               
               }        

               $.ajax({
                   url: '/app01m/fplandetailsave',  
                   type:"POST",
                   data: { 
                       "com_code"       : ls_code,  
                       "com_rem1"      : ls_codenm ,
                       "wrmc"          : ls_wrmc,  
                       "wrmcnm"        : ls_wrmcnm , 
                       "wperid"        : ls_wperid , 
                       "wpernm"        : ls_wpernm ,  
                   }, 
                   async:false,
                   success:function(data){   
                       if(data == "success"){
                           alert("저장되었습니다.") 
                           wactnmChk(ls_code, ls_codenm)
                           //searchList_rtn(ls_tab);  
                           clear_rtn(ls_tab);        
                       }else{                       
                           alert("저장중 오류가 발생했습니다. 관리자에게 문의하세요.")
                           // listUp();
                           console.log(data);  
                       }
                   },error:function(e){
                       console.log("error"); 
                   }
               }).done(function(fragment){           

               })  
               break;           
           default:    
               break;                
       } 

   } 

   function delete_btn(arg){
       var ls_tab = document.getElementById('tabvalue').value;
       var ls_code = document.getElementById('com_code').value;
       var ls_codenm = document.getElementById('com_rem1').value;
       var ls_wrmc = document.getElementById('wrmc').value;
       var ls_wrmcnm = document.getElementById('wrmcnm').value;
       var ls_wperid = document.getElementById('wperid').value;
       var ls_wpernm = document.getElementById('wpernm').value;

   
       if (!confirm("삭제하시겠습니까?")) {
               return ; 
       }   
       
       switch(ls_tab){
           case 'A':

           if(ls_code == null || ls_code.length == 0 || ls_code == ""){ 
               alert("대분류코드를 확인하세요") 
               document.getElementById("com_code").focus(); 
               return ;               
           }    

               $.ajax({
                   url: '/app01m/fplandetaildel',  
                   type:"POST",
                   data: { 
                       "wrmc"      : ls_wrmc,  
                       "wrmcnm"      : ls_wrmcnm , 
                       "wperid"      : ls_wperid , 
                   }, 
                   async:false,
                   success:function(data){   
                       if(data == "success"){
                           alert("삭제되었습니다.") 
                           wactnmChk(ls_code, ls_codenm)
                           //searchList_rtn(ls_tab);  
                           clear_rtn(ls_tab);             
                       }else{                       
                           alert("삭제중 오류가 발생했습니다. 관리자에게 문의하세요.")  
                       }
                      
                   },error:function(e){
                       console.log("error"); 
                   }
               }).done(function(fragment){           

               })  
               break;
           case 'B': 
               $.ajax({
                   url: '/app01m/comcodedetaildel',  
                   type:"POST",
                   data: { 
                       "com_cls"      : ls_code02,  
                       "com_rem1"      : ls_codenm02 ,
                       "com_code"      : ls_codes,  
                   }, 
                   async:false,
                   success:function(data){   
                       if(data == "success"){
                           alert("삭제되었습니다.") 
                           searchList_rtn(ls_tab);  
                           clear_rtn(ls_tab);             
                       }else{                       
                           alert("삭제중 오류가 발생했습니다. 관리자에게 문의하세요.")  
                       }
                      
                   },error:function(e){
                       console.log("error"); 
                   }
               }).done(function(fragment){           

               })  
               break;
           case 'C':
               break;                
           default:    
               break;                
       } 

   }         
   function clear_rtn(arg){
       switch(arg){
           case 'A': 
               //document.getElementById('com_code').value = "";
               //document.getElementById('com_rem1').value = "";
               document.getElementById('wrmc').value = "";
               document.getElementById('wrmcnm').value = "";
               document.getElementById('wperid').value = "";
               document.getElementById('wpernm').value = "";
               break;
           case 'B': 
               break;
           case 'C':
              
               break;                
           default:    
               break;                
       } 

   }
   //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                
   // tab01 검색   
//    document.getElementById("retrieveBtn").addEventListener("click",function(){ 
       
//        var ls_tab = document.getElementById('tabvalue').value;   
//        searchList_rtn(ls_tab);
//    })   

   function searchList_rtn(arg1){ 
       arg = "A";
       var ls_code = document.getElementById('com_code').value;
       var ls_codenm = document.getElementById('com_rem1').value;
       switch(arg1){
           case 'A':
           $.ajax({
                   url: '/app01m/fplandetaillist',  
                   type:"POST",
                   data: { 
                       "searchtxt" : '%',
                       "com_code" :arg1, 
                   }, 
                   async:false,
                   success:function(data){  
                       console.log(data);
                       tabC_grid(data);
                   },error:function(e){
                       console.log("error");                            
                   }
               }).done(function(fragment){           

               })  
               break;
           case 'B': 
               $.ajax({
                   url: '/app01m/comcodedetaillist',  
                   type:"POST",
                   data: { 
                       "searchtxt" : '%',
                       "com_code" :ls_code, 
                   }, 
                   async:false,
                   success:function(data){  
                       console.log(data);
                       tabC_grid(data);
                   },error:function(e){
                       console.log("error");                            
                   }
               }).done(function(fragment){           

               })  
               break;
           case 'C':
               $.ajax({
                   url: '/app03/p001tab03',  
                   type:"POST",
                   data: { 
                       "frdate"      : arg2,  
                       "todate"      : arg3 ,  
                       "actcdz"      : arg4 ,  
                       "actcontcdz"  : arg5  
                   }, 
                   async:false,
                   success:function(data){   
                       tabC_grid(data);
                   },error:function(e){
                       console.log("error");
                       // alert(data.code);
                       // alert(data.message);
                   }
               }).done(function(fragment){           

               })  
               break;                
           default:    
               break;                
       }
   

   }        
   function tabA_grid(data){
       var wtab01Dto  = data;    
       var wtab01_data = [];
       var cnt = 1;
       for (var i = 0; i < wtab01Dto.length; i++) {
           wtab01_data.push({
               id: i, 
               index: cnt,
               com_code: wtab01Dto[i]["com_code"],
               com_rem1: wtab01Dto[i]["com_rem1"],                                 
           });
           cnt++;
       }   
       // console.log("wtab01_data",wactnm_data) +
       // console.log(wtab01_data.length);
       wtab01Grid.columns.clear();  
       wtab01Grid.autoGenerateColumns = false; 
       view_p01tab01page.sourceCollection  = wtab01_data;
       var cols = new wijmo.grid.Column(); 
       cols.binding = 'com_code';
       cols.header = '공정코드';
       cols.align = "center";
       cols.width = 100; 
       wtab01Grid.columns.push(cols);    
       // console.log("cols", cols);  
       cols = new wijmo.grid.Column(); 
       cols.binding = 'com_rem1';
       cols.header = '공정명';
       cols.align = "center";
       cols.width = 200; 
       cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
           text: '<b>${item.com_rem1}</b>',
           click: (e, ctx) => {
               wactnmChk(ctx.item.com_code, ctx.item.com_rem1);
           }
       });
       wtab01Grid.columns.push(cols);   

   }
 
                
   function searchListTot_rtn(arg){ 
                
        if(arg == "M"){
            searchCode = document.getElementById('conacorp').value; 
        }
        if(arg == "A"){
            searchCode = document.getElementById('jpname').value; 
        }   
        if(arg == "B"){
            searchCode = document.getElementById('pname').value; 
        }  
        $.ajax({
                    url: '/app01m/index03/list',  
                    type:"POST",
                    data: { 
                        "searchtxt" :searchCode,
                    }, 
                    async:false,
                    success:function(data){  
                        tabD_grid(arg, data);
                    },error:function(e){
                        console.log("error");                            
                    }
                }).done(function(fragment){           

                })        

    }    

        //  tab02 grid data 수집
    function tabD_grid(arg, data){
        var wtab03Dto  = data;    
        var wtab03_data = [];
        var cnt = 1;
        for (var i = 0; i < wtab03Dto.length; i++) {
            wtab03_data.push({
                id: i, 
                index: cnt, 
                jkey: wtab03Dto[i]["jkey"], 
                jpum: wtab03Dto[i]["jpum"], 
                jgugek: wtab03Dto[i]["jgugek"], 
                jgugek2: wtab03Dto[i]["jgugek2"], 
                jdanwy: wtab03Dto[i]["jdanwy"], 
                jpumcode: wtab03Dto[i]["jpumcode"], 
                jsayang: wtab03Dto[i]["jsayang"], 
                j_net: wtab03Dto[i]["j_net"], 
                jchajong: wtab03Dto[i]["jchajong"], 
                j_sr: wtab03Dto[i]["j_sr"], 
                j_ct: wtab03Dto[i]["j_ct"], 
                j_cavity: wtab03Dto[i]["j_cavity"], 
                jbigo: wtab03Dto[i]["jbigo"], 
                w_b_gubn: wtab03Dto[i]["w_b_gubn"],
                jchgoga0: wtab03Dto[i]["jchgoga0"], 
                j_dae: wtab03Dto[i]["j_dae"], 
                j_jung: wtab03Dto[i]["j_jung"],
                j_misayong: wtab03Dto[i]["j_misayong"],
                j_sang: wtab03Dto[i]["j_sang"]        
            });
            cnt++;
        }   

        // console.log(wtab02_data); 

        wtab03Grid.columns.clear();  
        wtab03Grid.autoGenerateColumns = false; 
        view_p01tab03page.sourceCollection  = wtab03_data;

        var cols = new wijmo.grid.Column(); 
        cols.binding = 'jkey';
        cols.header = '제품코드';
        cols.align = "center";
        cols.width = 180;
        cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
            text: '<b>${item.jkey}</b>',
            click: (e, ctx) => {
                wcifChk1_a(arg, ctx.item.jkey, ctx.item.jpum, ctx.item.jgugek, ctx.item.jchajong, ctx.item.jdanwy);                 
                
            }
        });
        wtab03Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'jpum';
        cols.header = '제품명';
        cols.align = "left";
        cols.width = 250;           
        wtab03Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'jgugek';
        cols.header = '규격';
        cols.align = "center";
        cols.width = 200;                  
        wtab03Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'jgugek2';
        cols.header = '색상';
        cols.align = "center";
        cols.width = 100;           
        wtab03Grid.columns.push(cols);

        
        cols = new wijmo.grid.Column(); 
        cols.binding = 'jdanwy';
        cols.header = '단위'; 
        cols.align = "center"; 
        cols.width = 100;
        wtab03Grid.columns.push(cols);   

        cols = new wijmo.grid.Column(); 
        cols.binding = 'jchajong';
        cols.header = '차종'; 
        cols.align = "center"; 
        cols.width = 100;
        wtab03Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j_sr';
        cols.header = '스프루'; 
        cols.align = "center"; 
        cols.width = 100;
        wtab03Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j_ct';
        cols.header = 'C/T'; 
        cols.align = "center"; 
        cols.width = 100;
        wtab03Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j_cavity';
        cols.header = 'CAVITY'; 
        cols.align = "center"; 
        cols.width = 100;
        wtab03Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'jbigo';
        cols.header = '비고'; 
        cols.align = "center"; 
        cols.width = 100;
        wtab03Grid.columns.push(cols);  

        cols = new wijmo.grid.Column(); 
        cols.binding = 'w_b_gubn';
        cols.header = '품목분류'; 
        cols.align = "center"; 
        cols.width = 100;
        wtab03Grid.columns.push(cols);  


        cols = new wijmo.grid.Column(); 
        cols.binding = 'jchgoga0';
        cols.header = '단가'; 
        cols.align = "right"; 
        cols.width = 100;
        wtab03Grid.columns.push(cols); 

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j_dae';
        cols.header = '대분류'; 
        cols.align = "right"; 
        cols.width = 0;
        wtab03Grid.columns.push(cols); 

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j_jung';
        cols.header = '중분류'; 
        cols.align = "right"; 
        cols.width = 0;
        wtab03Grid.columns.push(cols); 

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j_misayong';
        cols.header = '미사용여부'; 
        cols.align = "right"; 
        cols.width = 0;
        wtab03Grid.columns.push(cols); 

        cols = new wijmo.grid.Column(); 
        cols.binding = 'j_sang';
        cols.header = '규격중복체크'; 
        cols.align = "right"; 
        cols.width = 0;
        wtab03Grid.columns.push(cols); 
    }     
                
    function wcifChk1_a(arg0, arg1, arg2, arg3, arg4, arg5){  
                       //arg, jkey, jpum, jgugek, jchajong, jdanwy
        var ls_tab = document.getElementById('tabvalue').value;   
        if(arg0 =="A"){
            document.getElementById('jpcode').value = arg1;  
            document.getElementById('jpname').value = arg2; 
            document.getElementById('jpsize').value = arg3;
            document.getElementById('jpunit').value = arg5; 
        }else{
            document.getElementById('pcode').value = arg1;  
            document.getElementById('pname').value = arg2;
            document.getElementById('psize').value = arg3;
            document.getElementById('punit').value = arg5; 
            
            var temp = view_p01tab02page.addNew(); 
            let e = new wijmo.grid.CellEditEndingEventArgs(wtab02Grid.cells, wtab02Grid.selection); //cellEditEndingEventArgs 생성

            wtab02Grid.onRowAdded(e); 
            wtab02Grid.setCellData(wtab02Grid.rows.length-1, 0, arg1);  //jkey
            wtab02Grid.setCellData(wtab02Grid.rows.length-1, 1, arg2);  //jpum
            wtab02Grid.setCellData(wtab02Grid.rows.length-1, 2, arg3);  //jgugek
            wtab02Grid.setCellData(wtab02Grid.rows.length-1, 3, arg4);  //jchajong
            wtab02Grid.setCellData(wtab02Grid.rows.length-1, 4, arg5);  //jdanwy            
            //wtab02Grid.setCellData(wtab02Grid.rows.length-1, 5, 0); 
            wtab02Grid.setCellData(wtab02Grid.rows.length-1, 6, false);
            // wtab02Grid.setCellData(wtab02Grid.rows.length-1, 7, 'kk');
            // wtab02Grid.setCellData(wtab02Grid.rows.length-1, 8, 'dd'); 
        }       
            $("#wciflist_rtn").trigger("click");
    }

//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


   $(document).ready(function() { 
       getToday()
       fn_egov_init_date() 
       $("#frdate").change(function(e){ 
           // console.log("달력클릭");
           // console.log(convert_time(e.timestamp));
       })
       $("#todate").change(function(e){ 
           // console.log("달력클릭");
           // console.log(convert_time(e.timestamp));
       })
   })

   function test_rtn(arg1){
       console.log(arg1);
       const disHtml = `
           <div class="tab-pane fade show active" id=${arg1} role="tabpanel" aria-labelledby="profile-tab">${arg1}</div>`
       $('#btnDiv02').before(disHtml);
   }


   function getToday(){
       let today = new Date();   

       let year = today.getFullYear(); // 년도
       let month = today.getMonth() + 1;  // 월
       let date = today.getDate();  // 날짜
       let day = today.getDay();  // 요일
       if(month > 0 && month < 10) {month = "0" + month};
       if(date > 0 && date < 10) {date = "0" + date};
       let ls_frday = year + '-' + month + '-01' 
       let ls_today = year + '-' + month + '-' + date 
       // document.getElementById('frdate').value = ls_frday;
       // document.getElementById('todate').value = ls_today;
   }

   function convert_time(timestamp){ 
       //현재시간
       var date = new Date(timestamp); 
       var year = date.getFullYear();
       var month = ("0" + (1 + date.getMonth())).slice(-2);
       var day = ("0" + date.getDate()).slice(-2); 
       var hh = date.getHours();  
       var min = ('0' + date.getMinutes()).slice(-2) 
       time = year +  month +  day   ;
       return time;  
   }

   function fn_egov_init_date(){
        
   }

   class FlexGridContextMenu {
       constructor(grid) {
           let host = grid.hostElement, menu = this._buildMenu(grid);
           host.addEventListener('contextmenu', (e) => {
               // 클릭된 셀/열 선택
               let sel = grid.selection, ht = grid.hitTest(e), row = ht.getRow();

               switch (ht.panel) {
                   case grid.cells:
                   let colIndex = ht.col;
                   // 만약 그룹 헤더이면, 그룹 열 선택
                   if (row instanceof wijmo.grid.GroupRow && row.dataItem instanceof wijmo.collections.CollectionViewGroup) {
                       let gd = row.dataItem.groupDescription;
                       if (gd instanceof wijmo.collections.PropertyGroupDescription) {
                       let col = grid.getColumn(gd.propertyName);
                       if (col && col.index > -1) {
                           colIndex = col.index;
                       }
                       }
                   }
                   grid.select(ht.row, colIndex);
                   break;
                   case grid.columnHeaders:
                   grid.select(sel.row, ht.col);
                   break;
                   case grid.rowHeaders:
                   grid.select(ht.row, sel.col);
                   break;
                   default:
                   return; // 유효하지 않는 패널
               }
               // 현재 열에 대한 메뉴 표시
               if (grid.selection.col > -1) {
                   e.preventDefault(); // 브라우저의 기본 메뉴 취소
                   menu.show(e); // Wijmo 메뉴 표시
               }
           }, true);
       }
       _buildMenu(grid) {
           let menu = new wijmo.input.Menu(document.createElement('div'), {
           owner: grid.hostElement,
           displayMemberPath: 'header',
           subItemsPath: 'items',
           commandParameterPath: 'cmd',
           dropDownCssClass: 'ctx-menu',
           openOnHover: true,
           closeOnLeave: true,
           itemsSource: [
               {
               header: '정렬', items: [
                   { header: 'Ascending', cmd: 'SRT_ASC' },
                   { header: 'Descending', cmd: 'SRT_DESC' },
                   { header: 'No Sort', cmd: 'SRT_NONE' },
                   { header: '-' },
                   { header: 'Clear All Sorts', cmd: 'SRT_CLR' }
               ]
               },
               { header: '-' },
               { header: 'Pin/Unpin', cmd: 'PIN' },
               { header: '-' },
               { header: 'AutoSize', cmd: 'ASZ' },
               { header: 'AutoSize All', cmd: 'ASZ_ALL' },
               { header: '-' },
               { header: 'Group/Ungroup', cmd: 'GRP' },
               { header: 'Clear All Groups', cmd: 'GRP_CLR' },
               { header: '-' },
               {
               header: '내려받기', items: [
                   { header: 'CSV', cmd: 'X_CSV' },
                   { header: 'XLSX', cmd: 'X_XLSX' },
                   { header: 'PDF', cmd: 'X_PDF' },
               ]
               }
           ],
           command: {
               // 메뉴 명령 활성화/비활성화
               canExecuteCommand: (cmd) => {
               let view = grid.collectionView, col = grid.columns[grid.selection.col];
               switch (cmd) {
                   case 'SRT_ASC':
                   return col.currentSort != '+';
                   case 'SRT_DESC':
                   return col.currentSort != '-';
                   case 'SRT_NONE':
                   return col.currentSort != null;
                   case 'SRT_CLR':
                   return view.sortDescriptions.length > 0;
                   case 'PIN':
                   return true; // toggle pin
                   case 'ASZ':
                   case 'ASZ_ALL':
                   return true;
                   case 'GRP':
                   return col.dataType != wijmo.DataType.Number; // don't group numbers
                   case 'GRP_CLR':
                   return view.groupDescriptions.length > 0;
               }
               return true;
               },
               // 메뉴 명령 실행
               executeCommand: (cmd) => {
                   let view = grid.collectionView, cols = grid.columns, col = cols[grid.selection.col], sd = view.sortDescriptions, gd = view.groupDescriptions;
                   switch (cmd) {
                       case 'SRT_ASC':
                       case 'SRT_DESC':
                       case 'SRT_NONE':
                       if (grid.allowSorting != wijmo.grid.AllowSorting.MultiColumn) {
                           sd.clear();
                       }
                       else {
                           for (let i = 0; i < sd.length; i++) {
                           if (sd[i].property == col.binding) {
                               sd.removeAt(i);
                               break;
                           }
                           }
                       }
                       if (cmd != 'SRT_NONE') {
                           sd.push(new wijmo.collections.SortDescription(col.binding, cmd == 'SRT_ASC'));
                       }
                           break;
                       case 'SRT_CLR':
                           sd.clear();
                           break;
                       case 'PIN':
                           let fCols = grid.frozenColumns;
                           if (col.index >= fCols) { // pinning
                               cols.moveElement(col.index, fCols, false);
                               cols.frozen++;
                           }
                           else { // unpinning
                               cols.moveElement(col.index, fCols - 1, false);
                               cols.frozen--;
                           }
                           break;
                       case 'ASZ':
                           grid.autoSizeColumn(col.index);
                           break;
                       case 'ASZ_ALL':
                           grid.autoSizeColumns(0, grid.columns.length - 1);
                           break;
                       case 'GRP':
                       // 그룹 삭제
                           for (let i = 0; i < gd.length; i++) {
                               if (gd[i].propertyName == col.binding) {
                               gd.removeAt(i);
                               return; // we're done
                               }
                           }
                           // 그룹 추가
                           gd.push(new wijmo.collections.PropertyGroupDescription(col.binding));
                           break;
                       case 'GRP_CLR':
                           gd.clear();
                           break;
                       // 내보내기
                       case 'X_CSV':
                           let rng = new wijmo.grid.CellRange(0, 0, grid.rows.length - 1, grid.columns.length - 1), csv = grid.getClipString(rng, wijmo.grid.ClipStringOptions.CSV, true, false);
                           wijmo.saveFile(csv, 'FlexGrid.csv');
                           break;
                       case 'X_XLSX':
                           const gridView = grid.collectionView;
                           let oldPgSize = gridView.pageSize, oldPgIndex = gridView.pageIndex;

                           grid.beginUpdate();
                           gridView.pageSize = 0;

                           wijmo.grid.xlsx.FlexGridXlsxConverter.saveAsync(grid, {includeCellStyles: true, includeColumnHeaders: true}, 'FlexGrid.xlsx',
                           saved => {
                           gridView.pageSize = oldPgSize;
                           gridView.moveToPage(oldPgIndex);
                           grid.endUpdate();
                           }, null
                           ); 
                           break;
                       case 'X_PDF':
                           wijmo.grid.pdf.FlexGridPdfConverter.export(grid, 'FlexGrid.pdf', {
                               maxPages: 10,
                               scaleMode: wijmo.grid.pdf.ScaleMode.PageWidth,
                               documentOptions: {
                               compress: true,
                               header: { declarative: { text: '\t&[Page] of &[Pages]' } },
                               footer: { declarative: { text: '\t&[Page] of &[Pages]' } },
                               info: { author: 'GrapeCity', title: 'FlexGrid' }
                               },
                               styles: {
                               cellStyle: { backgroundColor: '#ffffff', borderColor: '#c6c6c6' },
                               altCellStyle: { backgroundColor: '#f9f9f9' },
                               groupCellStyle: { backgroundColor: '#dddddd' },
                               headerCellStyle: { backgroundColor: '#eaeaea' }
                               }
                           });
                           break;
                   }
                   // 활성화 그리드 셀에 포커스 복원
                   grid.refresh();
                   let sel = grid.selection, cell = grid.cells.getCellElement(sel.row, sel.col);
                   if (cell) {
                       cell.focus();
                   }
               }
           }
           });
           // 완료
           return menu;
       }
   }        


</script>


                            
                    <!-- ######################### ######################### ######################### ######################### ######################### ######################### -->
                    </body> 
                </div>
                    <!------footer ------>
                    <!-- <footer th:replace="layouts/XDashBoard/XDashBoard_footer :: XDashBoard_footer"></footer> -->
                    <!--------------------->  
            </div>
        </main>
    </div>
</header>