<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="headerFragment">
    <!-- py-md-2 px-1 py-1 -->
    <div class="card-body d-flex align-items-center py-md-2 px-auto py-auto ">
        <main class="main" id="top"> 
            <div class="container-fluid"> 
                <script>
                    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                    if (isFluid) {
                        var container = document.querySelector('[data-layout]');
                        container.classList.remove('container');
                        container.classList.add('container-fluid');
                    }
                </script>
                <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
                    <script>
                        var navbarStyle = localStorage.getItem("navbarStyle");
                        if (navbarStyle && navbarStyle !== 'transparent') {
                            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
                        }
                    </script> 
                    <!------navbar vertical------> 
                    <div th:replace="layouts/layout01/navbarMemWeb :: navbar"></div>  
                </nav>
                <div class="content" id="index07">
                    <!------nav ------>
                    <div th:replace="layouts/layout01/headerNavWeb :: headerNav"></div>  

                    <body layout:fragment="index07"> 
                    </body> 
                    <!------footer ------>
                    <!-- <footer th:replace="layouts/XDashBoard/XDashBoard_footer :: XDashBoard_footer"></footer> -->
                    <!--------------------->  
                </div>
            </div>
        </main>
    </div>
</header>