<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App02.Index10Mapper">


    <select id="GetFplanList"  parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
           select
                Left(TB.indate,4) + '-' + substring(TB.indate, 5,2)+ '-' + substring(TB.indate, 7,2) as indate,
                Left(TB.prod_sdate,4) + '-' + substring(TB.prod_sdate, 5,2)+ '-' + substring(TB.prod_sdate, 7,2) as prod_sdate,
                Left(TB.prod_edate,4) + '-' + substring(TB.prod_edate, 5,2)+ '-' + substring(TB.prod_edate, 7,2) as prod_edate,
                Left(TB.qcdate,4) + '-' + substring(TB.qcdate, 5,2)+ '-' + substring(TB.qcdate, 7,2) as qcdate,
                TB.lotno, TB.cltcd,  TB.perid, (select com_rem1 from TB_CA510  where com_cls = '002' and com_code=TB.perid) as pernm,
                TB.workdv, TB.ecltnm, TB.qcdate, TB.plan_no,
                TB.pcode, E.jpum, E.jgugek, TB.dem_flag, E.jchajong, E.jgugek2, E.jsayang, E.j_sr, E.jpumcode, E.jdanwy,
                TB.prod_qty, TB.cls_flag, TB.istore, TB.ostore, TB.rwflag, TB.remark,
                Left(TB.orddate,4) + '-' + substring(TB.orddate, 5,2)+ '-' + substring(TB.orddate, 7,2) as orddate
             from TB_FPLAN TB
                INNER JOIN JCODE E WITH(NOLOCK) ON (TB.PCODE = E.jkey)
              WHERE isnull(TB.pcode,'') Like concat('%',#{pcode},'%') or isnull(E.jpum,'') Like concat('%',#{jpum},'%')
            ORDER BY TB.indate desc, TB.plan_no
        ]]>
    </select>

    <select id="GetFplanCheck" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[
        select   plan_no
        from TB_FPLAN WITH (NOLOCK)
        WHERE isnull(plan_no,'')   = #{plan_no}
        ORDER BY plan_no
        ]]>
    </select>

    <insert id="InsertFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" >
        insert into TB_FPLAN ( custcd, spjangcd, plan_no, indate, prod_sdate, prod_edate, lotno, cltcd,  perid, ecltnm , line, wono ,
        workdv, pcode, dem_flag, prod_qty, cls_flag, istore, ostore, rwflag, remark ,
        wram , woam, qcqty, end_qty, ordtype, decision, decision1, decision2, decision3 , decision4 , work_flag, qc_flag, close_flag, end_flag, tordqty, selck, batchdv, ocls_flag, autodv ,wodv , opcod
        , prod_dqty , ord_edate, wflag, orddate, qcdate  ) values
        ('KDMES' ,'ZZ', #{plan_no} , #{indate}, #{prod_sdate}, #{prod_edate}, #{lotno}, #{cltcd}, #{perid}, #{ecltnm}, '00', #{wono},
        #{workdv}, #{pcode}, #{dem_flag}, #{prod_qty}, '1', #{istore}, #{ostore}, #{rwflag}, #{remark} ,
        '0', '0' , '0' , '0' , '1', '0' , '0', '0' , '0', '0', '0' , '0' , '0' , '0' , '0' , '0', '0' , '0' , '1' , '0' , #{pcode} , '0' ,'' , '00010', #{orddate} , #{qcdate})
    </insert>


    <update id="UpdateFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto">
        UPDATE TB_FPLAN SET
        spjangcd='ZZ',
        indate=#{indate}
        <if test="prod_sdate != null ">,</if>
        <if test="prod_sdate != null">prod_sdate=#{prod_sdate}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="prod_edate != null ">,</if>
        <if test="prod_edate != null">prod_edate=#{prod_edate}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="orddate != null ">,</if>
        <if test="orddate != null">orddate=#{orddate}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="ecltnm != null ">,</if>
        <if test="ecltnm != null">ecltnm=#{ecltnm}</if>
        <if test="dem_flag != null ">,</if>
        <if test="dem_flag != null">dem_flag=#{dem_flag}</if>
        <if test="prod_qty != null ">,</if>
        <if test="prod_qty != null">prod_qty=#{prod_qty}</if>
        <if test="cls_flag != null ">,</if>
        <if test="cls_flag != null">cls_flag=#{cls_flag}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        <if test="rwflag != null ">,</if>
        <if test="rwflag != null">rwflag=#{rwflag}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="workdv != null ">,</if>
        <if test="workdv != null">workdv=#{workdv}</if>
        <if test="qcdate != null ">,</if>
        <if test="qcdate != null">qcdate=#{qcdate}</if>
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        where plan_no=#{plan_no}
    </update>

    <update id="DeleteFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto">
        DELETE  TB_FPLAN where lotno  = #{lotno}
    </update>

    <insert id="InsertCA611" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        insert into TB_CA611 (custcd, spjangcd, cltcd,   ibgdate, ibgnum,
         perid, store,  remark  ) values
        ('KDMES', 'ZZ', #{cltcd},  #{ibgdate},    #{ibgnum},
         #{perid},     #{store},   #{remark}  )
    </insert>

    <insert id="InsertCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        insert into TB_CA613 (custcd, spjangcd, cltcd, acorp, ibgdate, ibgnum, ibgseq,
        pcode, pname, psize,    punit,  qty, cqty, uamt, samt, tamt,
        mamt, indate, inperid,  pernm, perid, remark, lotno, istore, ostore ) values
        ('KDMES', 'ZZ', #{cltcd},   #{acorp},  #{ibgdate},  #{ibgnum}, #{ibgseq},
        #{pcode}, #{pname}, #{psize}, #{punit}, #{qty}, #{cqty},   #{uamt},  #{samt},  #{tamt},
        #{mamt},  #{indate}, #{inperid} ,    #{pernm} , #{perid}, #{remark}, #{lotno}, #{istore}, #{ostore}  )
    </insert>


    <delete id="DeleteCA611" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        delete from TB_CA611
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum}
    </delete>

    <delete id="DeleteCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        delete from TB_CA613
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum}
    </delete>

    <update id="UpdateCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        UPDATE TB_CA613 SET
        spjangcd='ZZ',
        <if test="pname != null">pname=#{pname}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="psize != null ">,</if>
        <if test="psize != null">psize=#{psize}</if>
        <if test="punit != null ">,</if>
        <if test="punit != null">punit=#{punit}</if>
        <if test="qty != null ">,</if>
        <if test="qty != null">qty=#{qty}</if>
        <if test="cqty != null ">,</if>
        <if test="cqty != null">cqty=#{cqty}</if>
        <if test="uamt != null ">,</if>
        <if test="uamt != null">uamt=#{uamt}</if>
        <if test="samt != null ">,</if>
        <if test="samt != null">samt=#{samt}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="pernm != null ">,</if>
        <if test="pernm != null">pernm=#{pernm}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="acorp != null ">,</if>
        <if test="acorp != null">acorp=#{acorp}</if>
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and ibgseq = #{ibgseq}
    </update>



    <select id="SelectMaxIbgnum" parameterType="String" resultType="String">
        <![CDATA[  select  max(ibgnum)  from TB_CA613 where ibgdate = #{ibgdate}      ]]>
    </select>

    <select id="SelectCa613List"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[ select B.cltcd as cltcd,
                      Left(B.ibgdate,4) + '-' + substring(B.ibgdate, 5,2)+ '-' + substring(B.ibgdate, 7,2) as ibgdate,
                      B.ibgnum, B.ibgseq, B.lotno, B.istore, B.ostore,
                      B.pcode, B.pname, B.psize,    B.punit,  B.qty, B.cqty, B.uamt, B.samt, B.tamt,
                      isnull(B.remark,'') as remark,
                      B.mamt, B.acorp, B.pernm , B.perid
                  from  TB_CA613 B WITH (NOLOCK)
                  where  B.pname Like concat('%',#{pname},'%')
                    AND B.ibgdate between #{frdate} and #{todate}
                  ORDER BY  B.ibgdate desc, B.ibgnum, B.ibgseq
        ]]>
    </select>

    <select id="SelectCa613JaegoList"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[
                SELECT Z.pcode, Z.pname, Z.psize, Z.punit, Z.janqty
                FROM (
                        select sum(isnull(B.qty,0))  - sum(isnull(B.cqty,0)) as janqty,
                               B.pcode, B.pname, B.psize, B.punit
                        from  TB_CA613 B WITH (NOLOCK)
                        Group BY  B.pcode, B.pname, B.psize, B.punit
                ) Z where Z.janqty > 0
                AND  Z.pname Like concat('%',#{pname},'%')
                ORDER BY  Z.pname, Z.psize, Z.punit, Z.pcode
        ]]>
    </select>


    <select id="GetJpumListTot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
        select jkey, jpb_gubn, jgong_code, jdan_code, jmodel_code, jcolor_code, jcustomer_code,
               jbonsa_code, jsayong_gubn, jpum, jgugek, jsize,  convert ( MONEY , convert(int , jchgoga0) ) AS jchgoga0, jbigo,
               E.jcifcodename as jcifcodename
        from JCODE3 WITH (NOLOCK)
            LEFT OUTER JOIN jcifcode E WITH(NOLOCK) ON (JCODE3.jmodel_code = E.jcifcode)
        WHERE isnull(jpum,'') Like concat('%',#{jpum},'%')
          and isnull(delflag,'0')  = '0'
          and isnull(jpb_gubn,'') Like concat('%',#{jpb_gubn},'%')
          and isnull(jmodel_code,'') Like concat('%',#{jmodel_code},'%')
        ORDER BY jpum
        ]]>
    </select>

    <select id="GetCifListTot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
        select acorp1, acorp2, acorp3, acorp, asano1, asano2, asano3, asano1 + '-' + asano2 + '-' + asano3 as asanotxt,
               aname, aupte, ajong, apost1,  acorp1 + CAST(acorp2 as varchar) as acode,
               ajuso1, ajuso2, abigo, agita, ajumi1, ajumi2, ajumi1 + '-' + ajumi2 as ajumitxt,
               aascode1,aascode2,  atelno, atelno2,
               ahand , aemail, afax, isnull(ajuso1,'') + ' ' + isnull(ajuso2,'') as ajusotxt
        from cif WITH (NOLOCK)
        WHERE isnull(acorp,'') Like concat('%',#{acorp},'%') and LEN(isnull(acorp,'')) > 0
        ORDER BY acorp
        ]]>
    </select>

    <select id="GetInsaList" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
            select insano, inname
            from insa WITH (NOLOCK)
            WHERE isnull(inname,'') Like concat('%',#{inname},'%') or isnull(insano,'') Like concat('%',#{inname},'%')
            ORDER BY inname
        ]]>
    </select>

    <select id="getCls_flagList"  parameterType="com.dae.kdmes.DTO.Popup.PopupDto" resultType="com.dae.kdmes.DTO.Popup.PopupDto">
        <![CDATA[
            select com_code as cls_key, com_rem1 as cls_name from TB_CA510 where com_cls = '099' order by com_code
        ]]>
    </select>

    <select id="SelectCheckIndate" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select top 1 plan_no  from TB_FPLAN where indate = #{indate} order by indate, plan_no     ]]>
    </select>

    <select id="SelectMaxSeq" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select  substring(Max(plan_no), 9,4)    from TB_FPLAN where Left(plan_no,8) = #{indate}      ]]>
    </select>

    <select id="SelectMaxLot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select  substring(max(lotno), 10,4)   from TB_FPLAN where Left(lotno,9) = #{indate} + #{rwflag}     ]]>
    </select>

    <select id="GetIstorelist"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select
            com_code as istore, com_rem1 as istorenm
             from TB_CA510  where com_cls = '006'
        ]]>
    </select>

    <select id="GetOstorelist"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select
            com_code as ostore, com_rem1 as ostorenm
             from TB_CA510  where com_cls = '006'
        ]]>
    </select>
</mapper>
