<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App02.Index10Mapper">


    <select id="GetFplanList"  parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
           select
                Left(TB.indate,4) + '-' + substring(TB.indate, 5,2)+ '-' + substring(TB.indate, 7,2) as indate,
                Left(TB.prod_sdate,4) + '-' + substring(TB.prod_sdate, 5,2)+ '-' + substring(TB.prod_sdate, 7,2) as prod_sdate,
                Left(TB.prod_edate,4) + '-' + substring(TB.prod_edate, 5,2)+ '-' + substring(TB.prod_edate, 7,2) as prod_edate,
                Left(TB.qcdate,4) + '-' + substring(TB.qcdate, 5,2)+ '-' + substring(TB.qcdate, 7,2) as qcdate,
                TB.lotno, TB.cltcd,  TB.perid, (select com_rem1 from TB_CA510  where com_cls = '002' and com_code=TB.perid) as pernm,
                TB.workdv, TB.ecltnm, TB.qcdate, TB.plan_no,
                TB.pcode, E.jpum, E.jgugek, TB.dem_flag, E.jchajong, E.jgugek2, E.jsayang, E.j_sr, E.jpumcode, E.jdanwy,
                TB.prod_qty, TB.cls_flag, TB.istore, TB.ostore, TB.rwflag, TB.remark, isnull(TB.inmonth,'') as inmonth, isnull(TB.inweeks,'') as inweeks,
                Left(TB.orddate,4) + '-' + substring(TB.orddate, 5,2)+ '-' + substring(TB.orddate, 7,2) as orddate
             from TB_FPLAN TB
                INNER JOIN JCODE E WITH(NOLOCK) ON (TB.PCODE = E.jkey)
              WHERE isnull(TB.lotno,'') Like concat('%',#{lotno},'%')
              and isnull(TB.inmonth,'') Like concat('%',#{inmonth},'%')
              and isnull(TB.inweeks,'') Like concat('%',#{inweeks},'%')
            ORDER BY TB.indate desc, TB.plan_no
        ]]>
    </select>

    <select id="GetFplanCheck" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[
        select   plan_no
        from TB_FPLAN WITH (NOLOCK)
        WHERE isnull(plan_no,'')   = #{plan_no}
        ORDER BY plan_no
        ]]>
    </select>

    <insert id="InsertFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" >
        insert into TB_FPLAN ( custcd, spjangcd, plan_no, indate, prod_sdate, prod_edate, lotno, cltcd,  perid, ecltnm , line, wono ,
        workdv, pcode, dem_flag, prod_qty, cls_flag, istore, ostore, rwflag, remark ,
        wram , woam, qcqty, end_qty, ordtype, decision, decision1, decision2, decision3 , decision4 , work_flag, qc_flag, close_flag, end_flag, tordqty, selck, batchdv, ocls_flag, autodv ,wodv , opcod
        , prod_dqty , ord_edate, wflag, orddate, qcdate , inmonth, inweeks ) values
        ('KDMES' ,'ZZ', #{plan_no} , #{indate}, #{prod_sdate}, #{prod_edate}, #{lotno}, #{cltcd}, #{perid}, #{ecltnm}, '00', #{wono},
        #{workdv}, #{pcode}, #{dem_flag}, #{prod_qty}, '1', #{istore}, #{ostore}, #{rwflag}, #{remark} ,
        '0', '0' , '0' , '0' , '1', '0' , '0', '0' , '0', '0', '0' , '0' , '0' , '0' , '0' , '0', '0' , '0' , '1' , '0' , #{pcode} , '0' ,'' , '00010', #{orddate} , #{qcdate} , #{inmonth} , #{inweeks})
    </insert>


    <update id="UpdateFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto">
        UPDATE TB_FPLAN SET
        spjangcd='ZZ',
        indate=#{indate}
        <if test="prod_sdate != null ">,</if>
        <if test="prod_sdate != null">prod_sdate=#{prod_sdate}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="prod_edate != null ">,</if>
        <if test="prod_edate != null">prod_edate=#{prod_edate}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="orddate != null ">,</if>
        <if test="orddate != null">orddate=#{orddate}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="ecltnm != null ">,</if>
        <if test="ecltnm != null">ecltnm=#{ecltnm}</if>
        <if test="dem_flag != null ">,</if>
        <if test="dem_flag != null">dem_flag=#{dem_flag}</if>
        <if test="prod_qty != null ">,</if>
        <if test="prod_qty != null">prod_qty=#{prod_qty}</if>
        <if test="cls_flag != null ">,</if>
        <if test="cls_flag != null">cls_flag=#{cls_flag}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        <if test="rwflag != null ">,</if>
        <if test="rwflag != null">rwflag=#{rwflag}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="workdv != null ">,</if>
        <if test="workdv != null">workdv=#{workdv}</if>
        <if test="qcdate != null ">,</if>
        <if test="qcdate != null">qcdate=#{qcdate}</if>
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="inmonth != null ">,</if>
        <if test="inmonth != null">inmonth=#{inmonth}</if>
        <if test="inweeks != null ">,</if>
        <if test="inweeks != null">inweeks=#{inweeks}</if>
        where plan_no=#{plan_no}
    </update>

    <update id="DeleteFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto">
        DELETE  TB_FPLAN where plan_no  = #{plan_no}
    </update>

    <insert id="InsertCA611" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        insert into TB_CA611 (custcd, spjangcd, cltcd,   ibgdate, ibgnum,
         perid, store,  remark  ) values
        ('KDMES', 'ZZ', #{cltcd},  #{ibgdate},    #{ibgnum},
         #{perid},     #{store},   #{remark}  )
    </insert>


    <insert id="InsertCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        insert into TB_CA613 (custcd, spjangcd, cltcd, acorp, DEdate, ibgnum, ibgseq,
        pcode, pname, psize,    punit,  qty, cqty, uamt, samt, tamt,
        mamt, indate, inperid,  pernm, perid, remark, lotno, istore, ostore ) values
        ('KDMES', 'ZZ', #{cltcd},   #{acorp},  #{ibgdate},  #{ibgnum}, #{ibgseq},
        #{pcode}, #{pname}, #{psize}, #{punit}, #{qty}, #{cqty},   #{uamt},  #{samt},  #{tamt},
        #{mamt},  #{indate}, #{inperid} ,    #{pernm} , #{perid}, #{remark}, #{lotno}, #{istore}, #{ostore}  )
    </insert>

    <insert id="InsertDA036Sch" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        insert into TB_DA036 (custcd, spjangcd, cltcd,   deldate, delnum, acorp, demflag,
        perid, ostore,  remark, balno , lotno , inmonth, inweeks) values
        ('KDMES', 'ZZ', #{cltcd},  #{deldate},    #{delnum}, #{acorp},#{demflag},
        #{perid},     #{ostore},   #{remark},   #{balno},   #{lotno},   #{inmonth},   #{inweeks}  )
    </insert>

    <insert id="InsertDa037" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        insert into TB_DA037 (custcd, spjangcd,  deldate, delnum, delseq,
        pcode, pname, psize,    qty  ) values
        ('KDMES', 'ZZ',  #{deldate},  #{delnum}, #{delseq},
        #{pcode}, #{pname}, #{psize},  #{qty}   )
    </insert>

    <delete id="DeleteCA611" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        delete from TB_CA611
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum}
    </delete>

    <delete id="DeleteCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" >
        delete from TB_CA613
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum}
    </delete>

    <delete id="DeleteDA036Sch" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        delete from TB_DA036
        where deldate = #{deldate} and delnum = #{delnum}
    </delete>

    <delete id="DeleteDa037" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" >
        delete from TB_DA037
        where deldate = #{deldate} and delnum = #{delnum}
    </delete>

    <update id="UpdateCa613" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        UPDATE TB_CA613 SET
        spjangcd='ZZ'
        <if test="pname != null ">,</if>
        <if test="pname != null">pname=#{pname}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="psize != null ">,</if>
        <if test="psize != null">psize=#{psize}</if>
        <if test="punit != null ">,</if>
        <if test="punit != null">punit=#{punit}</if>
        <if test="qty != null ">,</if>
        <if test="qty != null">qty=#{qty}</if>
        <if test="cqty != null ">,</if>
        <if test="cqty != null">cqty=#{cqty}</if>
        <if test="uamt != null ">,</if>
        <if test="uamt != null">uamt=#{uamt}</if>
        <if test="samt != null ">,</if>
        <if test="samt != null">samt=#{samt}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="pernm != null ">,</if>
        <if test="pernm != null">pernm=#{pernm}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="acorp != null ">,</if>
        <if test="acorp != null">acorp=#{acorp}</if>
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        where ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and ibgseq = #{ibgseq}
    </update>

    <update id="UpdateDa036" parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto">
        UPDATE TB_DA036 SET
        spjangcd='ZZ'
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="balno != null ">,</if>
        <if test="balno != null">balno=#{balno}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="acorp != null ">,</if>
        <if test="acorp != null">acorp=#{acorp}</if>
        <if test="demflag != null ">,</if>
        <if test="demflag != null">demflag=#{demflag}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        <if test="inmonth != null ">,</if>
        <if test="inmonth != null">inmonth=#{inmonth}</if>
        <if test="inweeks != null ">,</if>
        <if test="inweeks != null">inweeks=#{inweeks}</if>
        <if test="schdate != null ">,</if>
        <if test="schdate != null">schdate=#{schdate}</if>
        where deldate = #{deldate} and delnum = #{delnum}
    </update>

    <update id="UpdateDa037" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        UPDATE TB_DA037 SET
        spjangcd='ZZ'
        <if test="pname != null ">,</if>
        <if test="pname != null">pname=#{pname}</if>
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="psize != null ">,</if>
        <if test="psize != null">psize=#{psize}</if>
        <if test="punit != null ">,</if>
        <if test="punit != null">punit=#{punit}</if>
        <if test="qty != null ">,</if>
        <if test="qty != null">qty=#{qty}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="pernm != null ">,</if>
        <if test="pernm != null">pernm=#{pernm}</if>
        <if test="cltcd != null ">,</if>
        <if test="cltcd != null">cltcd=#{cltcd}</if>
        <if test="acorp != null ">,</if>
        <if test="acorp != null">acorp=#{acorp}</if>
        <if test="lotno != null ">,</if>
        <if test="lotno != null">lotno=#{lotno}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="ostore != null ">,</if>
        <if test="ostore != null">ostore=#{ostore}</if>
        where deldate = #{deldate} and delnum = #{delnum} and delseq = #{delseq}
    </update>

    <select id="SelectMaxIbgnum" parameterType="String" resultType="String">
        <![CDATA[  select  max(ibgnum)  from TB_CA613 where ibgdate = #{ibgdate}      ]]>
    </select>

    <select id="SelectMaxDelnum" parameterType="String" resultType="String">
        <![CDATA[  select  max(delnum)  from TB_DA036 where deldate = #{deldate}      ]]>
    </select>

    <select id="SelectCa613List"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[ select B.cltcd as cltcd,
                      Left(B.ibgdate,4) + '-' + substring(B.ibgdate, 5,2)+ '-' + substring(B.ibgdate, 7,2) as ibgdate,
                      B.ibgnum, B.ibgseq, B.lotno, B.istore, B.ostore,
                      B.pcode, B.pname, B.psize,    B.punit,  B.qty, B.cqty, B.uamt, B.samt, B.tamt,
                      isnull(B.remark,'') as remark,B.balno,
                      B.mamt, B.acorp, B.pernm , B.perid
                  from  TB_CA613 B WITH (NOLOCK)
                  where  B.pname Like concat('%',#{pname},'%')
                    AND B.ibgdate between #{frdate} and #{todate}
                  ORDER BY  B.ibgdate desc, B.ibgnum, B.ibgseq
        ]]>
    </select>


    <select id="SelectDa036List"  parameterType="com.dae.kdmes.DTO.App01.IndexCa611Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa611Dto">

        <![CDATA[ select A.cltcd , A.inmonth, A.inweeks,
                      Left(A.deldate,4) + '-' + substring(A.deldate, 5,2)+ '-' + substring(A.deldate, 7,2) as deldate,
                      Left(A.schdate,4) + '-' + substring(A.schdate, 5,2)+ '-' + substring(A.schdate, 7,2) as schdate,
                      A.delnum,  A.lotno, A.istore, A.ostore,
                      isnull(A.remark,'') as remark,A.balno,
                      A.acorp, A.pernm , A.perid, A.demflag
                  from  TB_DA036 A WITH (NOLOCK)
                  where  isnull(A.balno,'') Like #{balno} + '%'
                    AND  isnull(A.inmonth,'')  Like #{inmonth} + '%'
                    AND  isnull(A.inweeks,'')  Like #{inweeks} + '%'
                  ORDER BY  A.deldate desc, A.delnum
        ]]>
    </select>

    <resultMap id="CA613ResultMap" type="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        <id property="ibgdate" column="ibgdate" />
        <id property="ibgnum" column="ibgnum" />
        <result  property="ibgseq" column="ibgseq" />
        <result property="lotno" column="lotno" />
        <result property="istore" column="istore" />
        <result property="ostore" column="ostore" />
        <result property="pcode" column="pcode" />
        <result property="pname" column="pname" />
        <result property="psize" column="psize" />
        <result property="punit" column="punit" />
        <result property="qty" column="qty" />
        <result property="cqty" column="cqty" />
        <result property="uamt" column="uamt" />
        <result property="samt" column="samt" />
        <result property="tamt" column="tamt" />
        <result property="mamt" column="mamt" />
        <result property="remark" column="remark" />
        <result property="acorp" column="acorp" />
        <result property="pernm" column="pernm" />
        <result property="perid" column="perid" />
        <collection property="oworks" ofType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" javaType="ArrayList">
            <result property="psize" column="wotdt" />
            <result property="cqty" column="wotqt" />
        </collection>
    </resultMap>

    <select id="SelectCa613ListMapChul" resultMap="CA613ResultMap">
        <![CDATA[
            SELECT  A.cltcd as cltcd,
                  Left(A.ibgdate,4) + '-' + substring(A.ibgdate, 5,2)+ '-' + substring(A.ibgdate, 7,2) as ibgdate,
                  A.ibgnum, A.ibgseq, A.lotno, A.istore, A.ostore,
                  A.pcode, A.pname, A.psize,    A.punit,  A.qty, A.cqty, A.uamt, A.samt, A.tamt,
                  isnull(A.remark,'') as remark,
                  A.mamt, A.acorp, A.pernm , A.perid,
                  Left(B.wotdt,4) + '-' + substring(B.wotdt, 5,2)+ '-' + substring(B.wotdt, 7,2) as wotdt,
                  B.wotqt
            FROM TB_CA613 A WITH (NOLOCK)
			LEFT join TB_CA613_OWORK B WITH (NOLOCK) ON A.ibgdate = B.ibgdate and A.ibgnum=B.ibgnum
            where  A.pname Like concat('%',#{pname},'%')
            AND    A.ibgdate between #{frdate} and #{todate}
            order by A.ibgdate, A.ibgnum;
        ]]>
    </select>


    <select id="SelectDa037List" parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">
        <![CDATA[
        SELECT B.balno, A.pcode, A.pname, B.inmonth, B.inweeks, A.qty, A.delnum, A.delseq, B.acorp,B.demflag,
                Left(B.deldate,4) + '-' + substring(B.deldate, 5,2)+ '-' + substring(B.deldate, 7,2) as deldate,
                Left(B.schdate,4) + '-' + substring(B.schdate, 5,2)+ '-' + substring(B.schdate, 7,2) as schdate,
                case when C.jboxsu1 > 0 then  CAST(Round(A.qty / isnull(C.jboxsu1,0) ,0) AS int) else 0 end   as boxnum
        FROM TB_DA037 A WITH (NOLOCK), TB_DA036 B WITH (NOLOCK), jcode C WITH (NOLOCK)
        WHERE A.deldate = B.deldate and A.delnum = B.delnum
        AND A.pcode = C.jkey
        AND A.pcode Like concat('%',#{pcode},'%')
        and B.inmonth Like concat('%',#{inmonth},'%')
        and B.inweeks Like concat('%',#{inweeks},'%')
        and B.balno Like concat('%',#{balno},'%')
        and isnull(B.demflag, '0') Like  concat('%',#{demflag},'%')
        ORDER BY B.inmonth, B.inweeks, B.balno
        ]]>
    </select>

    <select id="SelectCa613ChulList"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" resultType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto">

        <![CDATA[ select custcd, spjangcd, ibgdate, ibgnum, lotno, seq, pcode, istore, Left(wotdt,4) + '-' + substring(wotdt, 5,2)+ '-' + substring(wotdt, 7,2) as wotdt, winqt, wotqt,
                        indate, inperid, pcode, pname, psize
                  from  TB_CA613_OWORK   WITH (NOLOCK)
                  where  ibgdate = #{ibgdate}
                    AND  ibgnum =  #{ibgnum}
                    AND  lotno =  #{lotno}
                  ORDER BY  ibgdate , ibgnum, seq
        ]]>
    </select>

    <select id="SelectDa037ChulList"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[ select custcd, spjangcd, deldate, delnum, delseq, pcode, pname, psize, qty
                  from  TB_Da037   WITH (NOLOCK)
                  where  deldate = #{deldate}
                    AND  delnum =  #{delnum}
                  ORDER BY  deldate , delnum, delseq
        ]]>
    </select>

    <select id="SelectCa613ChulListSum"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" resultType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto">

        <![CDATA[ select sum(wotqt) as wotqt
                  from  TB_CA613_OWORK   WITH (NOLOCK)
                  where  ibgdate = #{ibgdate}
                    AND  ibgnum =  #{ibgnum}
                    AND  lotno =  #{lotno}
                  Group by ibgdate, ibgnum, lotno
        ]]>
    </select>

    <select id="SelectCa613JaegoList"  parameterType="com.dae.kdmes.DTO.App01.IndexCa613Dto" resultType="com.dae.kdmes.DTO.App01.IndexCa613Dto">

        <![CDATA[
                SELECT Z.pcode, Z.pname, Z.psize, Z.punit, Z.janqty
                FROM (
                        select sum(isnull(B.qty,0))  - sum(isnull(B.cqty,0)) as janqty,
                               B.pcode, B.pname, B.psize, B.punit
                        from  TB_CA613 B WITH (NOLOCK)
                        Group BY  B.pcode, B.pname, B.psize, B.punit
                ) Z where Z.janqty > 0
                AND  Z.pname Like concat('%',#{pname},'%')
                ORDER BY  Z.pname, Z.psize, Z.punit, Z.pcode
        ]]>
    </select>

    <select id="CA613_OWORK_MAXWSEQ" parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" resultType="String">
        SELECT MAX(seq) FROM  TB_CA613_OWORK
        WHERE custcd=#{custcd} and spjangcd = #{spjangcd}
        and ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and lotno = #{lotno}
    </select>

    <insert id="CA613_OWORK_Insert" parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" keyProperty="plan_no">
        INSERT INTO TB_CA613_OWORK(custcd, spjangcd, ibgdate, ibgnum, lotno, seq, istore, wotdt, winqt, wotqt,
          indate, inperid , pcode, pname, psize)
        VALUES (#{custcd},#{spjangcd}, #{ibgdate}, #{ibgnum}, #{lotno}, #{seq},  #{istore}, #{wotdt}, #{winqt}, #{wotqt},
        #{indate}, #{inperid} , #{pcode} , #{pname} , #{psize})
    </insert>


    <update id="CA613_OWORK_Update" parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto"  >
        UPDATE TB_CA613_OWORK SET
        SPJANGCD = 'ZZ'
        <if test="pcode != null ">,</if>
        <if test="pcode != null">pcode=#{pcode}</if>
        <if test="pname != null ">,</if>
        <if test="pname != null">pname=#{pname}</if>
        <if test="psize != null ">,</if>
        <if test="psize != null">psize=#{psize}</if>
        <if test="istore != null ">,</if>
        <if test="istore != null">istore=#{istore}</if>
        <if test="wotdt != null ">,</if>
        <if test="wotdt != null">wotdt=#{wotdt}</if>
        <if test="winqt != null ">,</if>
        <if test="winqt != null">winqt=#{winqt}</if>
        <if test="wotqt != null ">,</if>
        <if test="wotqt != null">wotqt=#{wotqt}</if>
        <if test="indate != null ">,</if>
        <if test="indate != null">indate=#{indate}</if>
        <if test="inperid != null ">,</if>
        <if test="inperid != null">inperid=#{inperid}</if>
        where custcd=#{custcd} and spjangcd = #{spjangcd} and ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and lotno = #{lotno} and seq=#{seq}
    </update>


    <delete id="CA613_OWORK_Delete" parameterType="com.dae.kdmes.DTO.App01.IndexCa613OworkDto" >
        delete from TB_CA613_OWORK
        where custcd=#{custcd} and spjangcd = #{spjangcd} and ibgdate = #{ibgdate} and ibgnum = #{ibgnum} and lotno = #{lotno} and seq=#{seq}
    </delete>

    <select id="GetJpumListTot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
        select jkey, jpb_gubn, jgong_code, jdan_code, jmodel_code, jcolor_code, jcustomer_code,
               jbonsa_code, jsayong_gubn, jpum, jgugek, jsize,  convert ( MONEY , convert(int , jchgoga0) ) AS jchgoga0, jbigo,
               E.jcifcodename as jcifcodename
        from JCODE3 WITH (NOLOCK)
            LEFT OUTER JOIN jcifcode E WITH(NOLOCK) ON (JCODE3.jmodel_code = E.jcifcode)
        WHERE isnull(jpum,'') Like concat('%',#{jpum},'%')
          and isnull(delflag,'0')  = '0'
          and isnull(jpb_gubn,'') Like concat('%',#{jpb_gubn},'%')
          and isnull(jmodel_code,'') Like concat('%',#{jmodel_code},'%')
        ORDER BY jpum
        ]]>
    </select>

    <select id="GetCifListTot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
        select acorp1, acorp2, acorp3, acorp, asano1, asano2, asano3, asano1 + '-' + asano2 + '-' + asano3 as asanotxt,
               aname, aupte, ajong, apost1,  acorp1 + CAST(acorp2 as varchar) as acode,
               ajuso1, ajuso2, abigo, agita, ajumi1, ajumi2, ajumi1 + '-' + ajumi2 as ajumitxt,
               aascode1,aascode2,  atelno, atelno2,
               ahand , aemail, afax, isnull(ajuso1,'') + ' ' + isnull(ajuso2,'') as ajusotxt
        from cif WITH (NOLOCK)
        WHERE isnull(acorp,'') Like concat('%',#{acorp},'%') and LEN(isnull(acorp,'')) > 0
        ORDER BY acorp
        ]]>
    </select>

    <select id="GetInsaList" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
            select insano, inname
            from insa WITH (NOLOCK)
            WHERE isnull(inname,'') Like concat('%',#{inname},'%') or isnull(insano,'') Like concat('%',#{inname},'%')
            ORDER BY inname
        ]]>
    </select>

    <select id="getCls_flagList"  parameterType="com.dae.kdmes.DTO.Popup.PopupDto" resultType="com.dae.kdmes.DTO.Popup.PopupDto">
        <![CDATA[
            select com_code as cls_key, com_rem1 as cls_name from TB_CA510 where com_cls = '099' order by com_code
        ]]>
    </select>

    <select id="SelectCheckIndate" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select top 1 plan_no  from TB_FPLAN where indate = #{indate} order by indate, plan_no     ]]>
    </select>

    <select id="SelectMaxSeq" parameterType="String" resultType="String">
        <![CDATA[  select  substring(Max(plan_no), 9,4)    from TB_FPLAN where Left(plan_no,8) = #{indate}      ]]>
    </select>

    <select id="SelectMaxLot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select  substring(max(lotno), 10,4)   from TB_FPLAN where Left(lotno,9) = #{indate} + #{rwflag}     ]]>
    </select>

    <select id="GetIstorelist"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select
            com_code as istore, com_rem1 as istorenm
             from TB_CA510  where com_cls = '006'
        ]]>
    </select>

    <select id="GetOstorelist"  parameterType="com.dae.kdmes.DTO.App01.Index01Dto" resultType="com.dae.kdmes.DTO.App01.Index01Dto">
        <![CDATA[
            select
            com_code as ostore, com_rem1 as ostorenm
             from TB_CA510  where com_cls = '006'
        ]]>
    </select>
</mapper>
