<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App02.Index10Mapper">


    <select id="getFplanList"  parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
            select TB.indate, TB.prod_sdate, TB.prod_edate, TB.lotno, TB.cltcd, TB.qcdate, TB.perid, TB.workdv, TB.ecltnm, TB.qcdate,
                TB.pcode, E.jpum, E.jgugek, TB.dem_flag, E.jchajong, E.jgugek2, E.jsayang, E.j_sr, E.jpumcode, E.jdanwy,
                TB.prod_qty, TB.cls_flag, TB.istore, TB.ostore, TB.rwflag, TB.remark
             from TB_FPLAN TB
            INNER JOIN JCODE E WITH(NOLOCK) ON (TB.PCODE = E.jkey)
             WHERE 1=1
            ORDER BY TB.pcode
        ]]>
    </select>

    <select id="GetFplanList"  parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
           select TB.indate, TB.prod_sdate, TB.prod_edate, TB.lotno, TB.cltcd, TB.qcdate, TB.perid, TB.workdv, TB.ecltnm, TB.qcdate,
                TB.pcode, E.jpum, E.jgugek, TB.dem_flag, E.jchajong, E.jgugek2, E.jsayang, E.j_sr, E.jpumcode, E.jdanwy,
                TB.prod_qty, TB.cls_flag, TB.istore, TB.ostore, TB.rwflag, TB.remark
             from TB_FPLAN TB
            INNER JOIN JCODE E WITH(NOLOCK) ON (TB.PCODE = E.jkey)
             WHERE 1=1
            ORDER BY TB.pcode
        ]]>
    </select>

    <select id="GetFplanCheck" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[
        select   plan_no
        from TB_FPLAN WITH (NOLOCK)
        WHERE isnull(plan_no,'')   = #{plan_no}
        ORDER BY plan_no
        ]]>
    </select>

    <insert id="InsertFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" >
        insert into TB_FPLAN ( custcd, spjangcd, plan_no, indate, prod_sdate, prod_edate, lotno, cltcd, qcdate, perid, ecltnm , line, wono ,
        workdv, pcode, dem_flag, prod_qty, cls_flag, istore, ostore, rwflag, remark ,
         wram , woam, qcqty, end_qty, ordtype, decision, decision1, decision2, decision3 , decision4 , work_flag, qc_flag, close_flag, end_flag, tordqty, selck, batchdv, ocls_flag, autodv
        ) values
        ('KDMES' ,'ZZ', #{plan_no} , #{indate}, #{prod_sdate}, #{prod_edate}, #{lotno}, #{cltcd}, #{qcdate}, #{perid}, #{ecltnm}, '00', #{wono},
        #{workdv}, #{pcode}, #{dem_flag}, #{prod_qty}, '1', #{istore}, #{ostore}, #{rwflag}, #{remark} ,
        '0', '0' , '0' , '0' , '1', '0' , '0', '0' , '0', '0', '0' , '0' , '0' , '0' , '0' , '0', '0' , '0' , '1'
        )
    </insert>


    <update id="UpdateFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto">
        update TB_FPLAN
        set pcode = #{pcode}
        , indate=#{indate}
        , prod_sdate=#{prod_sdate}
        , prod_edate=#{prod_edate}
        , cltcd=#{cltcd}
        , qcdate=#{qcdate}
        , perid=#{perid}
        , ecltnm=#{ecltnm}
        , workdv=#{workdv}
        , dem_flag=#{dem_flag}
        , prod_qty=#{prod_qty}
        , cls_flag=#{cls_flag}
        , istore=#{istore}
        , ostore=#{ostore}
        , rwflag=#{rwflag}
        , remark=#{remark}
<!--        <if test="indate != null ">,</if>-->
<!--        <if test="indate != null">indate=#{indate}</if>-->
<!--        <if test="prod_sdate != null ">,</if>-->
<!--        <if test="prod_sdate != null">prod_sdate=#{prod_sdate}</if>-->
<!--        <if test="prod_edate != null ">,</if>-->
<!--        <if test="prod_edate != null">prod_edate=#{prod_edate}</if>-->
<!--        <if test="cltcd != null ">,</if>-->
<!--        <if test="cltcd != null">cltcd=#{cltcd}</if>-->
<!--        <if test="qcdate != null ">,</if>-->
<!--        <if test="qcdate != null">qcdate=#{qcdate}</if>-->
<!--        <if test="perid != null ">,</if>-->
<!--        <if test="perid != null">perid=#{perid}</if>-->
<!--        <if test="ecltnm != null ">,</if>-->
<!--        <if test="ecltnm != null">ecltnm=#{ecltnm}</if>-->
<!--        <if test="workdv != null ">,</if>-->
<!--        <if test="workdv != null">workdv=#{workdv}</if>-->
<!--        <if test="dem_flag != null ">,</if>-->
<!--        <if test="dem_flag != null">dem_flag=#{dem_flag}</if>-->
<!--        <if test="prod_qty != null ">,</if>-->
<!--        <if test="prod_qty != null">prod_qty=#{prod_qty}</if>-->
<!--        <if test="cls_flag != null ">,</if>-->
<!--        <if test="cls_flag != null">cls_flag=#{cls_flag}</if>-->
<!--        <if test="istore != null ">,</if>-->
<!--        <if test="istore != null">istore=#{istore}</if>-->
<!--        <if test="ostore != null ">,</if>-->
<!--        <if test="ostore != null">ostore=#{ostore}</if>-->
<!--        <if test="rwflag != null ">,</if>-->
<!--        <if test="rwflag != null">rwflag=#{rwflag}</if>-->
<!--        <if test="remark != null ">,</if>-->
<!--        <if test="remark != null">remark=#{remark}</if>-->
        where plan_no   = #{plan_no}
    </update>


    <update id="DeleteFplan" parameterType="com.dae.kdmes.DTO.App02.Index10Dto">
        DELETE  TB_FPLAN where plan_no  = #{plan_no}
    </update>

    <select id="GetJpumListTot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
        select jkey, jpb_gubn, jgong_code, jdan_code, jmodel_code, jcolor_code, jcustomer_code,
               jbonsa_code, jsayong_gubn, jpum, jgugek, jsize,  convert ( MONEY , convert(int , jchgoga0) ) AS jchgoga0, jbigo,
               E.jcifcodename as jcifcodename
        from JCODE3 WITH (NOLOCK)
            LEFT OUTER JOIN jcifcode E WITH(NOLOCK) ON (JCODE3.jmodel_code = E.jcifcode)
        WHERE isnull(jpum,'') Like concat('%',#{jpum},'%')
          and isnull(delflag,'0')  = '0'
          and isnull(jpb_gubn,'') Like concat('%',#{jpb_gubn},'%')
          and isnull(jmodel_code,'') Like concat('%',#{jmodel_code},'%')
        ORDER BY jpum
        ]]>
    </select>

    <select id="GetCifListTot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
        select acorp1, acorp2, acorp3, acorp, asano1, asano2, asano3, asano1 + '-' + asano2 + '-' + asano3 as asanotxt, aname, aupte, ajong, apost1,  acorp1 + CAST(acorp2 as varchar) as acode,
               ajuso1, ajuso2, abigo, agita, ajumi1, ajumi2, ajumi1 + '-' + ajumi2 as ajumitxt,
               aascode1,aascode2, aascode1 + '-' + aascode2 as aascodetxt,  atelno, atelno2,
               ahand , aemail,abonsadam1, abonsadam2, abonsadam3, adomain, afax, isnull(ajuso1,'') + ' ' + isnull(ajuso2,'') as ajusotxt,
               B.inname as inname01, C.inname as inname02, D.inname as inname03, E.cifcodename as cifcodename
        from cif WITH (NOLOCK)
            LEFT OUTER JOIN INSA B WITH(NOLOCK) ON (cif.abonsadam1 = B.insano)
            LEFT OUTER JOIN INSA C WITH(NOLOCK) ON (cif.abonsadam2 = C.insano)
            LEFT OUTER JOIN INSA D WITH(NOLOCK) ON (cif.abonsadam3 = D.insano)
            LEFT OUTER JOIN cifcode E WITH(NOLOCK) ON (cif.acorp1 = E.cifcode)
        WHERE isnull(acorp,'') Like concat('%',#{acorp},'%')
         -- and isnull(delflag,'0')  = '0'
          and isnull(acorp1,'') Like concat('%',#{acorp1},'%')
          and isnull(agita,'') Like concat('%',#{agita},'%')
          and isnull(abonsadam1,'') Like concat('%',#{abonsadam1},'%')
        ORDER BY acorp
        ]]>
    </select>

    <select id="GetInsaList" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="com.dae.kdmes.DTO.App02.Index10Dto">
        <![CDATA[
            select insano, inname
            from insa WITH (NOLOCK)
            WHERE isnull(inname,'') Like concat('%',#{inname},'%') or isnull(insano,'') Like concat('%',#{inname},'%')
            ORDER BY inname
        ]]>
    </select>

    <select id="getCls_flagList"  parameterType="com.dae.kdmes.DTO.Popup.PopupDto" resultType="com.dae.kdmes.DTO.Popup.PopupDto">
        <![CDATA[
            select com_code as cls_key, com_rem1 as cls_name from TB_CA510 where com_cls = '099' order by com_code
        ]]>
    </select>

    <select id="SelectCheckIndate" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select top 1 plan_no  from TB_FPLAN where indate = #{indate} order by indate, plan_no     ]]>
    </select>

    <select id="SelectMaxSeq" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select  Max(plan_no)   from TB_FPLAN where Left(plan_no,8) = #{indate}      ]]>
    </select>

    <select id="SelectMaxLot" parameterType="com.dae.kdmes.DTO.App02.Index10Dto" resultType="String">
        <![CDATA[  select  substring(max(lotno), 10,4)   from TB_FPLAN where Left(lotno,9) = #{indate} + #{rwflag}     ]]>
    </select>
</mapper>
