<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="headerFragment">
 
    <div class="card-body d-flex align-items-center py-md-2 px-2 py-1">
        <main class="main" id="top">
            <!-- Fluid Layout:  Replace class .container to .container-fluid inside the main tag, and the page will be switched to fluid layout. -->
            <div class="container-fluid">
                <!-- <div class="container" data-layout="container"> -->
                <script>
                    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                    if (isFluid) {
                        var container = document.querySelector('[data-layout]');
                        container.classList.remove('container');
                        container.classList.add('container-fluid');
                    }
                </script>
                <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
                    <script>
                        var navbarStyle = localStorage.getItem("navbarStyle");
                        if (navbarStyle && navbarStyle !== 'transparent') {
                            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
                        }
                    </script>
                    <!-- <div class="d-flex align-items-center">
                        <div class="toggle-icon-wrapper">

                            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span
                                    class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

                        </div>
                            <a class="navbar-brand" th:href="@{/members/user}">
                            <div class="d-flex align-items-center py-3"><img class="me-2"
                                    th:src="@{/assets/img/icons/spot-illustrations/falcon.png}" alt="" width="40" />
                                    <span
                                    class="font-sans-serif">ActasErp</span>
                            </div>
                        </a>
                    </div> -->
                    <!------navbar vertical------>
                    <div th:replace="layouts/layout01/navbarMem :: navbar"></div>
                </nav>
                <div class="content" id="fw010">
                    <!------nav ------>
                    <div th:replace="layouts/layout01/headerNav :: headerNav"></div>
 
                    <body layout:fragment="fw010">
                        <div class="card mb-10">
                            <div class="bg-holder d-none d-lg-block bg-card"
                            style="background-image:url(../../assets/img/icons/spot-illustrations/corner-4.png);">
                            </div>
                            <div class="card border h-100 border-primary">
                                <div class="card-body position-relative">
                                    <div class="row"> 
                                        <div class="row g-1"> 
                                            <div class="col-auto">
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">조회일자</span>
                                                    <input type="text"  class="form-control datetimepicker" id="frdate" autocomplete="off"  placeholder="Y-m-d"     >
                                                </div> 
                                            </div>   
                                            <div class="col-auto"> 
                                                <div class="input-group input-group-sm mb-3"> 
                                                    <input type="text"  class="form-control datetimepicker" id="todate" autocomplete="off"  placeholder="Y-m-d"     >
                                                </div>
                                            </div> 
                                            <div class="col-2 col-sm-2">
                                                <div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">로트번호</span> 
                                                    <input class="form-control form-control-sm" id="inlotno" type="text"  onkeypress="barcode_enter(event)"   autocomplete="off"  placeholder=""     > 
                                                </div>
                                            </div> 
                                            <div class="col-auto">
                                                <button   class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#wperidmodal" style=" height:40px;  " id="wperidBtn">작업자 </button>
                                            </div> 
                                            <div class="col-2 col-sm-2">
                                                        <input class="form-control form-control-sm" id="inwrpsnm" type="text"     placeholder=""  />
                                                            <input class="form-control form-control-sm" id="inwrps" type="hidden"  placeholder=""   />
                                                            <input class="form-control form-control-sm" id="inwinps" type="hidden"  placeholder=""   /> 
                                            </div> 
                                            <div class="col-auto">
                                                <button class="btn btn-primary" type="button"  id="searchBtn"  >조회 </button>
                                            </div> 
                                        </div> 
                                    </div>  <!-- <div class="row">  -->
                                    <div class="row"> 
                                        <div class="container-fluid"> 
                                            <div id="theGrid_div" style="overflow:scroll;   height:300px;  margin:0 auto; "></div> 
                                        </div>   
                                        <!------content ---------------------------------------------------------------------------------->
                                        <!-- <div class="row mb-3 row-cols-sm-1 align-items-center">
                                            <div class="col-auto">
                                                <div class="container-fluid"> 
                                                    <div id="theGrid_div" style="overflow:scroll;   height:300px; width: 55%;    margin:0 auto; "></div> 
                                                </div>   
                                            </div>                                             
                                        </div>    -->

                                    </div>    
                                </div> <!-- <div class="card-body position-relative"  > --> 
                            </div>  <!--  <div class="card border h-100 border-primary"> -->                          
                        </div> <!-- <div class="card mb-10"> -->
                    </body> 
                    
                    <!--------------------------------------------------------------------------------------->    
                    <form    role="form"   th:object="${wperidDto}" th:action="@{/popup/wperid}" method="post" enctype="multipart/form-data" >
                        <div class="modal fade" id="wperidmodal" data-bs-keyboard="false"
                        data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
                        aria-hidden="true">
                            <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm03"
                                style="max-width: 500px">
                                <div class="modal-content border-0">
                                    <div class="modal-body p-0" > 
                                        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                                            <h4 class="mb-1" id="modalExampleDemoLabel">작업자</h4>
                                        </div> 
                                        <div  class="container-fluid"> 
                                            <div class="col-auto">
                                                    <p> 현재 <b><span id="checked-count">0</span></b> 명이 선택되었습니다. </p>
                                                <!-- <div class="input-group">
                                                    <div class="input-group-text">작업자검색</div>
                                                    <input class="form-control form-control-sm" id="searchCode" type="text"  
                                                        placeholder="작업자명"     /> 
                                                    <button class="btn btn-falcon-warning me-1 mb-1" type="button" onclick="searchwperid_fnc()">검색
                                                    </button> 
                                                </div>  -->
                                            </div> 
                                        </div>     

                                        <div class="container-fluid"> 
                                            <div id="wperidGrid_div" ></div>
                                            <!-- <div id="thePager03"></div> -->
                                        </div>                                                                 

                                    </div>  
                                    <div class="modal-footer">
                                        <div class="row g-1">
                                            <div class="col-auto">
                                                <button class="badge-soft-primary dropdown-item rounded-1"
                                                    type="button" id="wperidmodal_btn" data-bs-dismiss="modal">Close</button>
                                            </div> 
                                        </div>
                                    </div>   

                                </div>
                            </div> 
                        </div>         
                    </form>
                    <!---------------------------------------------------------------------------------------> 
                    
                    <script  type="text/javascript" th:inline="javascript"> 
                        var view_flistpage  = "";
                        var wtab01Grid = ""
                        let wfrdate;
                        let wtodate;
                        window.onload = function() {  
                            
  
                            //작업지시 list
                            var ll_bomchkrow = 0;
                            view_flistpage = new wijmo.collections.CollectionView(getData_flist(), {
                                // pageSize: 12
                            }); 
                    
                            wtab01Grid = new wijmo.grid.FlexGrid('#theGrid_div', {
                                autoGenerateColumns: false,
                                isReadOnly: true, 
                                selectionMode: 'RowRange',
                                alternatingRowStep: 0,
                                columns: [
                                    { binding: 'indate', header: '등록일자', align: "center", width: 100 },          
                                    { binding: 'inmonthtxt', header: '주차', align: "center", width: 100 },   
                                    { binding: 'rwflagnm', header: '주야', align: "left", width: 60 },    
                                    { binding: 'wrpsnm', header: '담당', align: "center", width: 80 },  
                                    { binding: 'wrmcnm', header: '설비', align: "center", width: 80 },   
                                    { binding: 'jpum', header: '품목', align: "center", width: 200 },    
                                    { binding: 'prod_qty', header: '지시', align: "right", width: 100 }, 
                                    { binding: 'winqt', header: '생산', align: "right", format: 'n0', width: 80 }, 
                                    { binding: 'wjqty', header: '완료', align: "right", format: 'n0', width: 80 },  
                                    { binding: 'wbdqt', header: '불량', align: "right", format: 'n0', width: 80 },  
                                    { binding: 'lotno', header: '로트번호', align: "center", width: 150 }, 

                                ],
                                itemsSource: view_flistpage
                            }); 


                            // 헤더 열 전환
                            setHeaderColumn3(false);
                            function setHeaderColumn3(headerOn) {
                                wtab01Grid.headersVisibility = headerOn
                                ? wijmo.grid.HeadersVisibility.All
                                : wijmo.grid.HeadersVisibility.Column; 
                            } 
                            //작업지시서 데이타 
                            function getData_flist(){  
                                var data = []; 
                                return data                                          
                            }   
                        }
 

                        //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                        //작업자 popup list 
                        let view_wperidpage = new wijmo.collections.CollectionView(getData_wperid()); 
                        setGroups(true);
                            wperidGrid = new wijmo.grid.FlexGrid('#wperidGrid_div', {
                            deferResizing: true,
                            showMarquee: true, 
                            alternatingRowStep: 0,
                            autoGenerateColumns: false, 
                            columns: [    
                                { binding: 'linenm',width: '*', header: '라인', width: '*', align:"center", format: '*' ,
                                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                                        text: '<b>${item.linenm}</b>',
                                        click: (e, ctx) => {
                                            wperidChk(ctx.item.wperid, ctx.item.wpernm );
                                        }
                                    })
                                }, 
                                { binding: 'wflagnm', width: '1*', header: '공정', width: '*', align:"center", format: '*' ,
                                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                                        text: '<b>${item.wflagnm}</b>',
                                        click: (e, ctx) => {
                                            wperidChk(ctx.item.wperid, ctx.item.wpernm );
                                        }
                                    })
                                    }, 
                                { binding: 'wperid', width: '1*', header: '코드', width: '*', align:"center", format: '*' ,
                                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                                        text: '<b>${item.wperid}</b>',
                                        click: (e, ctx) => {
                                            wperidChk(ctx.item.wperid, ctx.item.wpernm );
                                        }
                                    })
                                }, 
                                {
                                    binding: 'wpernm',
                                    width: '1*',
                                    header: '작업자', 
                                    align:"center",
                                    cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                                        text: '<b>${item.wpernm}</b>',
                                        click: (e, ctx) => {
                                            wperidChk(ctx.item.wperid, ctx.item.wpernm );
                                        }
                                    })
                                } 

                            ], 
                            itemsSource: view_wperidpage
                        });  
                        // 선택기 생성
                        let selector = new wijmo.grid.selector.Selector(wperidGrid, {
                            itemChecked: () => {
                                showCheckedCount();
                            }
                        }); 
                        
                        // 그룹 전환
                        setGroups(true);
                        // document.getElementById('groups').addEventListener('click', e => {
                        //     setGroups(e.target.checked);
                        // });
                        function setGroups(groupsOn) {
                            let groups = view_wperidpage.groupDescriptions;
                            groups.clear();
                            if (groupsOn) {
                            groups.push(new wijmo.collections.PropertyGroupDescription('linenm'), new wijmo.collections.PropertyGroupDescription('wflagnm'));
                            }
                        }
                        // 헤더 열 전환
                        setHeaderColumn(true);
                        // document.getElementById('header').addEventListener('click', e => {
                        //     setHeaderColumn(e.target.checked);
                        // });
                        function setHeaderColumn(headerOn) {
                            wperidGrid.headersVisibility = headerOn
                            ? wijmo.grid.HeadersVisibility.All
                            : wijmo.grid.HeadersVisibility.Column;
                            selector.column = headerOn
                            ? wperidGrid.rowHeaders.columns[0]
                            : wperidGrid.columns[0];
                        }

                        // 작업자 데이터 수집
                        function getData_wperid(){

                            var WperidDto = [[${wperidDto}]];  
                            var data03 = [];
                            var cnt = 1;
                            for (var i = 0; i < WperidDto.length; i++) {
                                data03.push({
                                    id: i, 
                                    index: cnt,
                                    custcd:WperidDto[i]["custcd"], 
                                    spjangcd:WperidDto[i]["spjangcd"], 
                                    linenm:WperidDto[i]["linenm"], 
                                    linecd:WperidDto[i]["linecd"], 
                                    wflagcd:WperidDto[i]["wflagcd"],
                                    wflagnm:WperidDto[i]["wflagnm"], 
                                    wperid:WperidDto[i]["wperid"],  
                                    wpernm: WperidDto[i]["wpernm"]                                                    
                                });
                                cnt++;
                            }   
                            return data03                                          
                        } 

                        function wperidChk(arg1, arg2  ){   
                                document.getElementById('inwrps').value= arg1; 
                                document.getElementById('inwrpsnm').value= arg2;   
                                $("#wperidmodal_btn").trigger("click"); 
                        } 

                        function searchList_rtn(argcode){  
                            var  ls_frdate     =  convert_date(wfrdate.value);                    
                            var  ls_todate     =  convert_date(wtodate.value);
                            var  ls_inwrps = document.getElementById('inwrps').value;    
                            var  inwrpsnm = document.getElementById('inwrpsnm').value;  
                            if(inwrpsnm == null || inwrpsnm.length == 0 || inwrpsnm == ""){  
                                    ls_inwrps = '%';
                            }   
                            var ls_lotno = document.getElementById('inlotno').value; 
                            if(ls_lotno == null || ls_lotno.length == 0 || ls_lotno == ""){ 
                                ls_lotno    = "%"
                            }   
                            $.ajax({
                                url: '/app03m/index13/list01',  
                                type:"POST",
                                data: { 
                                    "frdate"      : ls_frdate,  
                                    "todate"      : ls_todate, 
                                    "inwrps"      : ls_inwrps,  
                                    "lotno"      : ls_lotno, 
                                }, 
                                async:false,
                                success:function(data){           
                                        var wtab01Dto = data;   
                                        var wtab01_data = [];       
                                        var cnt = 1;   
                                        for (var i = 0; i < wtab01Dto.length; i++) {
                                            var ll_planqty = 0;
                                            var ll_otqty = 0;
                                            var ll_wyul = 0;
                                            var ll_gumqty = 0;
                                            var ls_gindate = "";
                                            var ls_flagnm = "";
                                            var ls_inmonth = "";
                                            var ls_inweeks = "";
                                            var ls_inmonthtxt = "";
                                            ll_planqty = wtab01Dto[i]["prod_qty"];
                                            ll_otqty = wtab01Dto[i]["wjqty"];
                                            if(ll_otqty > 0){
                                                ll_wyul = (ll_otqty / ll_planqty) * 100;
                                            }
                                            ls_gindate = wtab01Dto[i]["ginputdate"];
                                            if(ls_gindate == null || ls_gindate.length == 0 || ls_gindate == ""){  
                                                    ls_gindate = "";
                                            }else{
                                                    ls_gindate = ls_gindate.substr(0,4) + '-' + ls_gindate.substr(4,2) + '-' + ls_gindate.substr(6,2);
                                            }
                                            ll_gumqty = wtab01Dto[i]["gumqty"];
                                            if((ll_gumqty == null || ll_gumqty == 0) && ll_otqty > 0){
                                                ls_flagnm = "사출"
                                            }else{
                                                ls_flagnm =  wtab01Dto[i]["wflagnm"]
                                            }
                                            ls_inmonth = wtab01Dto[i]["inmonth"];
                                            ls_inweeks = wtab01Dto[i]["inweeks"]; 
                                            if(ls_inmonth == null || ls_inmonth.length == 0){
                                                ls_inmonthtxt = ""
                                            }else{
                                                ls_inmonthtxt = ls_inmonth + '' + ls_inweeks + '주차'
                                            }
                                            
                                            wtab01_data.push({
                                                id: i, 
                                                index: cnt,
                                                indate: wtab01Dto[i]["indate"],
                                                ecltnm: wtab01Dto[i]["ecltnm"],
                                                prod_sdate: wtab01Dto[i]["prod_sdate"], 
                                                prod_edate: wtab01Dto[i]["prod_edate"], 
                                                wflagnm: ls_flagnm,
                                                statuscd: wtab01Dto[i]["statuscd"], 
                                                wrmcnm: wtab01Dto[i]["wrmcnm"], 
                                                rwflagnm: wtab01Dto[i]["rwflagnm"], 
                                                lotno: wtab01Dto[i]["lotno"], 
                                                glotno: wtab01Dto[i]["glotnono"], 
                                                jpum: wtab01Dto[i]["jpum"], 
                                                jchajong: wtab01Dto[i]["jchajong"], 
                                                jgugek: wtab01Dto[i]["jgugek"], 
                                                prod_qty: wtab01Dto[i]["prod_qty"], 
                                                winqt: wtab01Dto[i]["winqt"], 
                                                wotqt: wtab01Dto[i]["wotqt"], 
                                                wbdqt: wtab01Dto[i]["wbdqt"], 
                                                wjqty: wtab01Dto[i]["wjqty"], 
                                                gumqty: wtab01Dto[i]["gumqty"], 
                                                wyul: ll_wyul, 
                                                wrpsnm: wtab01Dto[i]["wrpsnm"], 
                                                gumwrpsnm: wtab01Dto[i]["gumwrpsnm"], 
                                                wfrdt: wtab01Dto[i]["wfrdt"], 
                                                wtrdt: wtab01Dto[i]["wtrdt"], 
                                                inmonth: wtab01Dto[i]["inmonth"], 
                                                inweeks: wtab01Dto[i]["inweeks"], 
                                                workhr: wtab01Dto[i]["workhr"], 
                                                workmin: wtab01Dto[i]["workmin"],  
                                                inmonthtxt : ls_inmonthtxt,
                                                ginputdate: ls_gindate,  
                                                
                                            });
                                            cnt++;
                                        }         
                                    wtab01Grid.columns.clear();   
                                    wtab01Grid.autoGenerateColumns = false; 
                                    view_flistpage.sourceCollection  = wtab01_data;
                    
                                    var cols = new wijmo.grid.Column(); 
                                    cols.binding = 'indate';
                                    cols.header = '등록일자';
                                    cols.align = "center";
                                    cols.width = 120;  
                                    wtab01Grid.columns.push(cols);    

                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'inmonthtxt';
                                    cols.header = '주차';
                                    cols.align = "center";
                                    cols.width = 100; 
                                    wtab01Grid.columns.push(cols);
                                      
                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'rwflagnm';
                                    cols.header = '주야';
                                    cols.align = "center";
                                    cols.width = 60;  
                                    wtab01Grid.columns.push(cols);   

                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'wrpsnm';
                                    cols.header = '담당';
                                    cols.align = "center";
                                    cols.width = 80; 
                                    wtab01Grid.columns.push(cols);    

                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'wrmcnm';
                                    cols.header = '설비';
                                    cols.align = "center";
                                    cols.width = 110;  
                                    wtab01Grid.columns.push(cols);  

                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'jpum';
                                    cols.header = '품명';
                                    cols.align = "center";
                                    cols.width = 150;  
                                    wtab01Grid.columns.push(cols);  
                                    
                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'prod_qty';
                                    cols.header = '지시';
                                    cols.align = "right";
                                    cols.width = 80;  
                                    cols.format = 'n0'
                                    wtab01Grid.columns.push(cols);   
                                    
                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'winqt';
                                    cols.header = '생산';
                                    cols.align = "right";
                                    cols.width = 80;  
                                    cols.format = 'n0'
                                    wtab01Grid.columns.push(cols);   
                                    
                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'wbdqt';
                                    cols.header = '불량';
                                    cols.align = "right";
                                    cols.width = 80;  
                                    cols.format = 'n0'
                                    wtab01Grid.columns.push(cols);    
                                    
                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'wjqty';
                                    cols.header = '완료';
                                    cols.align = "right";
                                    cols.width = 80;  
                                    cols.format = 'n0'
                                    wtab01Grid.columns.push(cols); 

                                    cols = new wijmo.grid.Column(); 
                                    cols.binding = 'lotno';
                                    cols.header = '로트';
                                    cols.align = "center";
                                    cols.width = 160;  
                                    wtab01Grid.columns.push(cols);                                                 

                                },error:function(e){
                                    console.log('error',e);
                                }
                            }).done(function(fragment){           

                            })                           
                        }                     


                        function barcode_enter(e){ 
                            if(e.keyCode == 13){
                                var ls_inlotno = document.getElementById('inlotno').value;  
                                searchList_rtn(ls_inlotno);
                                return ;
                            }
                        }

                        document.getElementById("searchBtn").addEventListener("click",function(){ 
                            var ls_inlotno = document.getElementById('inlotno').value;  
                            searchList_rtn(ls_inlotno);
                        })  
                        $(document).ready(function() {
                             fn_egov_init_date()
                            // $('datetimepicker').datetimepicker({
                                
                            // }); 

                            // $("#startDate").change(function(e){ 
                            //     // console.log("달력클릭");
                            //     console.log(convert_time(e.timestamp));
                            // })

                            // $("#endDate").change(function(e){ 
                                 
                            //     getData_flist();
                            // })

                        })

                        function convert_time(timestamp){ 
                            //현재시간
                            var date = new Date(timestamp); 
                            var year = date.getFullYear();
                            var month = ("0" + (1 + date.getMonth())).slice(-2);
                            var day = ("0" + date.getDate()).slice(-2); 
                            var hh = date.getHours();  
                            var min = ('0' + date.getMinutes()).slice(-2) 
                            // console.log('year',year); 
                            // console.log('month',month); 
                            // console.log('day',day); 
                            // console.log('hh',hh); 
                            // console.log('min',min); 
                            time = year +  month +  day + ' ' + hh + ':' + min ;
                            return time;  
                        }

                        function fn_egov_init_date(){
                            wfrdate = new wijmo.input.InputDate('#frdate', {
                                isRequired: false,
                                value: null,
                                placeholder: '',
                                format: 'yyyy-MM-dd', 
                            });
                            
                            wtodate = new wijmo.input.InputDate('#todate', {
                                isRequired: false,
                                value: null,
                                placeholder: '',
                                format: 'yyyy-MM-dd', 
                            }); 
 
                            var result = new Date();
                            result.setHours(result.getHours() + 9);
                            var ls_date = result.toISOString().substring(0,10);
                            wfrdate.value = ls_date; 
                            wtodate.value = ls_date;  
                            
                            result.setDate(result.getDate() + 5);
                            var ls_edate = result.toISOString().substring(0,10);
                            wtodate.value = ls_edate; 
                        }       
                        function convert_date(arg_date){  
                            var ls_arg_date = String(arg_date); 
                            if(ls_arg_date == null || ls_arg_date.length == 0 || ls_arg_date == ""|| ls_arg_date == "null"){  
                                return "";
                            }  
                            // Date 객체로 변환
                            const dateObj = new Date(arg_date);

                            // 년, 월, 일 추출 (월은 0부터 시작하므로 +1 필요)
                            const year = dateObj.getFullYear();
                            const month = String(dateObj.getMonth() + 1).padStart(2, '0');
                            const day = String(dateObj.getDate()).padStart(2, '0');

                            // "YYYY-MM-DD" 형식으로 변환
                            const formattedDate = `${year}${month}${day}`;
                            arg_date = formattedDate; 
                            return arg_date;  
                        }                 
                    </script>
                    <!------footer ------>
                    <!-- <footer th:replace="layouts/XDashBoard/XDashBoard_footer :: XDashBoard_footer"></footer> -->
                    <!--------------------->
                </div>
            </div>
        </main>
    </div>    
</header>