<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="headerFragment">
 
    <div class="card-body d-flex align-items-center py-md-2 px-2 py-1">
        <main class="main" id="top">
            <!-- Fluid Layout:  Replace class .container to .container-fluid inside the main tag, and the page will be switched to fluid layout. -->
            <div class="container-fluid">
                <!-- <div class="container" data-layout="container"> -->
                <script>
                    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                    if (isFluid) {
                        var container = document.querySelector('[data-layout]');
                        container.classList.remove('container');
                        container.classList.add('container-fluid');
                    }
                </script>
                <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
                    <script>
                        var navbarStyle = localStorage.getItem("navbarStyle");
                        if (navbarStyle && navbarStyle !== 'transparent') {
                            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
                        }
                    </script>
                    <!-- <div class="d-flex align-items-center">
                        <div class="toggle-icon-wrapper">

                            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span
                                    class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

                        </div>
                            <a class="navbar-brand" th:href="@{/members/user}">
                            <div class="d-flex align-items-center py-3"><img class="me-2"
                                    th:src="@{/assets/img/icons/spot-illustrations/falcon.png}" alt="" width="40" />
                                    <span
                                    class="font-sans-serif">ActasErp</span>
                            </div>
                        </a>
                    </div> -->
                    <!------navbar vertical------>
                    <div th:replace="layouts/layout01/navbarMem :: navbar"></div>
                </nav>
                <div class="content" id="fw010">
                    <!------nav ------>
                    <div th:replace="layouts/layout01/headerNav :: headerNav"></div>

                    <body layout:fragment="fw010">
                        <div class="card mb-10">
                            <div class="bg-holder d-none d-lg-block bg-card"
                            style="background-image:url(../../assets/img/icons/spot-illustrations/corner-4.png);">
                            </div>
                            <div class="card border h-100 border-primary">
                                <div class="card-body position-relative">
                                    <div class="row">
                                         
                                            
                                            <div class="row g-1">
                                                <div class="col-auto">
                                                    <input type="text"  class="form-control datetimepicker"  onkeypress="barcode_enter(event)" id="searchOrdDate" autocomplete="off"  placeholder="Lot No"   >
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-primary" type="button"  id="searchBtn"  >조회 </button>
                                                </div> 
                                            </div>

                                         <!------content ---------------------------------------------------------------------------------->
                                         <div class="row mb-3 row-cols-sm-1 align-items-center">
                                            <div class="container-fluid">
                                                <div id="theGrid_div" style="overflow:scroll;   height:300px;    margin:0 auto; "></div>
                                                <div id="thePager01"></div>
                                            </div>                                                
                                         </div>   
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </body> 
                    <script  type="text/javascript" th:inline="javascript"> 
                        var view_flistpage  = "";
                        var wbomGrid = ""
                        window.onload = function() {  
                            

                            //작업지시 list
                            var ll_bomchkrow = 0;
                            view_flistpage = new wijmo.collections.CollectionView(getData_flist(), {
                                // pageSize: 12
                            });
                            // 작업지시 페이지 이동,
                            // new wijmo.input.CollectionViewNavigator('#thePager01', {
                            //     byPage: true,
                            //     headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
                            //     cv: view_flistpage
                            // });     

                    
                            wbomGrid = new wijmo.grid.FlexGrid('#theGrid_div', {
                                autoGenerateColumns: false,
                                isReadOnly: true, 
                                selectionMode: 'RowRange',
                                alternatingRowStep: 0,
                                columns: [
                                    // { binding: 'index', header: 'seq', width: '*' },
                                    { binding: 'indate', header: '검사일자', width: 130, align:"center", format: 'yyyy-MM-dd' }, 
                                    { binding: 'lotno', header: '사출LotNo',   align:"center",width: 150 },
                                    { binding: 'pname', header: '품목명',   align:"center",width: 180 },
                                    { binding: 'psize', header: '규격',     align:"center", width: 150 },
                                    { binding: 'qty', header: '투입수량',     align:"center", width: 100 },
                                    { binding: 'obqty', header: '검사량',align:"center", width: 100 },
                                    { binding: 'glotno', header: '검사LotNo',   align:"center",width: 150 } 

                                ],
                                itemsSource: view_flistpage
                            }); 


                            // 헤더 열 전환
                            setHeaderColumn3(false);
                            function setHeaderColumn3(headerOn) {
                                wbomGrid.headersVisibility = headerOn
                                ? wijmo.grid.HeadersVisibility.All
                                : wijmo.grid.HeadersVisibility.Column; 
                            } 
                            //작업지시서 데이타 
                            function getData_flist(){ 
                                var ListDto = [[${fplanListDto}]]; 
                                // console.log("ListDto : ", ListDto);
                                var data = [];
                                var cnt = 1;
                                // var today = new Date()
                                // console.log("today->" + today);
                                for (var i = 0; i < ListDto.length; i++) {
                                    var psdate = ListDto[i]["indate"];
                                    var ll_woqty = 0;
                                    psdate = psdate.substr(0,4) + '-' + psdate.substr(4,2)+ '-' + psdate.substr(6,2); 
                                    if(i == 0 ){
                                        ll_woqty = ListDto[i]["woqty"];
                                    } 
                                    data.push({
                                        id: i, 
                                        index: cnt,                                                                
                                        indate: psdate,
                                        lotno: ListDto[i]["lotno"],  
                                        pname: ListDto[i]["pname"], 
                                        psize: ListDto[i]["psize"], 
                                        qty: ListDto[i]["qty"], 
                                        woqty: ll_woqty,
                                        glotno: ListDto[i]["glotno"] ,  
                                        
                                    });
                                    cnt++;
                                }   
                                return data                                          
                            }   
                        }
 
                        function searchList_rtn(argcode){ 
                            console.log("argcode", argcode);
                            $.ajax({
                                url: '/input/qcsearch',   
                                type:"POST", 
                                data: { 
                                    "searchcode"    : argcode 
                                },
                                async:false,
                                success:function(data){   
                                    
                                    var WqcDto = data;  
                                    var data03 = [];
                                    console.log(data)
                                    var cnt = 1; 
                                    for (var i = 0; i < WqcDto.length; i++) {
                                        var psdate = WqcDto[i]["indate"];
                                        var ll_woqty = 0;
                                        psdate = psdate.substr(0,4) + '-' + psdate.substr(4,2)+ '-' + psdate.substr(6,2); 
                                        if(i == 0 ){
                                            ll_woqty = WqcDto[i]["woqty"];
                                        } 
                                        data03.push({
                                            id: i, 
                                            index: cnt,                                                              
                                            indate: psdate,
                                            lotno: WqcDto[i]["lotno"],  
                                            pname: WqcDto[i]["pname"], 
                                            psize: WqcDto[i]["psize"], 
                                            qty: WqcDto[i]["qty"], 
                                            woqty: ll_woqty,
                                            glotno: WqcDto[i]["glotno"] ,                                              
                                        });
                                        cnt++;
                                    }   
                                        wbomGrid.columns.clear();   
                                        wbomGrid.autoGenerateColumns = false; 
                                        view_flistpage.sourceCollection  = data03;
                                        var cols = new wijmo.grid.Column(); 
                                        cols.binding = 'indate';
                                        cols.header = '검사일자';
                                        cols.width = 130;
                                        cols.align = 'center';
                                        wbomGrid.columns.push(cols);  
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'lotno';
                                        cols.header = '사출LotNo';
                                        cols.width = 150;
                                        cols.align = 'center'; 
                                        wbomGrid.columns.push(cols);     
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'pname';
                                        cols.header = '품목명';
                                        cols.width = 180;
                                        cols.align = 'center'; 
                                        wbomGrid.columns.push(cols);  
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'psize';
                                        cols.header = '규격';
                                        cols.width = 150;
                                        cols.align = 'center';
                                        wbomGrid.columns.push(cols);  
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'qty';
                                        cols.header = '투입수량';
                                        cols.width = 100;
                                        cols.align = 'center';
                                        wbomGrid.columns.push(cols);  
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'woqty';
                                        cols.header = '검사량';
                                        cols.width = 100;
                                        cols.align = 'center';
                                        wbomGrid.columns.push(cols);   
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'glotno';
                                        cols.header = '검사LotNo';
                                        cols.width = 150;  
                                        cols.align = 'center'; 
                                        wbomGrid.columns.push(cols);                                     
    
                                    },error:function(e){
                                        console.log('error',e);
                                    }
                                }).done(function(fragment){           

                                })                           
                        }                     


                        function barcode_enter(e){ 
                            if(e.keyCode == 13){
                                var ls_searchOrdDate = document.getElementById('searchOrdDate').value;  
                                searchList_rtn(ls_searchOrdDate);
                                return ;
                            }
                        }

                        document.getElementById("searchBtn").addEventListener("click",function(){ 
                            var ls_searchOrdDate = document.getElementById('searchOrdDate').value;  
                            searchList_rtn(ls_searchOrdDate);
                        })  
                        $(document).ready(function() {
                            // fn_egov_init_date()
                            // $('datetimepicker').datetimepicker({
                                
                            // }); 

                            // $("#startDate").change(function(e){ 
                            //     // console.log("달력클릭");
                            //     console.log(convert_time(e.timestamp));
                            // })

                            // $("#endDate").change(function(e){ 
                                 
                            //     getData_flist();
                            // })

                        })

                        function convert_time(timestamp){ 
                            //현재시간
                            var date = new Date(timestamp); 
                            var year = date.getFullYear();
                            var month = ("0" + (1 + date.getMonth())).slice(-2);
                            var day = ("0" + date.getDate()).slice(-2); 
                            var hh = date.getHours();  
                            var min = ('0' + date.getMinutes()).slice(-2) 
                            // console.log('year',year); 
                            // console.log('month',month); 
                            // console.log('day',day); 
                            // console.log('hh',hh); 
                            // console.log('min',min); 
                            time = year +  month +  day + ' ' + hh + ':' + min ;
                            return time;  
                        }

                        function fn_egov_init_date(){
                            var $startDate = $('#startDate');
                            var $endDate = $('#endDate');
                            $startDate.datetimepicker({
                                timepicker: true,
                                lang: 'ko',
                                format: 'Y-m-d',
                                scrollMonth: false,
                                scrollInput: false,
                                onShow: function (ct) {                                    
                                    this.setOptions({
                                        maxDate: $endDate.val() ? $endDate.val() : false
                                    })
                                },
                            });

                            $endDate.datetimepicker({
                                timepicker: true,
                                lang: 'ko',
                                format: 'Y-m-d',
                                scrollMonth: false,
                                scrollInput: false,
                                onShow: function (ct) {
                                    this.setOptions({
                                        minDate: $startDate.val() ? $startDate.val() : false
                                    })
                                }
                            });
 
                        }                        
                    </script>
                    <!------footer ------>
                    <!-- <footer th:replace="layouts/XDashBoard/XDashBoard_footer :: XDashBoard_footer"></footer> -->
                    <!--------------------->
                </div>
            </div>
        </main>
    </div>    
</header>