<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="headerFragment">
 
    <div class="card-body d-flex align-items-center py-md-2 px-2 py-1">
        <main class="main" id="top">
            <!-- Fluid Layout:  Replace class .container to .container-fluid inside the main tag, and the page will be switched to fluid layout. -->
            <div class="container-fluid">
                <!-- <div class="container" data-layout="container"> -->
                <script>
                    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                    if (isFluid) {
                        var container = document.querySelector('[data-layout]');
                        container.classList.remove('container');
                        container.classList.add('container-fluid');
                    }
                </script>
                <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
                    <script>
                        var navbarStyle = localStorage.getItem("navbarStyle");
                        if (navbarStyle && navbarStyle !== 'transparent') {
                            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
                        }
                    </script>
                    <!-- <div class="d-flex align-items-center">
                        <div class="toggle-icon-wrapper">

                            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span
                                    class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

                        </div>
                            <a class="navbar-brand" th:href="@{/members/user}">
                            <div class="d-flex align-items-center py-3"><img class="me-2"
                                    th:src="@{/assets/img/icons/spot-illustrations/falcon.png}" alt="" width="40" />
                                    <span
                                    class="font-sans-serif">ActasErp</span>
                            </div>
                        </a>
                    </div> -->
                    <!------navbar vertical------>
                    <div th:replace="layouts/layout01/navbarMem :: navbar"></div>
                </nav>
                <div class="content" id="fw010">
                    <!------nav ------>
                    <div th:replace="layouts/layout01/headerNav :: headerNav"></div>

                    <body layout:fragment="fw010">
                        <div class="card mb-10">
                            <div class="bg-holder d-none d-lg-block bg-card"
                            style="background-image:url(../../assets/img/icons/spot-illustrations/corner-4.png);">
                            </div>
                            <div class="card border h-100 border-primary">
                                <div class="card-body position-relative">
                                    <div class="row">
                                        <form class="row gy-2 gx-4 align-items-center" role="form"   method="post" enctype="multipart/form-data">
                                            <div class="row mb-3  row-cols-lg-3 align-items-center">
                                                <div class="col-auto">  
                                                    <div class="card text-white bg-secondary">
                                                      <div class="card-body">
                                                        <div class="card-title"  ><h3  style="color:white; text-align: center; ">생산진행현황</h3> </div> 
                                                      </div>
                                                    </div> 
                                                </div> 
                                                
                                                <div class="col-auto">    
                                                        <div class="col-auto">
                                                            <div class="input-group"> 
                                                                <input type="text"  class="form-control datetimepicker" id="startDate"   autocomplete="off"  placeholder="Y-m-d"   > 
                                                            </div> 
                                                        </div>       
                                                </div>  
                                                
                                                <div class="col-auto">                                                   
                                                    <div class="col-auto">    
                                                        <div class="input-group"> 
                                                            <input type="text"  class="form-control datetimepicker" id="endDate"    autocomplete="off"  placeholder="Y-m-d"    >
                                                        </div>
                                                    </div>    
                                                    <!-- <div class="col-auto">
                                                        <button  class="btn btn-outline-danger me-1 mb-1" type="button" style=" height:50px;  " onclick='search_rtn()' >조&nbsp;&nbsp;&nbsp;회</button>
                                                    </div>      -->
                                                </div>                                                     
                                            </div>

                                         <!------content ---------------------------------------------------------------------------------->
                                         <div class="row mb-3 row-cols-sm-1 align-items-center">
                                            <div class="container-fluid">
                                                <div id="theGrid_div"></div>
                                                <div id="thePager01"></div>
                                            </div>                                                
                                         </div>                                            
                                        </form>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </body> 
                    <script  type="text/javascript" th:inline="javascript"> 
                        var view_flistpage  = "";
                        var wbomGrid = ""
                        window.onload = function() {  
                            

                                    //작업지시 list
                                    var ll_bomchkrow = 0;
                                    view_flistpage = new wijmo.collections.CollectionView(getData_flist(), {
                                        pageSize: 12
                                    });
                                    // 작업지시 페이지 이동,
                                    new wijmo.input.CollectionViewNavigator('#thePager01', {
                                        byPage: true,
                                        headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
                                        cv: view_flistpage
                                    });     

                          
                                    wbomGrid = new wijmo.grid.FlexGrid('#theGrid_div', {
                                        autoGenerateColumns: false,
                                        isReadOnly: true, 
                                        selectionMode: 'RowRange',
                                        alternatingRowStep: 0,
                                        columns: [
                                            // { binding: 'index', header: 'seq', width: '*' },
                                            { binding: 'wrmcnm', header: '설비명', width: '2*', align:"center" }, 
                                            { binding: 'pname', header: '품목명',   align:"center",width: '2*' },
                                            { binding: 'psize', header: '규격',     align:"center", width: '*' },
                                            { binding: 'prodqty', header: '계획량',align:"center", width: '*' },
                                            { binding: 'workmnm', header: '작업공정',     align:"center", width: '*' },
                                            { binding: 'workqty', header: '생산량',   align:"center",width: '2*' },
                                            { binding: 'workdts', header: '시작시간',   align:"center",width: '*' }, 
                                            { binding: 'workdte', header: '종료시간',   align:"center",width: '*' } 

                                        ],
                                        itemsSource: view_flistpage
                                    }); 


                                     //작업지시서 데이타 
                                     function getData_flist(){ 
                                            var ListDto = [[${fplanViewListDto}]]; 
                                            // console.log("ListDto : ", ListDto);
                                            var data = [];
                                            var cnt = 1;
                                            // var today = new Date()
                                            // console.log("today->" + today);
                                            for (var i = 0; i < ListDto.length; i++) { 
                                                data.push({
                                                    id: i, 
                                                    index: cnt,                                         
                                                    wrmcnm: ListDto[i]["wrmcnm"],  
                                                    pname: ListDto[i]["pname"],  
                                                    psize: ListDto[i]["psize"], 
                                                    prodqty: ListDto[i]["prodqty"], 
                                                    workmnm: ListDto[i]["workmnm"], 
                                                    workqty: ListDto[i]["workqty"],
                                                    workdts: ListDto[i]["workdts"] , 
                                                    workdte: ListDto[i]["workdte"]  
                                                    
                                                });
                                                cnt++;
                                            }   
                                            return data                                          
                                     }   
                        }
 
                        function getData_flist(){
                            startDate = document.getElementById('startDate').value; 
                            endDate = document.getElementById('endDate').value; 
                            // console.log("endDate", endDate);
                            $.ajax({
                                url: '/jaego/planlist',   
                                type:"POST", 
                                data: {
                                    "custcd"    : "",
                                    "spjangcd"  : "ZZ",
                                    "frdate"    : startDate,
                                    "todate"    : endDate 
                                },
                                async:false,
                                success:function(data){
                                    // console.log("등록OK", data); 

                                        wbomGrid.columns.clear();   
                                        wbomGrid.autoGenerateColumns = false; 
                                        view_flistpage.sourceCollection  = data;
                                        var cols = new wijmo.grid.Column(); 
                                        cols.binding = 'wrmcnm';
                                        cols.header = '설비명';
                                        cols.width = '*';
                                        cols.align = 'center';
                                        wbomGrid.columns.push(cols);    
                                        // console.log("cols", cols);  
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'pname';
                                        cols.header = '품목명';
                                        cols.width = '*';
                                        cols.align = 'center'; 
                                        wbomGrid.columns.push(cols);  
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'psize';
                                        cols.header = '규격';
                                        cols.width = '*';
                                        cols.align = 'center';
                                        wbomGrid.columns.push(cols);  
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'prodqty';
                                        cols.header = '계획량';
                                        cols.width = '*';
                                        cols.align = 'center';
                                        wbomGrid.columns.push(cols);  
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'workmnm';
                                        cols.header = '작업공정';
                                        cols.width = '*';
                                        cols.align = 'center';
                                        wbomGrid.columns.push(cols);   
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'workqty';
                                        cols.header = '생산량';
                                        cols.width = '*';  
                                        cols.align = 'center'; 
                                        wbomGrid.columns.push(cols);     
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'workdts';
                                        cols.header = '시작시간';
                                        cols.width = '*';  
                                        cols.align = 'center'; 
                                        wbomGrid.columns.push(cols);       
                                        cols = new wijmo.grid.Column(); 
                                        cols.binding = 'workdte';
                                        cols.header = '종료시간';
                                        cols.width = '*';  
                                        cols.align = 'center'; 
                                        wbomGrid.columns.push(cols);                                    
    
                                    },error:function(e){
                                        console.log('error',e);
                                    }
                                }).done(function(fragment){           

                                })                           
                            }                     



                        $(document).ready(function() {
                            fn_egov_init_date()
                            $('datetimepicker').datetimepicker({
                                
                            }); 

                            $("#startDate").change(function(e){ 
                                // console.log("달력클릭");
                                console.log(convert_time(e.timestamp));
                            })

                            $("#endDate").change(function(e){ 
                                 
                                getData_flist();
                            })

                        })

                        function convert_time(timestamp){ 
                            //현재시간
                            var date = new Date(timestamp); 
                            var year = date.getFullYear();
                            var month = ("0" + (1 + date.getMonth())).slice(-2);
                            var day = ("0" + date.getDate()).slice(-2); 
                            var hh = date.getHours();  
                            var min = ('0' + date.getMinutes()).slice(-2) 
                            // console.log('year',year); 
                            // console.log('month',month); 
                            // console.log('day',day); 
                            // console.log('hh',hh); 
                            // console.log('min',min); 
                            time = year +  month +  day + ' ' + hh + ':' + min ;
                            return time;  
                        }

                        function fn_egov_init_date(){
                            var $startDate = $('#startDate');
                            var $endDate = $('#endDate');
                            $startDate.datetimepicker({
                                timepicker: true,
                                lang: 'ko',
                                format: 'Y-m-d',
                                scrollMonth: false,
                                scrollInput: false,
                                onShow: function (ct) {                                    
                                    this.setOptions({
                                        maxDate: $endDate.val() ? $endDate.val() : false
                                    })
                                },
                            });

                            $endDate.datetimepicker({
                                timepicker: true,
                                lang: 'ko',
                                format: 'Y-m-d',
                                scrollMonth: false,
                                scrollInput: false,
                                onShow: function (ct) {
                                    this.setOptions({
                                        minDate: $startDate.val() ? $startDate.val() : false
                                    })
                                }
                            });
 
                        }                        
                    </script>
                    <!------footer ------>
                    <footer th:replace="layouts/XDashBoard/XDashBoard_footer :: XDashBoard_footer"></footer>
                    <!--------------------->
                </div>
            </div>
        </main>
    </div>    
</header>