<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/XRegister/head :: headFragment" />

<body>
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">


    <!-- ============================================-->
    <!-- <section> begin ============================--> 

      

      <div class="container"> 
           
    
<p>
  <a th:href = "@{/members/loginForm}">로그인</a>
</p>
            <!-- <h1 class="text-white fw-light"> ACTAS ERP <span class="typed-text fw-bold"
                data-typed-text='["design","beauty","elegance","perfection"]'></span><br />Elevator 유지보수관리서비스</h1>
                 <a class="btn btn-outline-light border-2 rounded-pill btn-lg mt-4 fs-0 py-2" th:href="@{/members/loginForm}">ACTAS Login!!<span class="fas fa-play ms-2" data-fa-transform="shrink-6 down-1"></span></a>
          
          <div class="col-xl-7 offset-xl-1 align-self-end mt-4 mt-xl-0"><a class="img-landing-banner rounded"
              th:href="@{/members/loginForm}"><img class="img-fluid" src="" alt="" /></a>  
          </div>  -->
      </div>
      <!-- end of .container--> 
    <!-- <section> close ============================-->
    <!-- ============================================--> 
 
  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->

  <footer th:replace="layouts/XRegister/footer :: footerFragment"></footer>
</body>

</html>