<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/XRegister/head :: headFragment" />

<body style="background: url(/images/bg1.png) center center; background-size: cover;">

<div class="content main">

  <div class="box_con_wrap">
    <div class="head_tit">
      <h1>경덕산업 MES System</h1>
    </div>
    <div class="box_con" style="background: url(/images/login_bg.png) no-repeat;">
      <div class="logo">
        <a th:href="@{/auth/admin}">
          <img src="/images/logo.png" alt="">
        </a>
      </div>
      <div class="login">
        <div class="tit">Login</div>
        <form action="/login" method="POST">
          <!-- <div class="input_wrap"> 
            <select name="select" id="select" class="select">
              <option value="AA">본사관리</option>
              <option value="BB">고객사용자</option>
              <option value="CC">영업사원</option>  
            </select> 
          </div>  -->
          <div class="input_wrap icon i_id">
            <input type="text" id="loginid" name="loginid">
            <input type="hidden" id="ipaddr" name="ipaddr">
          </div>
          <div class="input_wrap icon i_pw">
            <input type="password" id="logpass" name="logpass">
          </div>
          <div class="account">
            <div class="save_id">
              <input type="checkbox" id="card-checkbox" checked="checked">
              <label for="save_id" class="check_style1">ID 저장</label>
            </div>
            <!-- <ul class="find_account">
              <li>
                <a href="">아이디 찾기</a>
              </li>
              <li>
                <a href="">비밀번호 찾기</a>
              </li>
            </ul> -->
          </div>
          <div class="login_btn">
            <div class="btn_wrap">
              <button type="button" id="login_btn" name="login_btn">Login</button>
            </div>


          </div>
          <div>
            <a th:href="@{/auth/cltcdnew}">사용자등록</a><br>
            <!-- <a th:href="@{/auth/actcdnew}">고객사용자등록</a> -->
          </div>
          <div class="mb-3">
            <div th:if="${loginErrorMsg}" class="alert alert-warning border-2 d-flex align-items-center"
                 role="alert">
              <div class="bg-warning me-3 icon-item"><span
                      class="fas fa-exclamation-circle text-white fs-3"></span></div>
              <p class="mb-0 flex-1" th:text="${loginErrorMsg}">Incorrent data</p>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<script>

      window.onload = function() {  
        getIpClient();
      }

      async function getIpClient() {
        try {
          const response = await axios.get('https://api.ipify.org?format=json');
          document.getElementById('ipaddr').value = response.data.ip;


          var lsUserid = window.localStorage.getItem("userid") 
          var lsUserpw = window.localStorage.getItem("userpw")  
          document.getElementById('loginid').value = lsUserid
          document.getElementById('logpass').value = lsUserpw

          // console.log(response.data.ip);
          // console.log("----");
        } catch (error) {
          console.error(error);
        }
      }

        


      var btn_obj = document.getElementById('login_btn');
      btn_obj.addEventListener("click",function(){
        
          //TB_FPLAN_WORK TB_FPLAN_W010  SAVE
          var ls_loginid   = document.getElementById('loginid').value;
          var ls_logpass   = document.getElementById('logpass').value;
          var ls_ipaddr    = document.getElementById('ipaddr').value;
          
          window.localStorage.setItem("userid" ,  ls_loginid)
                window.localStorage.setItem("userpw" ,  ls_logpass) 
          // var ls_select  = document.getElementById('select').value;
          var ls_actcustcdz = "KDMES" ; //document.getElementById('actcustcdz').value;
          var ls_select = "AA";          
          $.ajax({
              url: '/authcrud/login',
              type:"POST",
              data: {
                  "loginid"    : ls_loginid ,
                  "logpass"  : ls_logpass,
                  "ipaddr"  : ls_ipaddr,
                  "flag"    : ls_select 
              },
              async:false,
              success:function(userFormDto){

                var ListDto = userFormDto;
                var ls_userid = userFormDto["userid"]
                var ls_username = userFormDto["username"]
                var ls_cltcd= userFormDto["cltcd"]
                var ls_dbnm = userFormDto["dbnm"]
                var ls_flag = userFormDto["flag"]
                //var ls_url = 'userid=' + ls_userid +'&username=' + ls_username +'&cltcd=' + ls_cltcd +'&dbnm=' + ls_dbnm +'&flag=' + ls_flag;
                var ls_url = 'userid=' + ls_userid
                var ls_useyn = userFormDto["useyn"]
                var ls_wrongnum = userFormDto["wrongnum"]


                
                if(userFormDto == "" || userFormDto == null){
                  alert("사용자 구분을 확인하세요.");
                  return false;
                }

                if(ls_wrongnum == 3 || ls_useyn == "N"){
                  wrongPasswd();
                }else{
                  insertLogin();

                window.location.href = '/auth/emmsdashboard';
                  // if(data == "success"){
                  //     alert("등록 되었습니다.");
                  //     var ls_text = "<div style='color:red'><span class='badge badge-soft-danger'>가입되었습니다.</span></div>";
                  // }else{
                  //     alert("등록오류");
                  //     var ls_text = "<div style='color:red'><span class='badge badge-soft-info'>가입실패</span></div>";
                  // }
                  // statusdis_div.innerHTML  = ls_text;
                }

              },error:function(e){
                  wrongPasswd();
              }
          }).done(function(fragment){

          })

     })

     function insertLogin(){ 
      var ls_loginid   = document.getElementById('loginid').value;
      var ls_logpass   = document.getElementById('logpass').value;
      var ls_ipaddr    = document.getElementById('ipaddr').value; 

      $.ajax({
        url: '/authcrud/loginlog',
        type:"POST",
        data: {
              "loginid" : ls_loginid,
              "logpass" : ls_logpass,
              "ipaddr"  : ls_ipaddr
        },
        async:false,
        success:function(){
          console.log('success');
        }
      });
     }

     function wrongPasswd(){ 
        var ls_loginid   = document.getElementById('loginid').value;
        var ls_logpass   = document.getElementById('logpass').value;

        $.ajax({
        url: '/authcrud/wrongpasswd',
        type:"POST",
        data: {
              "loginid" : ls_loginid,
              "logpass" : ls_logpass
        },
        async:false,
        success:function(userFormDto){
          var ListDto = userFormDto;
          var ls_wrongnum = userFormDto["wrongnum"];
          var ls_useyn = userFormDto["useyn"];

          if(ls_wrongnum < 3 && ls_useyn == "Y"){
            alert("비밀번호를 "+ls_wrongnum+"회 틀렸습니다. 로그인 3회 실패 시 사용 중지됩니다.");
          }else{
            if(userFormDto == "null"){
              alert("등록되지 않은 사용자입니다.")
            }else {
              alert("사용 중지된 계정입니다. 관리자에게 문의하세요.");
              console.log(userFormDto);
            }
          }
        }
      });
     }



</script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<footer th:replace="layouts/XRegister/footer :: footerFragment"></footer>
</body>

</html>