<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTAS Elevator 고객센터</title>
</head>
<body style="background: #f5f9fa">
<input type="hidden"  name="actuseridz" id="actuseridz" th:value="${userFormDto.userid}" >
<div class="content flex">
    <div class="header">
        <div class="left">
            <div class="ham">
                <button type="button"><img src="/images/ham.png" alt=""></button>
            </div>
            <div class="nav_bg"></div>
            <th:block th:include="layouts/APPHeader/appcareleft" />
        </div>
        <div class="right">
        </div>
    </div>
    <div class="con">
        <div class="header_top">
            <ul class="left">
                <li>
                    <div class="logo">
                        <a href="">
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div>
                </li>
                <li class="home on">
                    <a><img src="/images/i_home.png" alt=""></a>
                    <a><img src="/images/i_home_on.png" alt=""></a>
                </li> 
                <li>
                    고객 사용자 DashBoard
                </li>
            </ul>
            <ul class="right">

                <li>
                    <a href="#">
                        <img src="/images/in2.png" onclick="logout()">
                    </a>
                </li>
                <!-- <li>
                    <button id="userinfo"> 
                        <img src="/images/i_user.png" alt="">
                    </button>
                </li> -->
            </ul>
        </div>
        <div class="section section1">
            <div class="sec_con" style="width: 50%;">
                <div class="sec_con_tit">
                    <span>
                        <span class="input-group-text" id="basic-addon1" style="display: inline; float: left">기간</span>
                        <input type="text"  class="form-control datetimepicker" id="frdate2" autocomplete="off"  placeholder="Y-m-d"  style="width: 150px; display: inline; float: left">
                        <input type="text"  class="form-control datetimepicker" id="todate2" autocomplete="off"  placeholder="Y-m-d" style="width: 150px; display: inline; float: left">당월 고장접수 현황 그래프</span>
                    <button type="button" class="color2" id="retrieveBtn2"
                            style="background-color: #018297;  border-radius: 3px; color: #fff; padding: 4px; float: right; font-size: 17px;">
                        <img th:src="@{/assets/images/i_search.png}" alt="">조회
                    </button>
                </div>
                <div class="box_wrap with_tit">
                    <div class="container-fluid">
                        <select id="typeMenu">
                            <option value="0" selected="selected">사분면(Squarified)</option>
                            <option value="1">수평(Horizontal)</option>
                            <option value="2">수직(Vertical)</option>
                        </select>
                        <div id="chartTabC"></div>
                    </div>
                </div>
            </div>
            <div class="sec_con" style="width: 50%;">
                <div class="sec_con_tit">

                    <span>
                        <span class="input-group-text" id="basic-addon1" style="display: inline; float: left">기간</span>
                        <input type="text"  class="form-control datetimepicker" id="frdate" autocomplete="off"  placeholder="Y-m-d"  style="width: 150px; display: inline; float: left">
                        <input type="text"  class="form-control datetimepicker" id="todate" autocomplete="off"  placeholder="Y-m-d" style="width: 150px; display: inline; float: left">당월 고장접수 현황</span>
                    <button type="button" class="color2" id="retrieveBtn"
                                                   style="background-color: #018297;  border-radius: 3px; color: #fff; padding: 4px; float: right; font-size: 17px;">
                    <img th:src="@{/assets/images/i_search.png}" alt="">조회
                </button>

                </div>

                <div class="box_wrap with_tit" style="padding: 0px;">
                    <div class="container-fluid" style="padding: 0px;">
                        <div id="vGrid_div" ></div>
                        <div id="tabPager04"></div>
                    </div>
                </div>
            </div>
            <!--style="background-color: #018297; display: flex; align-items: center; padding: 15px; border-radius: 3px; color: #fff">-->

            <!--<div class="infor_bar type2">
            <ul class="right">
                <li>
                    <button type="button" class="color2" id="retrieveBtn">
                        <i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                    </button>
                </li>
            </ul>
            </div>-->


        </div>
        <div class="section section2">
            <div class="sec_con" style="width: 100%;">
                <div class="box_wrap ">
                    <ul class="center_list">
                        <li>
                            <div class="img">
                                <img src="/images/center_img1.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>현장별 호기별 고장 현황</h5>
                                <p>호기별로 고장부위 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app21/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img2.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>현장별 고장구분별 현황</h5>
                                <p>호기별로 고장구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app27/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img3.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>현장별 월별 고장율 현황</h5>
                                <p>호기별로 고장구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app16/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                    </ul>
                    <ul class="center_list">
                        <li>
                            <div class="img">
                                <img src="/images/center_img4.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>승강기 호기별 고장통계</h5>
                                <p>호기별로 고장구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app19/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img5.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>동호기별 고장 통계</h5>
                                <p>호기별로 고장 구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app25/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img6.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>승강기 월별 고장 통계</h5>
                                <p>호기별로 고장 구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app22/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<input class="form-control form-control-sm"  type="hidden" id="userinfobtn" data-bs-toggle="modal" data-bs-target="#userinfomodal"  />

<!--------------------------------------------------------------------------------------->
<!-- 마이페이지 MODAL FROM  -->
<div class="modal fade" id="userinfomodal" data-bs-keyboard="false"
     data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
         style="max-width: 500px">
        <div class="modal-content border-0">
            <div class="modal-body p-0" >
                <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                    <!-- <h4 class="mb-1" id="modalExampleDemoLabel">현장검색</h4>  -->
                    <label>비밀번호</label>
                    <input class="form-control form-control-sm" type="text"  th:value="${userFormDto.passwd1}" id="actpasswdz" onchange="check_pw()">
                    <label>이름</label>
                    <input class="form-control form-control-sm" type="text"  th:value="${userFormDto.username}" id="actnamez">
                    <label>핸드폰번호</label>
                    <input class="form-control form-control-sm" type="text"  th:value="${userFormDto.phone}" id="actphonez">
                    <!--<input class="form-control form-control-sm" type="text"  th:value="${userFormDto.userid}">-->


                </div>

            </div>

            <div class="modal-footer">
                <div class="row g-1">
                    <div class="col-auto">
                        <button class="badge-soft-primary dropdown-item rounded-1"
                                type="button"  id="wpernmmodal_btn2" data-bs-dismiss="modal" onclick="save_btn3()">수정</button>
                    </div>
                    <div class="col-auto">
                        <button class="badge-soft-primary dropdown-item rounded-1"
                                type="button"  id="wuserinfomodal_btn" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------->
<!-- modal -->


<script type="text/javascript" th:inline="javascript">

    var view_p01tab04page;
    var typeMenu;
    var treemap;
    var categories = [];
    var subCategories = [];
    var subvalues = []


    typeMenu = new wijmo.input.Menu('#typeMenu', {
        itemClicked: function (s, e) {
            treemap.type = parseInt(s.selectedValue);
            updateMenuHeader(s, 'Type');
        }
    });
    updateMenuHeader(typeMenu, 'Type');
    //
    treemap = new wijmo.chart.hierarchical.TreeMap('#chartTabC', {
        binding: 'sales',
        bindingName: ['category', 'subCategory'],
        itemsSource: [0],
        dataLabel: {
            position: 'Center',
            content: '{name}'
        },
        type: wijmo.chart.hierarchical.TreeMapType.Squarified
    });
    treemap.palette = getRandomPalette();

    function updateMenuHeader(menu, header) {
        menu.header = header
            ? header + ': <b>' + menu.text + '</b>'
            : menu.text;
    }
    function getRandomPalette() {
        let palettes = Object.getOwnPropertyNames(wijmo.chart.Palettes)
            .filter(prop => typeof wijmo.chart.Palettes[prop] === "object" && prop !== 'prototype');
        let rand = Math.floor(Math.random() * palettes.length);
        //
        return wijmo.chart.Palettes[palettes[rand]];
    }

    window.onload = function (){


        <!--고장다발현장-->
        view_p01tab04page = new wijmo.collections.CollectionView(getData_tab04(), {
            pageSize: 12
        });



        new wijmo.input.CollectionViewNavigator('#tabPager04', {
            byPage: true,
            headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
            cv: view_p01tab04page
        });
        wtab01Grid = new wijmo.grid.FlexGrid('#vGrid_div', {
            autoGenerateColumns: false,
            showMarquee: true,
            isReadOnly: false,
            allowSorting: 'MultiColumn',
            alternatingRowStep: 0,
            columns: [
                { binding: 'actcd', header: '현장코드', align: "center", width: 100 },
                { binding: 'actnm', header: '현장명', align: "center", width: 120 },
                { binding: 'equpcd', header: '호기코드', align: "center", width: 100},
                { binding: 'equpnm', header: '호기명', align: "center", width: 100 },
                { binding: 'pernm', header: '담당자', align: "center", width: 100 },
                { binding: 'contnm', header: '고장내용', align: "center", width: 100 },
                { binding: 'contents', header: '고장상세내용', align: "center", width: 100 },
                { binding: 'stdate', header: '시작일자', align: "center", width: 100 },
                { binding: 'enddate', header: '만료일자', align: "center", width: 100 },
                {binding:  'qty', header: '건수', align: "center", width: 100}


            ],
            itemsSource: view_p01tab04page
        });

        // tab01검색 데이터 수집
        function getData_tab04(){
            var mapp15Dto = [[${app15DtoList2}]];
            var wactnm_data = [];
            var cnt = 1;
            for (var i = 0; i < mapp15Dto.length; i++) {
                wactnm_data.push({
                    id: i,
                    index: cnt,
                    actcd: mapp15Dto[i]["actcd"],
                    actnm: mapp15Dto[i]["actnm"],
                    equpcd: mapp15Dto[i]["equpcd"],
                    equpnm: mapp15Dto[i]["equpnm"],
                    pernm: mapp15Dto[i]["pernm"],
                    contnm: mapp15Dto[i]["contnm"],
                    contents: mapp15Dto[i]["contents"],
                    stdate: mapp15Dto[i]["stdate"],
                    enddate: mapp15Dto[i]["enddate"],
                    qty: mapp15Dto[i]["qty"],


                });
                cnt++;
            }
            return wactnm_data;
        }
        <!--고장다발현장 끝@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!--고장다발현장 끝-->
        <!--고장다발현장 끝-->
        <!--고장다발현장 끝-->
        <!--고장다발현장 끝-->




        var categories = [];
        var subCategories = [];
        var subvalues = []


        treemap.itemsSource = getDataTabC();
        treemap.palette = getRandomPalette();


        function getRandomPalette() {
            let palettes = Object.getOwnPropertyNames(wijmo.chart.Palettes)
                .filter(prop => typeof wijmo.chart.Palettes[prop] === "object" && prop !== 'prototype');
            let rand = Math.floor(Math.random() * palettes.length);
            //
            return wijmo.chart.Palettes[palettes[rand]];
        }


        function getDataTabC(){
            var ls_subcat = new Array();
            var ls_getvalue;

            var wtab03Dto = [[${app15DtoList3}]];
            /*console.log(JSON.stringify([[${app15DtoList3}]]) + "change");
            console.log(wtab03Dto.length + "rlfdl");*/
            categories = [];
            ls_subcat = [];
            ls_getvalue = [];
            var ls_tmpchk;
            for (var i = 0; i < wtab03Dto.length; i++) {

              //  console.log(wtab03Dto[3]["equpnm"])
              //  console.log(JSON.stringify(wtab03Dto[i]) + "asdasdasdasdasdsadsadasdasdsadsadsadasdsa")  //여기까지는 잘 넘어옴 이상무
                let ls_equpnm = wtab03Dto[i]["equpnm"];
                //console.log(ls_equpnm, wtab03Dto[i]["equpnm"]+""+wtab03Dto[i]["contnm"]+ls_tmpchk+"비교1" ) //두개 비교 근데 값이 안나옴 , ls_equpnm = 802동-1호기, ls_tmpchk = 802동 1호기
               /* if (ls_tmpchk !== ls_equpnm){*/
                    const ls_cellarr = [];
                    var ls_valuearr = [];
/*
                    console.log(ls_equpnm, wtab03Dto[i]["equpnm"]+""+wtab03Dto[i]["contnm"] +"비교2") //두개 비교 근데 값이 안나옴
                    console.log(wtab03Dto[3]["equpnm"] + "special") //여기는 정상?*/
                        if(ls_equpnm == wtab03Dto[i]["equpnm"]  ){
                            ls_cellarr.push(wtab03Dto[i]["contnm"]);
                            ls_valuearr.push(wtab03Dto[i]["cnt"]);

                        }

/*

                    console.log(ls_equpnm + "ls_equpnm") //데이타 소실 발생
                    console.log(ls_cellarr + "ls_cellarr")  //데이타 소실 발생
                    console.log(ls_valuearr + "ls_valuearr")  //데이타 소실 발생
*/

                    categories.push(ls_equpnm);
                    ls_subcat.push(ls_cellarr);
                    ls_getvalue.push(ls_valuearr);

              /*      console.log(categories);
                    console.log(ls_subcat);
                    console.log(ls_getvalue);
*/

                /*}*/
                ls_tmpchk = ls_equpnm;
            }

            subCategories = ls_subcat;
            subvalues     = ls_getvalue;
            var data = [];
            categories.forEach(function (category, index) {
                subCategories[index].forEach(function (subCategory) {
                    data.push({
                        category: category,
                        subCategory: subCategory,
                        sales: subvalues[index]


                    });

                });
            });


            /*console.log(JSON.stringify(data) + "consoledata"); //데이타 소실발생*/
            return data;

        }
    } //onload 끝

    document.getElementById("retrieveBtn2").addEventListener("click", function () {

        let ls_frdate = document.getElementById('frdate2').value;
        let ls_todate = document.getElementById('todate2').value;



        searchList_rtn2(ls_frdate, ls_todate);
    })

    function searchList_rtn2(arg1, arg2){
        treemap.itemsSource = getDataTabC2(arg1, arg2)
        treemap.palette = getRandomPalette2();

    }

    function getRandomPalette2(){
        let palettes = Object.getOwnPropertyNames(wijmo.chart.Palettes)
            .filter(prop => typeof wijmo.chart.Palettes[prop] === "object" && prop !== 'prototype');
        let rand = Math.floor(Math.random() * palettes.length);
        //
        return wijmo.chart.Palettes[palettes[rand]];
    }




    function getDataTabC2(arg1, arg2){
        var ls_subcat = new Array();
        var ls_getvalue = new Array();

        $.ajax({
            url: '/app25/p001tab03',
            type:"POST",
            data: {
                "frdate"      : arg1,
                "todate"      : arg2 ,

            },
            async:false,
            success:function(data){
                console.log(JSON.stringify(data) + "console data!!");

                var wtab03Dto  = data;
                categories = [];
                ls_subcat = [];
                ls_getvalue = [];
                var ls_tmpchk;
                for (var i = 0; i < wtab03Dto.length; i++) {

                    let ls_equpnm = wtab03Dto[i]["equpnm"];
                    //if (ls_tmpchk !== ls_equpnm){
                        const ls_cellarr = [];
                        var ls_valuearr = [];


                            if(ls_equpnm == wtab03Dto[i]["equpnm"]  ){
                                ls_cellarr.push(wtab03Dto[i]["contnm"]);
                                ls_valuearr.push(wtab03Dto[i]["cnt"]);
                            }


                        categories.push(ls_equpnm);
                        ls_subcat.push(ls_cellarr);
                        ls_getvalue.push(ls_valuearr);

                    //}
                    ls_tmpchk = ls_equpnm;
                }
                // console.log(categories)  ;
                // console.log(ls_subcat)  ;
                // console.log(ls_getvalue)  ;
            },error:function(e){
                console.log("error");
                // alert(data.code);
                // alert(data.message);
            }

        }).done(function (fragment) {

        })

        subCategories = ls_subcat;
        subvalues     = ls_getvalue;
        var data = [];
        categories.forEach(function (category, index) {
            subCategories[index].forEach(function (subCategory) {
                data.push({
                    category: category,
                    subCategory: subCategory,
                    sales: subvalues[index]
                });
            });
        });
        return data;
    }



    //tab01검색
    document.getElementById("retrieveBtn").addEventListener("click", function () {

        let ls_frdate = document.getElementById('frdate').value;
        let ls_todate = document.getElementById('todate').value;



        searchList_rtn(ls_frdate, ls_todate);
    })

    function searchList_rtn(arg1, arg2){

        $.ajax({
            url: '/app25/p001tab02',
            type: "POST",
            data: {
                "frdate" : arg1,
                "todate" : arg2,

            },
            async: false,
            success: function(data){
                console.log("succ" + data);
                tabA_grid(data);
            },error:function(e){
                console.log("error132");
                // alert(data.code);
                // alert(data.message);
            }
        }).done(function(fragment){

        })
    }

    function tabA_grid(data){

        let ls_frdate = document.getElementById('frdate').value;
        let ls_todate = document.getElementById('todate').value;


        var wtab01Dto  = data;
        var wtab01_data = [];
        var cnt = 1;
        for(var i = 0; i < wtab01Dto.length; i++){
            wtab01_data.push({
                id: i,
                index: cnt,
                actcd: wtab01Dto[i]["actcd"],
                actnm: wtab01Dto[i]["actnm"],
                equpcd: wtab01Dto[i]["equpcd"],
                equpnm: wtab01Dto[i]["equpnm"],
                pernm: wtab01Dto[i]["pernm"],
                contnm: wtab01Dto[i]["contnm"],
                contents: wtab01Dto[i]["contents"],
                stdate: ls_frdate,
                enddate: ls_todate,
                qty: wtab01Dto[i]["qty"],

            });
            cnt++;
        }

        wtab01Grid.columns.clear();
        wtab01Grid.autoGenerateColumns = false;
        view_p01tab04page.sourceCollection = wtab01_data;
        var cols = new wijmo.grid.Column();
        cols.binding = 'actcd';
        cols.header = '현장코드';
        cols.align = 'center';
        cols.width = 100;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'actnm';
        cols.header = '현장명';
        cols.align = "center";
        cols.width = 120;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'equpcd';
        cols.header = '호기코드';
        cols.align = "center";
        cols.width = 100;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'equpnm';
        cols.header = '호기명';
        cols.align = "center";
        cols.width = 100;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'pernm';
        cols.header = '담당자';
        cols.align = "center";
        cols.width = 100;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'contnm';
        cols.header = '고장내용';
        cols.align = "center";
        cols.width = 100;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'contents';
        cols.header = '고장상세내용';
        cols.align = "center";
        cols.width = 100;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'stdate';
        cols.header = '조회시작일자';
        cols.align = "center";
        cols.width = 100;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'enddate';
        cols.header = '조회만료일자';
        cols.align = "center";
        cols.width = 100;
        wtab01Grid.columns.push(cols);

        cols = new wijmo.grid.Column();
        cols.binding = 'qty';
        cols.header = '건수';
        cols.align = "center";
        cols.width = 100;
        wtab01Grid.columns.push(cols);
    }


    document.getElementById("userinfo").addEventListener("click", function () {
        document.getElementById("userinfobtn").click();
    });

    function save_btn3(){
        var ls_passwd = document.getElementById('actpasswdz').value;
        var ls_name = document.getElementById('actnamez').value;
        var ls_phone = document.getElementById('actphonez').value;
        var ls_userid = document.getElementById('actuseridz').value;

        if(!ls_passwd){
            alert("공백은 불가합니다.")
            return
        }
        if(!ls_name){
            alert("공백은 불가합니다.")
            return
        }
        if(!ls_phone){
            alert("공백은 불가합니다.")
            return
        }

        $.ajax({
            url: '/authcrud/update',
            type: "POST",
            data: {
                "passwd1" : ls_passwd,
                "passwd2" : ls_passwd,
                "phone" : ls_phone,
                "username" : ls_name,
                "userid" : ls_userid
            },
            async: false,
            success:function (data) {
                alert("성공")
            },error:function (e) {
                alert("오류발생");
                console.log('error', e)
            }
        }).done(function(fragment){

        })


    }

    function check_pw(){
        var pw = document.getElementById('actpasswdz').value;

        const pattern_pwd = /(?=.*\d{1,20})(?=.*[~`!@#$%\^&*()-+=]{1,20})(?=.*[a-zA-Z]{1,20}).{8,20}$/;

        if(!(pattern_pwd.test(pw))){
            window.alert('영문+숫자+특수문자 조합으로 8자리 이상 비밀번호를 입력해주세요.');
            document.getElementById('actpasswdz').value="";
            document.getElementById('actpasswdz').focus();
        }
    }


    function logout(){   
            if (!confirm("로그아웃하시겠습니까?") ){
             return    
            }else{
                insertLogOut()
                location.href = "/" ;
            }
            
        }  
        
        
    function insertLogOut(){ 
        var ls_loginid   = document.getElementById('actuseridz').value;  
        $.ajax({
            url: '/authcrud/logoutlog',
            type:"POST",
            data: {
                "loginid" : ls_loginid 
            },
            async:false,
            success:function(){
                    console.log('success');
            }
        });
        }

</script>
<script>
    $(document).ready(function() {
        getToday()
        fn_egov_init_date()
        $('datetimepicker').datetimepicker({

        });

        $("#frdate").change(function(e){
            // console.log("달력클릭");
            // console.log(convert_time(e.timestamp));
        })
        $("#todate").change(function(e){
            // console.log("달력클릭");
            // console.log(convert_time(e.timestamp));
        })
    })



    function getToday(){
        let today = new Date();

        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let date = today.getDate();  // 날짜
        let day = today.getDay();  // 요일
        if(date > 0 && date < 10) {date = "0" + date};
        if(month > 0 && month < 10) {month = "0" + month};
        let ls_frday = year + '-' + month + '-01'
        let ls_today = year + '-' + month + '-' + date
        document.getElementById('frdate').value = ls_frday;
        document.getElementById('todate').value = ls_today;
        document.getElementById('frdate2').value = ls_frday;
        document.getElementById('todate2').value = ls_today;

    }



    function fn_egov_init_date(){
        var $frdate = $('#frdate');
        var $todate = $('#todate');
        $frdate.datetimepicker({
            timepicker: false,
            lang: 'ko',
            format: 'Y-m-d',
            scrollMonth: false,
            scrollInput: false,
            onShow: function (ct) {
                this.setOptions({
                    // maxDate: $frdate.val() ? $frdate.val() : false
                })
            },
        });

        $todate.datetimepicker({
            timepicker: false,
            lang: 'ko',
            format: 'Y-m-d',    //'Y-m-d H:i',
            scrollMonth: false,
            scrollInput: false,
            onShow: function (ct) {
                this.setOptions({
                    // minDate: $todate.val() ? $todate.val() : false
                })
            }
        });

    }


    function fn_egov_init_date(){
        var $frdate = $('#frdate');
        var $todate = $('#todate');
        $frdate.datetimepicker({
            timepicker: false,
            lang: 'ko',
            format: 'Y-m-d',
            scrollMonth: false,
            scrollInput: false,
            onShow: function (ct) {
                this.setOptions({
                    // maxDate: $frdate.val() ? $frdate.val() : false
                })
            },
        });

        $todate.datetimepicker({
            timepicker: false,
            lang: 'ko',
            format: 'Y-m-d',    //'Y-m-d H:i',
            scrollMonth: false,
            scrollInput: false,
            onShow: function (ct) {
                this.setOptions({
                    // minDate: $todate.val() ? $todate.val() : false
                })
            }
        });

    }
</script>
        <!--<form class="row gy-2 gx-4 align-items-center" role="form" th:object="${userFormDto}" th:action="@{/appcom01/update}" method="post" enctype="multipart/form-data"></form>
            Actas Elevator 고객센터 <br>
        <p>
        아이디<input type="text"  name="userid" th:value="${userFormDto.userid}" >
        사용자명<input type="text" name="username" th:value="${userFormDto.username}" > 
        거래처코드<input type="text"  name="cltcd" th:value="${userFormDto.cltcd}" >
        DBNAME<input type="text" name="dbnm" th:value="${userFormDto.dbnm}" > 
        구분<input type="text" name="flag" th:value="${userFormDto.flag}" > 
        </p>
    </form>-->
<footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer>
</body>
</html>