<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTAS Elevator 고객센터 관리자화면</title>
</head>
<body style="background: #f5f9fa">
<input type="hidden"  name="actuseridz" id="actuseridz" th:value="${userFormDto.userid}" >
<div class="content flex">
    <div class="header">
        <div class="left">
            <div class="ham">
                <button type="button"><img src="/images/ham.png" alt=""></button>
            </div>
            <div class="nav_bg"></div>
            <th:block th:include="layouts/APPHeader/appcareleftadmin" />
        </div>
        <div class="right">
        </div>
    </div>
    <div class="con"> 
        <div class="header_top">
            <ul class="left">
                <li>
                    <div class="logo">
                        <a href="">
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div>
                </li>
                <li class="home on">
                    <a><img src="/images/i_home.png" alt=""></a>
                    <a><img src="/images/i_home_on.png" alt=""></a>
                </li> 
                <li>
                    관리자모드 DashBoard
                </li>
            </ul>
            <ul class="right">

                <li>
                    <a href="#">
                        <img src="/images/in2.png" onclick="logout()">
                    </a>
                </li>
                <!-- <li>
                    <button id="userinfo"> 
                        <img src="/images/i_user.png" alt="">
                    </button>
                </li> -->
            </ul>
        </div>

        <div class="section section2">
            <div class="sec_con" style="width: 100%;">
                <div class="box_wrap ">
                    <ul class="center_list">
                        <li>
                            <div class="img">
                                <img src="/images/center_img1.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>사용자관리</h5>
                                <p>사용자별로 사용여부를 관리할 수 있습니다.</p>
                                <a th:href="@{/admin/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img2.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>보수현장별 사용 관리</h5>
                                <p>유지보수현장별로 종합유지관리 서비스 제공여부를 관리할 수 있습니다.</p>
                                <a th:href="@{/admin/index02}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img3.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>사용자별 접속정보</h5>
                                <p>사용자별로 접속 이력을 살펴 볼 수 있습니다.</p>
                                <a th:href="@{/admin/index03}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                    </ul>
                    <ul class="center_list">
                        <li>
                            <div class="img">
                                <img src="/images/center_img4.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>사업장정보 / 문자발신번호</h5>
                                <p>우리 사업장 정보를 수정하거나 문자 발신번호를 등록 할 수 있습니다.</p>
                                <a th:href="@{/admin/index04}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img5.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>통신사 API 계정정보</h5>
                                <p>통화 수신서비스 API 계정정보를 등록할 수 있습니다.</p>
                                <a th:href="@{/admin/index05}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <!-- <li>
                            <div class="img">
                                <img src="/images/center_img6.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>발신번호정보</h5>
                                <p>문자송신시 발신번호를 등록할 수 있습니다.</p>
                                <a th:href="@{/admin/index06}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<input class="form-control form-control-sm"  type="hidden" id="userinfobtn" data-bs-toggle="modal" data-bs-target="#userinfomodal"  />

<!--------------------------------------------------------------------------------------->
<!-- 마이페이지 MODAL FROM  -->
<div class="modal fade" id="userinfomodal" data-bs-keyboard="false"
     data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
         style="max-width: 500px">
        <div class="modal-content border-0">
            <div class="modal-body p-0" >
                <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                    <!-- <h4 class="mb-1" id="modalExampleDemoLabel">현장검색</h4>  -->
                    <label>비밀번호</label>
                    <input class="form-control form-control-sm" type="text"  th:value="${userFormDto.passwd1}" id="actpasswdz" onchange="check_pw()">
                    <label>이름</label>
                    <input class="form-control form-control-sm" type="text"  th:value="${userFormDto.username}" id="actnamez">
                    <label>핸드폰번호</label>
                    <input class="form-control form-control-sm" type="text"  th:value="${userFormDto.phone}" id="actphonez">
                    <!--<input class="form-control form-control-sm" type="text"  th:value="${userFormDto.userid}">-->


                </div>

            </div>

            <div class="modal-footer">
                <div class="row g-1">
                    <div class="col-auto">
                        <button class="badge-soft-primary dropdown-item rounded-1"
                                type="button"  id="wpernmmodal_btn2" data-bs-dismiss="modal" onclick="save_btn3()">수정</button>
                    </div>
                    <div class="col-auto">
                        <button class="badge-soft-primary dropdown-item rounded-1"
                                type="button"  id="wuserinfomodal_btn" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------->
<!-- modal -->


<script type="text/javascript" th:inline="javascript">
 
    window.onload = function (){
 
    } //onload 끝
 
  
    function logout(){   
            if (!confirm("로그아웃하시겠습니까?") ){
             return    
            }else{
                insertLogOut()
                location.href = "/" ;
            }
            
        }  
        
        
        
    function insertLogOut(){ 
        var ls_loginid   = document.getElementById('actuseridz').value;  
        $.ajax({
            url: '/authcrud/logoutlog',
            type:"POST",
            data: {
                "loginid" : ls_loginid 
            },
            async:false,
            success:function(){
                    console.log('success');
            }
        });
        }

    function check_pw(){
        var pw = document.getElementById('actpasswdz').value;

        const pattern_pwd = /(?=.*\d{1,20})(?=.*[~`!@#$%\^&*()-+=]{1,20})(?=.*[a-zA-Z]{1,20}).{8,20}$/;

        if(!(pattern_pwd.test(pw))){
            window.alert('영문+숫자+특수문자 조합으로 8자리 이상 비밀번호를 입력해주세요.');
            document.getElementById('actpasswdz').value="";
            document.getElementById('actpasswdz').focus();
        }
    }

</script> 
<footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer>
</body>
</html>