<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" > 
 
<head th:replace="layouts/layout01/fragments/head :: headFragment"/>

<body>
    <header th:replace="layouts/layout01/fragManager/headerMag :: headerFragment"></header>  
    <!-- <div layout:fragment="content">contents</div> -->
    <footer th:replace="layouts/layout01/fragments/footer :: footerFragment"></footer>

</body>
</html>

<!-- <!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator ="layouts/layout01/multipleLayout"> 
      <head>
        <title>Page Title</title> 
    </head>
    <body>
        <section layout:fragment="content">
            <div class="container">
                <div class="d-title">
                    <h2>thymeleaf tutorial 과정</h2>
                </div>
                <div class="d-content">
                    <div class="row">
                        <ul>
                            <li>thymeleaf 관련 configuration 설정하기</li>
                            <li>thymeleaf로 웹 페이지 구성하기</li>
                            <li>JSP vs thymeleaf 비교하기</li>
                            <li>thymeleaf layout 구성하기</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
         
    </body>
    </html> -->


 