<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >


<head th:replace="layouts/XRegister/head :: headFragment"/>

<body style="background: url(/images/bg1.png) center center; background-size: cover">
<script src="/static/assets/js/jquery-3.1.1.min.js"></script>
<script src="/static/assets/js/script.js></script"></script>


<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/sub.css">
<!--
<header th:replace="layouts/XRegister/mainContents :: mainContents"></header>  -->
<div class="content">

    <div class="box_con_wrap">
        <div class="box_con">
            <div class="logo">
                <a th:href="@{/}">
                <img src="/images/logo.png" alt="">
                </a>
            </div>
            <div class="form">
                <div class="tit">
                    회원가입
                </div>
                <div class="sub_tit">
                    유지보수센터
                </div>
                <div class="form_wrap">

                    <form th:action="@{/auth/save}" role="form" method="post"  th:object="${userFormDto}">

                        <div class="input_wrap flex">
                            <p>사업자 번호</p>
                            <input type="text" autocomplete="on" id="saupnum" name="saupnum" th:field="*{saupnum}"/>
                            <div th:if="${#fields.hasErrors('saupnum')}"  th:errors="*{saupnum}"  class="alert alert-warning border-2 d-flex align-items-center" role="alert">
                                <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
                                <p class="mb-0 flex-1">Incorrent data</p>
                            </div>
                            <div id="inwarnning_div"></div>

                            <button type="button" id="saupnum_btn" name="saupnum_btn"><span class="fas fa-check" data-fa-transform="shrink-3 down-2"></span>
                                <span class="d-none d-sm-inline-block ms-1">업체확인</span></button>
                            <input type="hidden" value="N" id="squpnum_chk">
                        </div>

                        <!--
                        <div class="alert">사업자번호가 틀립니다.</div>
                        -->
                        <div class="input_wrap flex">
                            <p>아이디</p>
                            <input type="text" autocomplete="on" id="userid" name="userid" th:field="*{userid}" placeholder="아이디는 10자리까지입니다." maxlength="10"/>
                            <!--
                            <div th:if="${#fields.hasErrors('userid')}"  th:errors="*{userid}"  class="alert alert-warning border-2 d-flex align-items-center" role="alert">
                                <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
                                <p class="mb-0 flex-1">Incorrent data</p>
                            </div>
                            -->
                            <div id="inchkid_div"></div>






                            <button type="button" id="idchk_btn" name="idchk_btn"><span class="fas fa-check" data-fa-transform="shrink-3 down-2"></span>
                                <span class="d-none d-sm-inline-block ms-1">중복확인</span>
                            </button></button><input type="hidden" value="N" id="idchk">
                        </div>



                        <div class="input_wrap flex">
                            <p>비밀번호</p>
                            <input type="password" autocomplete="on" id="passwd1" name="passwd1" onchange="check_pw()" th:field="*{passwd1}"/>
                            <button type="button" class="visihidden" disabled>비고</button>
                        </div>


                        <div class="input_wrap flex">
                            <p>비밀번호 확인</p>
                            <input type="password" autocomplete="on" id="passwd2" name="passwd2" onchange="check_pw()" th:field="*{passwd2}"/>
                            <button type="button" class="visihidden" disabled>비고</button>
                        </div>
                        <span id="check" style="margin-left: 140px"></span>


                        <div class="input_wrap flex">
                            <p>핸드폰 번호</p>
                            <input type="text" autocomplete="on" id="phone" name="phone" th:field="*{phone}" placeholder="010포함 11자리입니다. -포함 시 13자리" maxlength="13"/>
                            <div th:if="${#fields.hasErrors('phone')}"  th:errors="*{phone}"  class="alert alert-warning border-2 d-flex align-items-center" role="alert">
                                <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
                                <p class="mb-0 flex-1">Incorrent data</p>
                            </div>
                            <div id="inchkphone_div"></div>


                            <button type="button" id="phone_chk" name="phone_chk">중복확인</button>
                            <input type="hidden" id="phonechk" value="N">
                        </div>


                        <div class="mb-3">
                            <div th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"  class="alert alert-warning border-2 d-flex align-items-center" role="alert">
                                <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
                                <p class="mb-0 flex-1">Incorrent data</p>
                            </div>
                        </div>




                        <div class="btn_wrap">
                            <button type="button" name="save_btn" id="save_btn">사용자등록</button>
                        </div>
                        <div class="col-auto">
                            <div id="statusdis01"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var btn_obj = document.getElementById('save_btn');
    btn_obj.addEventListener("click",function(){
        var ls_phonedel = document.getElementById('phone').value

        // alert("save");
        //TB_FPLAN_WORK TB_FPLAN_W010  SAVE
        var ls_saupnum   = document.getElementById('saupnum').value.replaceAll("-","");
        var ls_userid = document.getElementById('userid').value;
        var ls_phone = document.getElementById('phone').value.replaceAll("-","");
        var ls_passwd1   = document.getElementById('passwd1').value;
        var ls_passwd2   = document.getElementById('passwd2').value;
        var ls_idchk = document.getElementById('idchk').value;
        var ls_saupnumchk = document.getElementById('squpnum_chk').value;
        var phonechk = document.getElementById('phonechk').value;
        //  var ls_username = document.getElementById('username');
        //  var ls_flag   = document.getElementById('flag').value;


        if(ls_saupnum == null || ls_saupnum == undefined || ls_saupnum == ""){alert('사업자번호를 입력하세요.');return;}
        if(ls_userid == null || ls_userid == undefined || ls_userid == ""){alert('아이디를 입력하세요.'); return;}
        if(ls_passwd1 == null || ls_passwd1 == undefined || ls_passwd1 == ""){alert('비밀번호를 기입하십시오.'); return;}
        if(ls_passwd2 == null || ls_passwd2 == undefined || ls_passwd2 == ""){alert('비밀번호를 기입하십시오.'); return;}
        if(ls_passwd1 != ls_passwd2){alert('비밀번호가 맞지 않습니다. 확인바랍니다.'); return;}
        if(ls_phone == null || ls_phone == undefined || ls_phone == ""){alert('핸드펀 번호를 기입하십시오.'); return;}
        if(ls_idchk == "N"){alert('아이디중복확인을 완료하십시오.'); return;}
        if(ls_saupnumchk == "N"){alert('사업자확인을 완료하십시오.'); return;}
        if(phonechk == "N"){alert('핸드폰번호 중복확인을 완료하십시오.'); return;}


        $.ajax({
            url: '/authcrud/save',
            type:"POST",
            data: {
                "saupnum"    : ls_saupnum ,
                "userid"  : ls_userid,
                "flag"      : "AA",
                "username"  : '',
                "passwd1"   : ls_passwd1   ,
                "passwd2"   : ls_passwd2   ,
                "phone"     : ls_phone      ,
                "actcd"    : '',
                "actnm"    : ''

            },
            async:false,
            success:function(data){
                console.log("등록OK", data);
                const statusdis_div = document.getElementById('statusdis01');
                if(data == "success"){
                    alert("등록 되었습니다.");
                        $("#selectop").val("")
                        window.location.href = "/";
                    var ls_text = "<div style='color:red'><span class='badge badge-soft-danger'>가입되었습니다.</span></div>";
                }else{
                    alert("등록오류");
                    var ls_text = "<div style='color:red'><span class='badge badge-soft-info'>가입실패</span></div>";
                }
                statusdis_div.innerHTML  = ls_text;


            },error:function(e){
                console.log('error',e);
            }
        }).done(function(fragment){

        })

    })

    document.getElementById("idchk_btn").addEventListener("click", function(){
        const inchkid_div = document.getElementById('inchkid_div');
        var ls_username = document.getElementById('userid').value;

        const pattern_id = /^[a-zA-Z0-9_]{3,20}$/;

        if(!(pattern_id.test(ls_username))){
            window.alert('영문+숫자 조합으로 3자리 이상 아이디를 입력해주세요.');
            document.getElementById('userid').value="";
            document.getElementById('userid').focus();
            return;
        }

        if(ls_username == "" || ls_username == null){
            window.alert("빈 문자열입니다."); return;
        }  //아이디중복체크시 공백문자열일 경우 리턴
        console.log(ls_username); //문제x, 로그 잘찍힘
        $.ajax({
            url: '/authcrud/useriddupchk',
            type: "POST",

            data: {"userid" : ls_username},
            success:function(data){
                console.log("su-->" + data);
                if(data == "error"){
                    ls_text = "<div style='color:red'><span class='badge rounded-pill' style='background-color: #d3e3e7'>아이디가 중복됩니다. 다시 입력하세요</span></div>";
                }else{
                    ls_text = "<div style='color:blue'><span class='badge rounded-pill' style='background-color: #d3e3e7'>사용가능한 아이디입니다.<br>수정을 원하시면 페이지를 새로고침하십시오.</span></div>";

                    document.getElementById('idchk').value= "Y";
                    txtActive();
                }
                inchkid_div.innerHTML  = ls_text;
            },error:function(e){
                console.log("er-->");
                ls_text = "<div style='color:red'><span class='badge rounded-pill bg-info'>아이디가 중복됩니다. 다시 입력하세요</span></div>";
                inchkid_div.innerHTML  = ls_text;
                // alert(data.code);
                // alert(e);
                return false
            }
        }).done(function(fragment){

        })
    });



    function txtActive(){
        const target = document.getElementById('userid');
        target.disabled = true;
    }
    function saupActive(){
        const target = document.getElementById('saupnum');
        target.disabled = true;
    }
    function phoneActive(){
        const target = document.getElementById('phone');
        target.disabled = true;
    }



    document.getElementById("saupnum_btn").addEventListener("click", function(){

        const warnning_div = document.getElementById('inwarnning_div');
        var ls_saupnum   = document.getElementById('saupnum').value.replaceAll("-","");;
        console.log(ls_saupnum);
        $.ajax({
            url: '/authcrud/searchnum',
            type: "POST",
            data: {"saupnum" : ls_saupnum},
            success:function(data){
                console.log("su -->"+data);
                if(data == "error"){
                    ls_text = "<div style='color:red'><span class='badge rounded-pill' style='background-color: #d3e3e7'>올바르지 않은 사업자번호입니다.</span></div>"
                    //document.getElementById('squpnum_chk').value = "N";
                }else{
                    ls_text = "<div style='color:blue'><span class='badge rounded-pill' style='background-color: #d3e3e7'>" + data + "</span></div>";
                    document.getElementById('squpnum_chk').value = "Y";
                    saupActive();

                }
                warnning_div.innerHTML = ls_text;
            },error:function(e){
                console.log("er-->");
                ls_text = "<div style='color:red'><span class='badge rounded-pill bg-info'>정확한 사업자번호를 입력하세요</span></div>";
                warnning_div.innerHTML = ls_text;

                return false
            }
        }).done(function(fragment){})
    })

    document.getElementById("phone_chk").addEventListener("click", function(){

        const inchkphone_div = document.getElementById('inchkphone_div');
        var ls_userphone = document.getElementById('phone').value.replaceAll("-","");
        if(ls_userphone == "" || ls_userphone == null){
            window.alert("빈 문자열입니다."); return;
        }
        console.log(ls_userphone);

        $.ajax({
            url: '/authcrud/userphdupchk',
            type: "POST",

            data: {"phone" : ls_userphone},
            success:function (data) {
                console.log("su-->" + data);
                if(data == "error"){
                    ls_text = "<div style='color:red'><span class='badge rounded-pill' style='background-color: #d3e3e7'>번호가 중복됩니다. 다시 입력하세요</span></div>";
                }else{
                    ls_text = "<div style='color:blue'><span class='badge rounded-pill' style='background-color: #d3e3e7'>사용가능한 번호입니다.<br>수정을 원하시면 페이지를 새로고침하십시오.</span></div>";

                    document.getElementById('phonechk').value= "Y";
                    phoneActive();
                }
                inchkphone_div.innerHTML = ls_text;
            },error:function (e){
                console.log("er-->");
                ls_text = "<div style='color:red'><span class='badge rounded-pill bg-info'>번호가 중복됩니다. 다시 입력하세요</span></div>";
                inchkphone_div.innerHTML = ls_text;
                return false
            }
        }).done(function (fragment){

        })
    });

</script>

<script>

    function check_pw(){
        var pw = document.getElementById('passwd1').value;

        const pattern_pwd = /(?=.*\d{1,20})(?=.*[~`!@#$%\^&*()-+=]{1,20})(?=.*[a-zA-Z]{1,20}).{8,20}$/;

        if(!(pattern_pwd.test(pw))){
            window.alert('영문+숫자+특수문자 조합으로 8자리 이상 비밀번호를 입력해주세요.');
            document.getElementById('passwd1').value="";
            document.getElementById('passwd1').focus();
        }
        if(document.getElementById('passwd1').value !="" && document.getElementById('passwd2').value != ""){
            if(document.getElementById('passwd1').value==document.getElementById('passwd2').value){
                document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                document.getElementById('check').style.color='blue';
            }
            else{
                document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                document.getElementById('check').style.color='red';
            }
        }

    }

</script>


<!-- <div layout:fragment="content">contents</div> -->
<footer th:replace="layouts/XRegister/footer :: footerFragment"></footer>

</body>
</html>


