<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<body style="background: #f5f9fa;">
    <header>

    </header>
    <div class="content flex">
        <div class="header on">
            <div class="left">
                <div class="ham">
                    <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                </div>
                <div class="nav_bg"></div>
                <!-- ################################ -->
                <!-- ## Left navigator include -->
                <th:block th:include="layouts/APPHeader/appLeftNav" />
            </div>
            <div class="right">           
            </div>
        </div>
        <div class="con">
            <!-- ## header top include -->
            <th:block th:include="layouts/APPHeader/appheadTop" />
            <div class="infor_bar type2"> 
                <div class="left">
                    공통코드등록
                </div>
                <ul class="right">
                    <li>
                        <button class="btn btn-secondary me-1 mb-1"  id="retrieveBtn" type="button"><i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                        </button> 
                    </li>
                    <li>
                        <button class="btn btn-warning me-1 mb-1" type="button" onclick="delete_btn()"><span class="fas fa-trash ms-1" data-fa-transform="shrink-3"></span>삭제 </button>
                    </li>
                    <li>
                        <button class="btn btn-primary me-1 mb-1" type="button" onclick="save_btn()"><span class="fas fa-plus me-1" data-fa-transform="shrink-3"></span>저장 </button>
                    </li> 
                </ul>

            </div> 
            <div class="section status"> 
                <div class="sec_con" style="width: 100%;">
                    <div class="box_wrap"> 
                        <div class="table table_style2">
                            <div class="card-body bg-light">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" data-toggle="tab" href="#step01" onclick="tabchk_rtn('A')">공통분류등록</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#step02"  onclick="tabchk_rtn('B')">분류상세등록</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#step03"  onclick="tabchk_rtn('C')">기초코드3</a>
                                    </li> -->
                                    <input type="hidden" id="tabvalue" value="A">
                                  </ul>
                                  <div class="tab-content">
                                    <div class="tab-pane fade show active" id="step01">   
                                        <div class="row gx-3" style="  margin: 10px 10px 10px;"> 
                                            <div class="col-6 col-sm-3">
                                              <label class="form-label ls text-uppercase text-600 fw-semi-bold mb-0 fs--1" for="zipCode">대분류코드</label>
                                              <input class="form-control" id="com_cls" placeholder="3자리" type="text">
                                            </div>
                                            <div class="col-6 col-sm-3">
                                              <label class="form-label ls text-uppercase text-600 fw-semi-bold mb-0 fs--1" for="expDate">대분류명칭</label>
                                              <input class="form-control" id="com_cnam"   type="text">
                                            </div> 
                                          </div>
                                        <div class="container-fluid"> 
                                            <div id="wtab01Grid_div" ></div>
                                            <div id="tab01Pager"></div>
                                        </div>   
                                    </div>
                                    <div class="tab-pane fade" id="step02">
                                        <div class="container-fluid">
                                            <div id="wtab02Grid_div" ></div>
                                            <div id="tab02Pager"></div>
                                          </div>
                                    </div>
                                    <div class="tab-pane fade" id="step03">
                                        <div class="container-fluid">
                                            <div id="wtab03Grid_div" ></div>
                                            <div id="tab03Pager"></div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>    
                </div>
            </div>
        </div>
    </div>
    
    <input class="form-control form-control-sm"  type="hidden" id="actnmbtn" data-bs-toggle="modal" data-bs-target="#actnmmodal"  />  
    <input class="form-control form-control-sm"  type="hidden" id="actcontnmbtn" data-bs-toggle="modal" data-bs-target="#actcontnmmodal"  /> 

 
<!--------------------------------------------------------------------------------------->     








    <script type="text/javascript" th:inline="javascript">
         var view_p01tab01page;
         var view_p01tab02page;
         var view_p01tab03page; 
         var wtab01Grid;
         var wtab02Grid;
         var wtab03Grid; 
         var typeMenu;  
         var treemap;
         let barchart;
         let ani;
        var wseries_data = [0]; 

         window.onload = function() {  
            localStorage.setItem("setpage", "app03p001");
            //tab02 차트그리기
            // Tab02Chartinit()
            //tab03 차트그리기
            // Tab03Chartinit()
            //tab01검색 popup list
            view_p01tab01page = new wijmo.collections.CollectionView(getData_tab01(), {
                pageSize: 12
            });
            // tab01검색 페이지 이동
            new wijmo.input.CollectionViewNavigator('#tab01Pager', {
                byPage: true,
                headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
                cv: view_p01tab01page
            });     
            wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {  
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: false, 
                // selectionMode: 'RowRange',
                allowSorting: 'MultiColumn',
                alternatingRowStep: 0,
                columns: [     
                    { binding: 'com_cls', header: '대분류코드', align: "center",   width: 100 }, 
                    { binding: 'com_cnam', header: '대분류명칭', align: "center", 
                        cellTemplate: wijmo.grid.cellmaker.CellMaker.makeLink({ 
                            text: '<b>${item.com_cnam}</b>',
                            click: (e, ctx) => {
                                wactnmChk(ctx.item.com_cls, ctx.item.com_cnam);
                            }
                        }),
                    width: 300},  
                    // { binding: 'psize', header: '규격', width: '*', format: '*' }  
                ], 
                itemsSource: view_p01tab01page
            });  

            new FlexGridContextMenu(wtab01Grid); 
            // 선택기 생성
            let selector = new wijmo.grid.selector.Selector(wtab01Grid, {
                itemChecked: () => {
                    showCheckedCount();
                }
            }); 
            // 헤더 열 전환
            setHeaderColumn(true);
            function setHeaderColumn(headerOn) {
                wtab01Grid.headersVisibility = headerOn
                ? wijmo.grid.HeadersVisibility.All
                : wijmo.grid.HeadersVisibility.Column;
                selector.column = headerOn
                ? wtab01Grid.rowHeaders.columns[0]
                : wtab01Grid.columns[0];
            } 
            wtab01Grid.showMarquee = true;
            wtab01Grid.focus();
            wijmo.toggleClass(wtab01Grid.hostElement, 'highlightActive', true);
            wtab01Grid.focus();


            // tab01검색 데이터 수집
            function getData_tab01(){    
                var wtab01Dto = [[${comcodeList}]];   
                var wactnm_data = [];
                var cnt = 1;
                for (var i = 0; i < wtab01Dto.length; i++) {
                    wactnm_data.push({
                        id: i, 
                        index: cnt,
                        com_cls:  wtab01Dto[i]["com_cls"], 
                        com_cnam:  wtab01Dto[i]["com_cnam"], 
                    });
                    cnt++;
                }     
                return wactnm_data;                                          
            } 

            //간편분류 popup list
            // view_p01tab02page = new wijmo.collections.CollectionView(getData_wlist(), {
            //     pageSize: 12
            // });
            // // 간편분류 페이지 이동
            // new wijmo.input.CollectionViewNavigator('#thePager01', {
            //     byPage: true,
            //     headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
            //     cv: view_p01tab02page
            // });     
            // wtab02Grid = new wijmo.grid.FlexGrid('#wtab02Grid_div', {  
            //     autoGenerateColumns: false,
            //     isReadOnly: false, 
            //     allowSorting: 'MultiColumn',
            //     selectionMode: 'RowRange',
            //     alternatingRowStep: 0,
            //     columns: [     
            //         { binding: 'actnm', header: '코드', align: "center", width: '1*' }, 
            //         { binding: 'telno', header: '간편분류명', align: "center", width: '1*' },  
            //     ], 
            //     itemsSource: view_p01tab02page
            // });  
            // // 현장검색 데이터 수집
            // function getData_wlist(){    
            //     var wactnm_data = [[${comcodeList}]];  
            //     var cnt = 1;
            //     for (var i = 0; i < 12; i++) {
            //         wactnm_data.push({
            //             id: i, 
            //             index: cnt,
            //             cifcode:  wactnm_data[i]["com_cls"], 
            //             cifcodename:  wactnm_data[i]["com_cnam"], 
            //         });
            //         cnt++;
            //     }    
            //     return wactnm_data;                                      
            // } 
                       

        } 

         
        //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        //선택한 탭 체크 
         function tabchk_rtn(arg){
            document.getElementById('tabvalue').value = arg; 
        } 

        function save_btn(arg){
            var ls_tab = document.getElementById('tabvalue').value;
            var ls_code = document.getElementById('com_cls').value;
            var ls_codenm = document.getElementById('com_cnam').value;

        
            if (!confirm("저장하시겠습니까?")) {
                    return ; 
            }   
            
            switch(ls_tab){
                case 'A':

                if(ls_code == null || ls_code.length == 0 || ls_code == ""){ 
                    alert("대분류코드를 3자리로 등록하세요") 
                    document.getElementById("com_cls").focus(); 
                    return ;               
                }  
                if(ls_codenm == null || ls_codenm.length == 0 || ls_codenm == ""){ 
                    alert("대분류명칭을 등록하세요") 
                    document.getElementById("com_cnam").focus(); 
                    return ;               
                }   

                    $.ajax({
                        url: '/app01m/comcodesave',  
                        type:"POST",
                        data: { 
                            "com_cls"      : ls_code,  
                            "com_cnam"      : ls_codenm ,  
                        }, 
                        async:false,
                        success:function(data){   
                            if(data == "success"){
                                alert("저장되었습니다.") 
                                searchList_rtn(ls_tab);  
                                clear_rtn(ls_tab);        
                            }else{                       
                                alert("저장중 오류가 발생했습니다. 관리자에게 문의하세요.")
                                // listUp();
                                console.log(data);  
                            }
                           
                        },error:function(e){
                            console.log("error"); 
                        }
                    }).done(function(fragment){           

                    })  
                    break;
                case 'B': 
                    $.ajax({
                        url: '/app03/p001tab02',  
                        type:"POST",
                        data: { 
                            "frdate"      : arg2,  
                            "todate"      : arg3 ,  
                            "actcdz"      : arg4 ,  
                            "actcontcdz"  : arg5  
                        }, 
                        async:false,
                        success:function(data){   
                            tabB_grid(data);
                        },error:function(e){
                            console.log("error"); 
                        }
                    }).done(function(fragment){           

                    })  
                    break;
                case 'C':
                    $.ajax({
                        url: '/app03/p001tab03',  
                        type:"POST",
                        data: { 
                            "frdate"      : arg2,  
                            "todate"      : arg3 ,  
                            "actcdz"      : arg4 ,  
                            "actcontcdz"  : arg5  
                        }, 
                        async:false,
                        success:function(data){   
                            tabC_grid(data);
                        },error:function(e){
                            console.log("error"); 
                        }
                    }).done(function(fragment){           

                    })  
                    break;                
                default:    
                    break;                
            } 

        } 

        function delete_btn(arg){
            var ls_tab = document.getElementById('tabvalue').value;
            var ls_code = document.getElementById('com_cls').value;
            var ls_codenm = document.getElementById('com_cnam').value;

        
            if (!confirm("삭제하시겠습니까?")) {
                    return ; 
            }   
            
            switch(ls_tab){
                case 'A':

                if(ls_code == null || ls_code.length == 0 || ls_code == ""){ 
                    alert("대분류코드를 확인하세요") 
                    document.getElementById("com_cls").focus(); 
                    return ;               
                }    

                    $.ajax({
                        url: '/app01m/comcodedel',  
                        type:"POST",
                        data: { 
                            "com_cls"      : ls_code,  
                            "com_cnam"      : ls_codenm ,  
                        }, 
                        async:false,
                        success:function(data){   
                            if(data == "success"){
                                alert("삭제되었습니다.") 
                                searchList_rtn(ls_tab);  
                                clear_rtn(ls_tab);             
                            }else{                       
                                alert("삭제중 오류가 발생했습니다. 관리자에게 문의하세요.")  
                            }
                           
                        },error:function(e){
                            console.log("error"); 
                        }
                    }).done(function(fragment){           

                    })  
                    break;
                case 'B': 
                    $.ajax({
                        url: '/app03/p001tab02',  
                        type:"POST",
                        data: { 
                            "frdate"      : arg2,  
                            "todate"      : arg3 ,  
                            "actcdz"      : arg4 ,  
                            "actcontcdz"  : arg5  
                        }, 
                        async:false,
                        success:function(data){   
                            tabB_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){           

                    })  
                    break;
                case 'C':
                    $.ajax({
                        url: '/app03/p001tab03',  
                        type:"POST",
                        data: { 
                            "frdate"      : arg2,  
                            "todate"      : arg3 ,  
                            "actcdz"      : arg4 ,  
                            "actcontcdz"  : arg5  
                        }, 
                        async:false,
                        success:function(data){   
                            tabC_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){           

                    })  
                    break;                
                default:    
                    break;                
            } 

        }         
        function clear_rtn(arg){
            switch(arg){
                case 'A': 
                    document.getElementById('com_cls').value = "";
                    document.getElementById('com_cnam').value = "";
                    break;
                case 'B': 
                    
                    break;
                case 'C':
                   
                    break;                
                default:    
                    break;                
            } 

        }
        //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                     
        // tab01 검색   
        document.getElementById("retrieveBtn").addEventListener("click",function(){ 
            
            var ls_tab = document.getElementById('tabvalue').value;   
            searchList_rtn(ls_tab);
        })   

        function searchList_rtn(arg1){ 
            switch(arg1){
                case 'A':
                    $.ajax({
                        url: '/app01m/comcodelist',  
                        type:"POST",
                        data: { 
                            "searchtxt"      : "%"  
                        }, 
                        async:false,
                        success:function(data){   
                            tabA_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){           

                    })  
                    break;
                case 'B': 
                    $.ajax({
                        url: '/app03/p001tab02',  
                        type:"POST",
                        data: { 
                            "frdate"      : arg2,  
                            "todate"      : arg3 ,  
                            "actcdz"      : arg4 ,  
                            "actcontcdz"  : arg5  
                        }, 
                        async:false,
                        success:function(data){   
                            tabB_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){           

                    })  
                    break;
                case 'C':
                    $.ajax({
                        url: '/app03/p001tab03',  
                        type:"POST",
                        data: { 
                            "frdate"      : arg2,  
                            "todate"      : arg3 ,  
                            "actcdz"      : arg4 ,  
                            "actcontcdz"  : arg5  
                        }, 
                        async:false,
                        success:function(data){   
                            tabC_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){           

                    })  
                    break;                
                default:    
                    break;                
            }
        

        }        
        function tabA_grid(data){
            var wtab01Dto  = data;    
            var wtab01_data = [];
            var cnt = 1;
            for (var i = 0; i < wtab01Dto.length; i++) {
                wtab01_data.push({
                    id: i, 
                    index: cnt,
                    com_cls: wtab01Dto[i]["com_cls"],
                    com_cnam: wtab01Dto[i]["com_cnam"],                                 
                });
                cnt++;
            }   
            // console.log("wtab01_data",wactnm_data) +
            // console.log(wtab01_data.length);
            wtab01Grid.columns.clear();  
            wtab01Grid.autoGenerateColumns = false; 
            view_p01tab01page.sourceCollection  = wtab01_data;
            var cols = new wijmo.grid.Column(); 
            cols.binding = 'com_cls';
            cols.header = '대분류코드';
            cols.align = "center";
            cols.width = 100; 
            wtab01Grid.columns.push(cols);    
            // console.log("cols", cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'com_cnam';
            cols.header = '대분류명칭';
            cols.align = "center";
            cols.width = 200; 
            cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                text: '<b>${item.com_cnam}</b>',
                click: (e, ctx) => {
                    wactnmChk(ctx.item.com_cls, ctx.item.com_cnam);
                }
            });
            wtab01Grid.columns.push(cols);   
 
        }
 
        function wactnmChk(arg1, arg2){
            document.getElementById('com_cls').value = arg1; 
            document.getElementById('com_cnam').value = arg2;    
        } 
         
        

  
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


        $(document).ready(function() { 
            getToday()
            fn_egov_init_date() 
            $("#frdate").change(function(e){ 
                // console.log("달력클릭");
                // console.log(convert_time(e.timestamp));
            })
            $("#todate").change(function(e){ 
                // console.log("달력클릭");
                // console.log(convert_time(e.timestamp));
            })
        })

        function test_rtn(arg1){
            console.log(arg1);
            const disHtml = `
                <div class="tab-pane fade show active" id=${arg1} role="tabpanel" aria-labelledby="profile-tab">${arg1}</div>`
            $('#btnDiv02').before(disHtml);
        }


        function getToday(){
            let today = new Date();   

            let year = today.getFullYear(); // 년도
            let month = today.getMonth() + 1;  // 월
            let date = today.getDate();  // 날짜
            let day = today.getDay();  // 요일
            if(month > 0 && month < 10) {month = "0" + month};
            if(date > 0 && date < 10) {date = "0" + date};
            let ls_frday = year + '-' + month + '-01' 
            let ls_today = year + '-' + month + '-' + date 
            // document.getElementById('frdate').value = ls_frday;
            // document.getElementById('todate').value = ls_today;
        }

        function convert_time(timestamp){ 
            //현재시간
            var date = new Date(timestamp); 
            var year = date.getFullYear();
            var month = ("0" + (1 + date.getMonth())).slice(-2);
            var day = ("0" + date.getDate()).slice(-2); 
            var hh = date.getHours();  
            var min = ('0' + date.getMinutes()).slice(-2) 
            time = year +  month +  day   ;
            return time;  
        }

        function fn_egov_init_date(){
             
        }
 
        class FlexGridContextMenu {
            constructor(grid) {
                let host = grid.hostElement, menu = this._buildMenu(grid);
                host.addEventListener('contextmenu', (e) => {
                    // 클릭된 셀/열 선택
                    let sel = grid.selection, ht = grid.hitTest(e), row = ht.getRow();

                    switch (ht.panel) {
                        case grid.cells:
                        let colIndex = ht.col;
                        // 만약 그룹 헤더이면, 그룹 열 선택
                        if (row instanceof wijmo.grid.GroupRow && row.dataItem instanceof wijmo.collections.CollectionViewGroup) {
                            let gd = row.dataItem.groupDescription;
                            if (gd instanceof wijmo.collections.PropertyGroupDescription) {
                            let col = grid.getColumn(gd.propertyName);
                            if (col && col.index > -1) {
                                colIndex = col.index;
                            }
                            }
                        }
                        grid.select(ht.row, colIndex);
                        break;
                        case grid.columnHeaders:
                        grid.select(sel.row, ht.col);
                        break;
                        case grid.rowHeaders:
                        grid.select(ht.row, sel.col);
                        break;
                        default:
                        return; // 유효하지 않는 패널
                    }
                    // 현재 열에 대한 메뉴 표시
                    if (grid.selection.col > -1) {
                        e.preventDefault(); // 브라우저의 기본 메뉴 취소
                        menu.show(e); // Wijmo 메뉴 표시
                    }
                }, true);
            }
            _buildMenu(grid) {
                let menu = new wijmo.input.Menu(document.createElement('div'), {
                owner: grid.hostElement,
                displayMemberPath: 'header',
                subItemsPath: 'items',
                commandParameterPath: 'cmd',
                dropDownCssClass: 'ctx-menu',
                openOnHover: true,
                closeOnLeave: true,
                itemsSource: [
                    {
                    header: '정렬', items: [
                        { header: 'Ascending', cmd: 'SRT_ASC' },
                        { header: 'Descending', cmd: 'SRT_DESC' },
                        { header: 'No Sort', cmd: 'SRT_NONE' },
                        { header: '-' },
                        { header: 'Clear All Sorts', cmd: 'SRT_CLR' }
                    ]
                    },
                    { header: '-' },
                    { header: 'Pin/Unpin', cmd: 'PIN' },
                    { header: '-' },
                    { header: 'AutoSize', cmd: 'ASZ' },
                    { header: 'AutoSize All', cmd: 'ASZ_ALL' },
                    { header: '-' },
                    { header: 'Group/Ungroup', cmd: 'GRP' },
                    { header: 'Clear All Groups', cmd: 'GRP_CLR' },
                    { header: '-' },
                    {
                    header: '내려받기', items: [
                        { header: 'CSV', cmd: 'X_CSV' },
                        { header: 'XLSX', cmd: 'X_XLSX' },
                        { header: 'PDF', cmd: 'X_PDF' },
                    ]
                    }
                ],
                command: {
                    // 메뉴 명령 활성화/비활성화
                    canExecuteCommand: (cmd) => {
                    let view = grid.collectionView, col = grid.columns[grid.selection.col];
                    switch (cmd) {
                        case 'SRT_ASC':
                        return col.currentSort != '+';
                        case 'SRT_DESC':
                        return col.currentSort != '-';
                        case 'SRT_NONE':
                        return col.currentSort != null;
                        case 'SRT_CLR':
                        return view.sortDescriptions.length > 0;
                        case 'PIN':
                        return true; // toggle pin
                        case 'ASZ':
                        case 'ASZ_ALL':
                        return true;
                        case 'GRP':
                        return col.dataType != wijmo.DataType.Number; // don't group numbers
                        case 'GRP_CLR':
                        return view.groupDescriptions.length > 0;
                    }
                    return true;
                    },
                    // 메뉴 명령 실행
                    executeCommand: (cmd) => {
                        let view = grid.collectionView, cols = grid.columns, col = cols[grid.selection.col], sd = view.sortDescriptions, gd = view.groupDescriptions;
                        switch (cmd) {
                            case 'SRT_ASC':
                            case 'SRT_DESC':
                            case 'SRT_NONE':
                            if (grid.allowSorting != wijmo.grid.AllowSorting.MultiColumn) {
                                sd.clear();
                            }
                            else {
                                for (let i = 0; i < sd.length; i++) {
                                if (sd[i].property == col.binding) {
                                    sd.removeAt(i);
                                    break;
                                }
                                }
                            }
                            if (cmd != 'SRT_NONE') {
                                sd.push(new wijmo.collections.SortDescription(col.binding, cmd == 'SRT_ASC'));
                            }
                                break;
                            case 'SRT_CLR':
                                sd.clear();
                                break;
                            case 'PIN':
                                let fCols = grid.frozenColumns;
                                if (col.index >= fCols) { // pinning
                                    cols.moveElement(col.index, fCols, false);
                                    cols.frozen++;
                                }
                                else { // unpinning
                                    cols.moveElement(col.index, fCols - 1, false);
                                    cols.frozen--;
                                }
                                break;
                            case 'ASZ':
                                grid.autoSizeColumn(col.index);
                                break;
                            case 'ASZ_ALL':
                                grid.autoSizeColumns(0, grid.columns.length - 1);
                                break;
                            case 'GRP':
                            // 그룹 삭제
                                for (let i = 0; i < gd.length; i++) {
                                    if (gd[i].propertyName == col.binding) {
                                    gd.removeAt(i);
                                    return; // we're done
                                    }
                                }
                                // 그룹 추가
                                gd.push(new wijmo.collections.PropertyGroupDescription(col.binding));
                                break;
                            case 'GRP_CLR':
                                gd.clear();
                                break;
                            // 내보내기
                            case 'X_CSV':
                                let rng = new wijmo.grid.CellRange(0, 0, grid.rows.length - 1, grid.columns.length - 1), csv = grid.getClipString(rng, wijmo.grid.ClipStringOptions.CSV, true, false);
                                wijmo.saveFile(csv, 'FlexGrid.csv');
                                break;
                            case 'X_XLSX':
                                const gridView = grid.collectionView;
                                let oldPgSize = gridView.pageSize, oldPgIndex = gridView.pageIndex;

                                grid.beginUpdate();
                                gridView.pageSize = 0;

                                wijmo.grid.xlsx.FlexGridXlsxConverter.saveAsync(grid, {includeCellStyles: true, includeColumnHeaders: true}, 'FlexGrid.xlsx',
                                saved => {
                                gridView.pageSize = oldPgSize;
                                gridView.moveToPage(oldPgIndex);
                                grid.endUpdate();
                                }, null
                                ); 
                                break;
                            case 'X_PDF':
                                wijmo.grid.pdf.FlexGridPdfConverter.export(grid, 'FlexGrid.pdf', {
                                    maxPages: 10,
                                    scaleMode: wijmo.grid.pdf.ScaleMode.PageWidth,
                                    documentOptions: {
                                    compress: true,
                                    header: { declarative: { text: '\t&[Page] of &[Pages]' } },
                                    footer: { declarative: { text: '\t&[Page] of &[Pages]' } },
                                    info: { author: 'GrapeCity', title: 'FlexGrid' }
                                    },
                                    styles: {
                                    cellStyle: { backgroundColor: '#ffffff', borderColor: '#c6c6c6' },
                                    altCellStyle: { backgroundColor: '#f9f9f9' },
                                    groupCellStyle: { backgroundColor: '#dddddd' },
                                    headerCellStyle: { backgroundColor: '#eaeaea' }
                                    }
                                });
                                break;
                        }
                        // 활성화 그리드 셀에 포커스 복원
                        grid.refresh();
                        let sel = grid.selection, cell = grid.cells.getCellElement(sel.row, sel.col);
                        if (cell) {
                            cell.focus();
                        }
                    }
                }
                });
                // 완료
                return menu;
            }
        }        


    </script>
    
    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

    <!-- modal -->
    <!-- class="modal_step_open" modal_step="1" -->
    
    <div class="modal modal modal_step modal_step1 hidden">
        <div class="modal_overlay">
        </div>
        <div class="modal_content modal_sm scrollbar">
            <div class="layoutCont">  
                <div class="modalContWrap">
                    <!-- <div class="modal_close cancerButton">
                      <img th:src="@{/assets/images/modal_close.png}" alt="모달 닫기버튼">
                    </div>                       -->
                    <div class="modal_head">
                    </div>
                    <div class="modal_con scrollbar">
                      모든 정보를 입력하세요.                          
                    </div>

                </div>
                <div class="modal_btn">
                    <button class="cancerButton " type="button">확인</button>
                </div>
                <!-- <div class="modal_btn flex">
                    <button class="cancerButton " type="button">확인</button>
                    <button class="cancerButton " type="button">확인</button>                        
                </div> -->
            </div>
        </div>
    </div>
    
</body>
</html>