<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.dae.kdmes.Mapper.App03.Index34Mapper">


    <select id="getList"  parameterType="com.dae.kdmes.DTO.app03.Index34Dto" resultType="com.dae.kdmes.DTO.app03.Index34Dto">
        <![CDATA[
        select b.indate ,ISNULL(DBO.DF_NM_RTN('TB_WFLAG', B.custcd, B.wflag, '', ''),'') as wflagnm,
        ISNULL(DBO.DF_NM_RTN('TB_WBAD', B.custcd, B.wflag, B.wcode, ''),'') as wbadnm,
        A.ecltnm, C.jchajong, C.jpum, A.lotno,
        (CASE WHEN B.wflag='00010' then (DBO.DF_NM_RTN('TB_JA001', A.custcd, E.wrps, '', '')) WHEN B.wflag='00020' then (DBO.DF_NM_RTN('TB_JA001', A.custcd, F.wrps, '', '')) ELSE '' END) as pernm ,
        B.wbqty
        FROM
        TB_FPLAN A WITH (NOLOCK)
        LEFT OUTER JOIN TB_FPLAN_W010 E ON E.plan_no = A.plan_no
        LEFT OUTER JOIN TB_FPLAN_W020 F ON F.plan_no = A.plan_no ,
        TB_FPLAN_WBAD B WITH (NOLOCK) ,
        jcode C WITH (NOLOCK)
        WHERE A.plan_no = B.plan_no
        AND A.pcode = C.jkey
        and A.indate between '20230701' and '20230930' and b.wflag LIKE '%' AND A.lotno Like '%' and B.wcode Like '%'
        ORDER BY A.LOTNO
        ]]>
    </select>


</mapper>
